{% extends "base.html" %}

{% load call %}

{% block first_side %}
  {% include 'top_ideas.html' %}
{% endblock %}


{% block second_side %}
  {% include 'nyeremeny.html' %}
{% endblock %}

{% block third_side %}
  
{% endblock %}

{% block fourth_side %}
  
{% endblock %}


{% block content %}

{% block content_top %}
{% endblock %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#{{ttype}}').addClass('selected_projekt_button');
  })
</script>

<div id="projekt_wrapper">
  <div id="projekt_header">
    <div style="width: 20px;" class="inverse">
    </div>
    {% call 'widgets/projekt_button.html' with title="Korábbiak" click="jump('/projektek/korabbiak')" id="korabbiak" %}
    {% call 'widgets/projekt_button.html' with title="Futnak" click="jump('/projektek/futnak')"  id="futnak" %}
    {% call 'widgets/projekt_button.html' with title="Legújabbak" click="jump('/projektek/legujabbak')"  id="legujabbak" %}
    
    <div id="projekt_search">
      <div class="left"></div>
      <div class="projekt_search_input" >
        <input type="text" id="projekt_search_input"/>
      </div>
      <div class="projekt_search_button" onclick="jump('/projektek/kereses/'+$('#projekt_search_input').val())">
        <span class="cufon2">Keress</span><div style="float: right;padding-right:10px;line-height: 25px;">››</div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
  
  <div id="projekt_content">  
  {% ifnotequal ttype 'legujabbak' %}
    {% if projects %}
      {% for project in projects %}
          {% call 'projektek/item.html' with project=project %}
      {% endfor %}
    {% else %}
    <center>
      <div class="no_result cufon">Fejlesztés alatt, nemsokára érkezik!</div>
    </center>
    {% endif %}
  {% else %}
    <center>
      <div class="no_result cufon">Fejlesztés alatt, nemsokára érkezik!</div>
    </center>
  {% endifnotequal %}
  </div>
</div>

{% endblock %}