#banner_
  position: relative
  margin-left: 0px
  margin-top: 0px
  width: 779px
  height: 213px
  background: url('/media/images/banner.png') no-repeat
  #tab
    position: absolute
    top: 18px
    left: 90px
  .title
    position: absolute
    left: 240px
    top: 18px
    font-size: 14px
    color: #000000
    a
      color: #b4c619
  #subtitle_bar
    position: absolute
    top: 151px
    left: 84px
    width: 685px
    height: 29px
    font-size: 11px
    font-weight: bolder
    line-height: 14px
    color: #ffffff
    text-align: center
    div
      padding-top: 3px
      float: left
    #subtitle_1
      margin-left: 15px
    #subtitle_2
      margin-left: 68px
    #subtitle_3
      margin-left: 80px
    #subtitle_4
      margin-left: 35px
    #subtitle_5
      margin-left: 45px
