#blog-bg_
  background: url('/media/images/blog_bg.png') no-repeat
  width: 321px
  height: 286px
  z-index: 1
  #inner
    margin-top: 3px
    margin-left: 0px
    width: 240px
    height: 257px
    padding: 10px 5px 10px 5px
    overflow: hidden
    a
      color: #b4c619
    .title
      padding-bottom: 0px
      a
        color: #b4c619
        font-size: 13px

.blog
  color: #000000
  float: right
  width: 500px
  b
    font-size: 13px
  .title
    font-size: 15px
    font-weight: bold
    padding-bottom: 10px
  .text
    font-size: 13px
    color: #000
    text-align: left
    line-height: 13px
    padding-bottom: 10px
    letter-spacing: 0px

    
.one_blog
  font-size: 12px
  line-height: 14px
  font-family: Arial, Helvetica, sans
  p
    padding-bottom: 10px

    
#blog-bg_ #click_for_more
  font-size: 12px
  font-weight: bold
