#fresh_ideas
  background: url('/media/images/fres_ideas_bg.png') no-repeat
  width: 252px
  height: 202px

#announcements 
  background: url('/media/images/fres_ideas_bg.png') no-repeat
  width: 244px
  height: 202px
  .announcement
    .text
      font-size: 11px
    padding-bottom: 10px
    b
      font-size: 11px

#top_ideas
  background: url('/media/images/top_ideas_bg.png') no-repeat
  width: 252px
  height: 300px
    
.idea_sidebox
  border: 1px solid #eeeded
  position: relative
  padding-left: 10px
  margin-bottom: 10px
  #title
    margin-top: 20px
    font-size: 15px
    color: #ffffff
    padding-bottom: 10px
  a
    font-weight: bold
    font-size: 11px
    color: #414042
  a.more
    padding-left: 20px
  .one_fresh_idea_row
    height: 24px
    padding-bottom: 15px
    .number
      font-size: 24px
      line-height: 24px
      color: #ffffff
      float: left
      width: 20px
      text-align: left
    .description
      font-weight: bold
      font-size: 12px
      color: #414042
      span
        color: #ffffff