#mentorok-bg_
  margin-top: 10px
  width: 321px
  height: 230px
  background: url('/media/images/mentorok_bg2.png') no-repeat
  padding: 5px
  .title
    font-size: 15px
    font-weight: bold
    color: #b4c619
    padding-top: 5px
    padding-bottom: 3px
    a
      color: #b4c619
  .text
    #img
      height: 200px
      float: left
      img
        float: left
        padding-right: 10px
 
    width: 220px
    height: 170px
    font-size: 12px
    color: #3b3c3b
    text-align: center
    letter-spacing: 0
    overflow: hidden
    margin-left: 5px
    margin-top: 10px
    a
      float: left
      color: #b4c619
      font-weight: bold
      &.allmentor
        float: right
        color: #b4c619

.mentor
  margin-bottom: 20px
  img
    border: 2px solid #b4c619
    height: 150px
    float: left
    margin-right: 10px
