#tob-banner_
  position: absolute
  left: 237px
  top: 57px
  width: 863px
  height: 122px
  background: url('/media/images/top_banner3.png') no-repeat

.menuitem
  float: left
  padding-top: 1px
  text-align: left
  color: #ffffff
  font-size: 12px
  cursor: pointer
  &:hover
    color: #cccccc

#slogan
  position: absolute
  left: 543px
  top: 50px
  font-size: 23px
  letter-spacing: -1px

#btn-ideas_
  width: 57px
  height: 94px
  margin-left: 20px
  background-image: url('/media/images/btn_ideas.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 0px

#btn-send-ideas_
  width: 59px
  height: 94px
  margin-left: 0px
  background-image: url('/media/images/btn_send_ideas.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 60px
  padding-left: 5px
  text-align: center

#btn-profile_
  width: 65px
  height: 94px
  margin-left: 15px
  background-image: url('/media/images/btn_profile.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 0px
  text-align: center

#btn-info_
  width: 63px
  height: 94px
  margin-left: -5px
  background-image: url('/media/images/btn_info.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 3px
  text-align: center

#btn-blog_
  width: 72px
  height: 94px
  margin-left: 10px
  background-image: url('/media/images/btn_blog.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 3px
  text-align: center

#btn-faq_
  width: 45px
  height: 94px
  margin-left: -5px
  background-image: url('/media/images/btn_faq.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 10px
  text-align: left
  
#btn-necc_
  width: 45px
  height: 94px
  margin-left: 15px
  background-image: url('/media/images/btn_necc2.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 10px
  text-align: left  

#btn-projektek_
  width: 61px
  height: 94px
  margin-left: 15px
  background-image: url('/media/images/btn_projektek.png')
  background-repeat: no-repeat
  background-position: 0 1px
  padding-top: 65px
  padding-left: 0px
  text-align: left  


#btn-ideas_:hover
  background-image: url('/media/images/btn_ideas_over.png')
  background-position: 2px 3px

#btn-send-ideas_:hover
  background-image: url('/media/images/btn_send_ideas_over.png')
  background-position: 2px 3px

#btn-profile_:hover
  background-image: url('/media/images/btn_profile_over.png')
  background-position: 2px 3px

#btn-info_:hover
  background-image: url('/media/images/btn_info_over.png')
  background-position: 2px 3px

#btn-blog_:hover
  background-image: url('/media/images/btn_blog_over.png')
  background-position: 2px 3px

#btn-faq_:hover
  background-image: url('/media/images/btn_faq_over.png')
  background-position: 2px 3px
  
#btn-necc_:hover
  background-image: url('/media/images/btn_necc_over2.png')
  background-position: 2px 3px  

#btn-projektek_:hover
  background-image: url('/media/images/btn_projektek_over.png')
  background-position: 2px 3px  

#login_box
  position: absolute
  font-size: 15px
  right: 90px
  top: 6px

#login_buttons
  position: absolute
  right: 90px
  top: 75px
  font-size: 15px
  a
    font-size: 15px
    margin-right: 6px

#username
  top: 23px

#password
  top: 44px

#login_box input
  border: none
  color: #9d9d9d
  font-size: 12px
  background: none
  width: 190px
  height: 18px
  padding: 0
  padding-left: 5px
  background: #fff
  padding: 0
  line-height: 18px
  margin-bottom: 5px
  

#tob-banner_ input.active
  color: #000000

