.msg
  display: none
  position: absolute
  z-index: 20000
  background: url(/media/images/msg_arrow.gif) left center no-repeat
  padding-left: 7px

.msgcontent
  display: block
  color: #002b55
  background: #f3e6e6
  border: 2px solid #924949
  border-left: none
  padding: 5px
  min-width: 150px
  max-width: 250px
