#mask
  position: absolute
  left: 0
  top: 0
  z-index: 9000
  background-color: #000
  display: none

iframe
  border: none
  padding: 0
  margin: 0

.window
  position: absolute
  border: 2px solid gray
  background: #fff
  left: 0
  top: 0
  width: 200px
  height: 80px
  display: none
  z-index: 9999
  padding: 20px
  input
    padding-top: 20px
    float: right

#spinner
  width: 100%
  height: 100%
  img
    display: block
    margin: auto
    margin-top: 20px
