div
  &#nyroModalFull
    font-size: 14px
    color: #000
  &#nyroModalLoading
    border: 4px solid #b4c619
    width: 150px
    height: 150px
    text-indent: -9999em
    background: white url(/media/images/nyro/ajaxLoader.gif) no-repeat
    background-position: center
    &.error
      border: 4px solid #b4c619
      line-height: 20px
      padding: 20px
      width: 300px
      height: 100px
      text-indent: 0
      background: #fff
  &#nyroModalWrapper
    background: #fff
    border: 4px solid #b4c619
    padding: 10px

a#closeBut
  position: absolute
  display: block
  top: -13px
  right: -13px
  width: 12px
  height: 12px
  text-indent: -9999em
  background: url(/media/images/nyro/close.gif) no-repeat
  outline: 0

h1#nyroModalTitle
  margin: 0
  padding: 0
  position: absolute
  top: -22px
  left: 5px
  font-size: 12px
  color: #000

div
  &#nyroModalContent
    overflow: auto
  &.wrapper div#nyroModalContent
    padding: 5px
  &.wrapperImg
    div#nyroModalContent
      position: relative
      overflow: hidden
      text-align: center
    img
      vertical-align: baseline
    div#nyroModalContent div
      position: absolute
      bottom: 0
      left: 0
      background: black
      padding: 10px
      margin: 10px
      border: 1px white dotted
      overflow: hidden
      opacity: 0.2
      filter: alpha(opacity = 20)
      &:hover
        opacity: 0.5
        filter: alpha(opacity = 50)
        cursor: help

a
  &.nyroModalPrev, &.nyroModalNext
    z-index: 105
    outline: none
    position: absolute
    top: 0
    height: 100%
    width: 40%
    cursor: pointer
    text-indent: -9999em
    background: left 20% no-repeat
    background-image: url(data:image/gif;base64,AAAA)
    /* Trick IE6

div
  &.wrapperSwf a
    &.nyroModalPrev, &.nyroModalNext
      height: 60%
      width: 20%
  &.wrapper a
    &.nyroModalPrev, &.nyroModalNext
      height: 60%
      width: 20%

a
  &.nyroModalPrev
    left: 0
    &:hover
      background-image: url(/media/images/nyro/prev.gif)
  &.nyroModalNext
    right: 0
    background-position: right 20%
    &:hover
      background-image: url(/media/images/nyro/next.gif)
