html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
margin:0;
padding:0;
}

body {
font-family:Arial,Helvetica;
background-color:#eeeded;
font-size:13px;
line-height:15.6px;
color:#FFF;
margin:0;
padding:0;
}

:focus {
outline:0;
}

table {
border-collapse:collapse;
border-spacing:0;
}

*,img {
margin:0;
padding:0;
}

a {
color:#FFF;
text-decoration:none;
}

a:hover {
color:#888;
}

#main_frame {
padding:0;
margin:0;
border:0;
width:802px;
position:relative;
top:0;
left:0;
}

#top {
position:absolute;
left:0;
top:0;
width:1101px;
height:57px;
color:#696969;
font-size:12px;
font-family:Arial,Helvetica;
background:url("/media/images/top4.png") no-repeat;
padding-left:80px;
padding-top:3px;
}

#top #connects {
float:right;
display:none;
}

#cs-logo_ {
position:absolute;
left:0;
top:57px;
width:237px;
height:111px;
background:url("/media/images/cs_logo.png") no-repeat;
}

#cs-logo_ img {
position:absolute;
top:13px;
left:71px;
}

#content_wrapper {
position:relative;
left:0;
top:0px;
width:802px;
}

#sidebar {
position:absolute;
left:779px;
top:168px;
width:321px;
z-index:1;
}

.medium_title {
font-size:18px;
}

#footer {
padding-top:10px;
padding-left:84px;
padding-bottom:10px;
width:695px;
color:#696969;
font-size:12px;
}

#misc {
position:relative;
width:100%;
height:20px;
color:#696969;
font-size:12px;
text-align:center;
}

#misc a {
color:#696969;
}

.button {
background:url("/media/images/button_bg.png") no-repeat;
width:116px;
height:28px;
font-size:20px;
color:#474847;
line-height:28px;
text-align:center;
cursor:pointer;
}

.back_button {
float:left;
margin-top:20px;
}

.next_button {
float:right;
margin-top:20px;
}

.green_button {
float:right;
background:url("/media/images/green_btn.png") no-repeat;
width:99px;
height:24px;
line-height:24px;
margin-top:3px;
font-size:15px;
color:#FFF;
margin-left:10px;
}

.content-bg #content a.remove {
color:red;
padding-left:20px;
}

#tmobile {
position:absolute;
top:15px;
left:84px;
width:150px;
height:38px;
cursor:pointer;
}

#htc {
position:absolute;
top:15px;
left:254px;
width:76px;
height:38px;
cursor:pointer;
}

div#nyroModalFull {
font-size:14px;
color:#000;
}

div#nyroModalLoading {
border:4px solid #b4c619;
width:150px;
height:150px;
text-indent:-9999em;
background:#FFF url(/media/images/nyro/ajaxLoader.gif) no-repeat;
background-position:center;
}

div#nyroModalLoading.error {
border:4px solid #b4c619;
line-height:20px;
width:300px;
height:100px;
text-indent:0;
background:#FFF;
padding:20px;
}

div#nyroModalWrapper {
background:#FFF;
border:4px solid #b4c619;
padding:10px;
}

a#closeBut {
position:absolute;
display:block;
top:-13px;
right:-13px;
width:12px;
height:12px;
text-indent:-9999em;
background:url(/media/images/nyro/close.gif) no-repeat;
outline:0;
}

h1#nyroModalTitle {
position:absolute;
top:-22px;
left:5px;
font-size:12px;
color:#000;
margin:0;
padding:0;
}

div#nyroModalContent {
overflow:auto;
}

div.wrapper div#nyroModalContent {
padding:5px;
}

div.wrapperImg div#nyroModalContent {
position:relative;
overflow:hidden;
text-align:center;
}

div.wrapperImg img {
vertical-align:baseline;
}

div.wrapperImg div#nyroModalContent div {
position:absolute;
bottom:0;
left:0;
background:#000;
border:1px #FFF dotted;
overflow:hidden;
opacity:.2;
filter:alpha(opacity=20);
margin:10px;
padding:10px;
}

div.wrapperImg div#nyroModalContent div:hover {
opacity:.5;
filter:alpha(opacity=50);
cursor:help;
}

a.nyroModalPrev,a.nyroModalNext {
z-index:105;
outline:none;
position:absolute;
top:0;
height:100%;
width:40%;
cursor:pointer;
text-indent:-9999em;
background:left 20% no-repeat;
background-image:url(data:image/gif;base64,AAAA);
}

a.nyroModalPrev:hover {
background-image:url(/media/images/nyro/prev.gif);
}

a.nyroModalNext {
right:0;
background-position:right 20%;
}

a.nyroModalNext:hover {
background-image:url(/media/images/nyro/next.gif);
}

#tob-banner_ {
position:absolute;
left:237px;
top:57px;
width:863px;
height:122px;
background:url("/media/images/top_banner2.png") no-repeat;
}

.menuitem {
float:left;
padding-top:1px;
text-align:left;
color:#FFF;
font-size:12px;
cursor:pointer;
}

.menuitem:hover {
color:#ccc;
}

#slogan {
position:absolute;
left:543px;
top:50px;
font-size:23px;
letter-spacing:-1px;
}

#btn-ideas_ {
width:57px;
height:94px;
margin-left:0;
background-image:url("/media/images/btn_ideas.png");
background-repeat:no-repeat;
background-position:0 1px;
padding-top:65px;
padding-left:7px;
}

#btn-send-ideas_ {
width:59px;
height:94px;
margin-left:0;
background-image:url("/media/images/btn_send_ideas.png");
background-repeat:no-repeat;
background-position:0 1px;
padding-top:60px;
padding-left:5px;
text-align:center;
}

#btn-profile_ {
width:65px;
height:94px;
margin-left:5px;
background-image:url("/media/images/btn_profile.png");
background-repeat:no-repeat;
background-position:0 1px;
padding-top:65px;
padding-left:5px;
text-align:center;
}

#btn-info_ {
width:63px;
height:94px;
margin-left:-5px;
background-image:url("/media/images/btn_info.png");
background-repeat:no-repeat;
background-position:0 1px;
padding-top:65px;
padding-left:3px;
text-align:center;
}

#btn-blog_ {
width:72px;
height:94px;
margin-left:-10px;
background-image:url("/media/images/btn_blog.png");
background-repeat:no-repeat;
background-position:0 1px;
padding-top:65px;
padding-left:3px;
text-align:center;
}

#btn-faq_ {
width:45px;
height:94px;
margin-left:-5px;
background-image:url("/media/images/btn_faq.png");
background-repeat:no-repeat;
background-position:0 1px;
padding-top:65px;
padding-left:10px;
text-align:left;
}

#btn-ideas_:hover {
background-image:url("/media/images/btn_ideas_over.png");
background-position:2px 3px;
}

#btn-send-ideas_:hover {
background-image:url("/media/images/btn_send_ideas_over.png");
background-position:2px 3px;
}

#btn-profile_:hover {
background-image:url("/media/images/btn_profile_over.png");
background-position:2px 3px;
}

#btn-info_:hover {
background-image:url("/media/images/btn_info_over.png");
background-position:2px 3px;
}

#btn-blog_:hover {
background-image:url("/media/images/btn_blog_over.png");
background-position:2px 3px;
}

#btn-faq_:hover {
background-image:url("/media/images/btn_faq_over.png");
background-position:2px 3px;
}

#login_box {
display:none;
position:absolute;
font-size:15px;
left:600px;
top:6px;
}

#login_buttons {
display:none;
position:absolute;
left:600px;
top:70px;
}

#login_buttons a {
font-size:12px;
margin-right:6px;
}

#username {
top:23px;
}

#password {
top:44px;
}

#login_box input {
border:none;
position:absolute;
color:#9d9d9d;
font-size:12px;
width:171px;
height:18px;
line-height:20px;
background:#FFF;
padding:0 0 0 5px;
}

#share_it {
position:absolute;
left:120px;
width:133px;
height:50px;
font-size:13px;
cursor:pointer;
}

#share_it a {
color:#262626;
}

#share_icons {
width:110px;
height:50px;
float:left;
}

#share_icons div {
padding-right:10px;
}

#let-arrow_ {
width:38px;
height:50px;
float:left;
}

.share_widget {
padding-top:25px;
float:right;
}

.share_widget #facebook {
padding-bottom:2px;
padding-right:2px;
float:left;
}

#share_icons .share_widget {
padding-top:3px;
}

#force_share {
color:#000;
padding:20px;
}

#nyroModalContent .share_widget {
float:none;
width:150px;
margin:auto;
}

.share_icon {
cursor:pointer;
}

#banner_ {
position:relative;
margin-left:0;
margin-top:0;
width:779px;
height:213px;
background:url("/media/images/banner.png") no-repeat;
}

#banner_ #tab {
position:absolute;
top:18px;
left:90px;
}

#banner_ .title {
position:absolute;
left:240px;
top:18px;
font-size:14px;
color:#000;
}

#banner_ #subtitle_bar {
position:absolute;
top:151px;
left:84px;
width:685px;
height:29px;
font-size:11px;
line-height:14px;
color:#FFF;
text-align:center;
}

#banner_ #subtitle_bar div {
padding-top:3px;
float:left;
}

#banner_ #subtitle_bar #subtitle_1 {
margin-left:15px;
}

#banner_ #subtitle_bar #subtitle_2 {
margin-left:70px;
}

#banner_ #subtitle_bar #subtitle_3 {
margin-left:80px;
}

#banner_ #subtitle_bar #subtitle_4 {
margin-left:40px;
}

#banner_ #subtitle_bar #subtitle_5 {
margin-left:20px;
}

#blog-bg_ {
background:url("/media/images/blog_bg.png") no-repeat;
width:321px;
height:286px;
z-index:1;
}

#blog-bg_ #inner {
margin-top:3px;
margin-left:0;
width:240px;
height:257px;
overflow:hidden;
padding:10px 5px;
}

#blog-bg_ #inner .title {
padding-bottom:0;
}

#blog-bg_ #inner .title a {
color:#b4c619;
font-size:13px;
}

.blog .title {
font-size:11px;
font-weight:700;
padding-bottom:10px;
}

.blog .text {
font-size:11px;
color:#000;
text-align:left;
line-height:13px;
padding-bottom:10px;
letter-spacing:0;
overflow:hidden;
}

.one_blog {
font-size:12px;
line-height:14px;
font-family:Arial,Helvetica,sans;
}

#nyeremenyek-bg_ {
width:321px;
height:311px;
background:url("/media/images/nyeremenyek_bg.png") no-repeat 0 20px;
padding-left:10px;
}

#nyeremenyek-bg_ .title {
color:#726f6f;
font-size:15px;
font-weight:700;
}

#nyeremenyek-bg_ #text {
padding-top:235px;
color:#726f6f;
font-size:14px;
line-height:18px;
}

#mentorok-bg_ {
margin-top:10px;
width:321px;
height:230px;
background:url("/media/images/mentorok_bg2.png") no-repeat;
padding:5px;
}

#mentorok-bg_ .title {
font-size:15px;
font-weight:700;
color:#b4c619;
padding-top:5px;
padding-bottom:3px;
}

#mentorok-bg_ .text {
width:220px;
height:170px;
font-size:12px;
color:#3b3c3b;
text-align:center;
letter-spacing:0;
overflow:hidden;
margin-left:5px;
margin-top:10px;
}

#mentorok-bg_ .text #img {
height:200px;
float:left;
}

#mentorok-bg_ .text #img img {
float:left;
padding-right:10px;
}

#mentorok-bg_ .text a {
float:left;
color:#b4c619;
font-weight:700;
}

#mentorok-bg_ .text a.allmentor {
float:right;
color:#b4c619;
}

.mentor {
margin-bottom:20px;
}

.mentor img {
border:2px solid #b4c619;
height:150px;
float:left;
margin-right:10px;
}

.msg {
display:none;
position:absolute;
z-index:20000;
background:url(/media/images/msg_arrow.gif) left center no-repeat;
padding-left:7px;
}

.msgcontent {
display:block;
color:#002b55;
background:#f3e6e6;
border:2px solid #924949;
border-left:none;
min-width:150px;
max-width:250px;
padding:5px;
}

.content-bg {
position:relative;
width:779px;
background:url("/media/images/content_slice.png") repeat-y;
z-index:0;
}

.content_tab {
width:683px;
height:53px;
color:#FFF;
font-size:18px;
padding-top:8px;
padding-left:13px;
background:url("/media/images/content_tab.png") no-repeat;
margin-left:-30px;
}

.content_tab .end {
height:44px;
width:17px;
display:inline-block;
float:left;
background:url("/media/images/content_tab_slice_right.png") no-repeat;
}

.content_tab .title {
height:44px;
padding-top:9px;
padding-left:5px;
background:url("/media/images/content_tab_slice.png") repeat-x;
float:left;
}

#content_top {
padding-top:20px;
padding-bottom:10px;
color:#6a6b6a;
}

#content-bg_ {
top:-7px;
}

#content-bg_simple {
top:0px;
}

#content-bg_ #content_top_note {
position:absolute;
top:0;
left:0;
width:779px;
height:288px;
background:url("/media/images/content_top_note4.png") no-repeat 0 0;
z-index:-1;
overflow:hidden;
}

#content-bg_ #content {
position:relative;
width:779px;
height:278px;
}

.content-bg #content_bottom {
width:802px;
height:49px;
background:url("/media/images/content_bottom.png") no-repeat 0 0;
z-index:1;
line-height:29px;
}

#content_bottom #inner {
float:right;
padding-right:40px;
}

.content-bg #content_bottom #pager {
height:29px;
margin-left:84px;
width:684px;
line-height:29px;
}

.content-bg #content_bottom #navigator {
float:right;
padding-right:10px;
font-size:14px;
}

.content-bg #content_bottom #navigator div {
float:left;
width:20px;
font-weight:400;
}

.content-bg #content_bottom #navigator div.actual_range {
font-weight:700;
color:#ddd;
}

#content-bg_ .content_tab {
padding-top:51px;
background:url("/media/images/content_tab.png") no-repeat 0 43px;
}

#content-bg_ #note {
position:absolute;
top:45px;
left:625px;
width:104px;
height:107px;
color:#000;
font-size:15px;
text-align:left;
padding-top:25px;
padding-left:15px;
z-index:3000;
}

#content-bg_ #note a {
padding-top:5px;
color:#000;
}

#content-bg_ #note #link {
height:5px;
}

.content-bg #title {
position:absolute;
top:18px;
left:240px;
color:#696969;
font-size:14px;
z-index:2;
}

.content-bg #content {
color:#000;
font-size:12px;
padding-left:100px;
width:655px;
z-index:400;
padding-bottom:10px;
}

.content-bg #content form label {
color:#000;
font-weight:700;
height:20px;
}

.content-bg #content form input[type=text] {
margin-bottom:20px;
height:20px;
border:1px solid #c9c9c9;
color:#000;
width:300px;
background-color:#FFF;
}

.content-bg #content form textarea {
margin-bottom:20px;
border:1px solid #c9c9c9;
color:#000;
width:500px;
height:100px;
background-color:#FFF;
}

.content-bg #content form input[type=text].errorBorder,.content-bg #content form textarea.errorBorder {
border:2px solid #924949;
}

.content-bg #content a {
color:#b4c619;
font-weight:700;
}

.green {
color:#b4c619;
font-weight:700;
padding-bottom:10px;
}

.indent {
padding-bottom:10px;
padding-left:30px;
}

#need_others_table {
margin:20px;
}

#id_need_others {
margin-top:20px;
}

#matrica {
position:absolute;
left:430px;
top:60px;
width:150px;
height:150px;
cursor:pointer;
}

#content #call a {
color:blue;
text-decoration:underline;
}

.idea {
position:relative;
width:689px;
height:117px;
background:url("/media/images/idea_bg.png") no-repeat;
color:#000;
font-size:12px;
margin-left:-18px;
}

.idea .status {
position:absolute;
top:7px;
left:20px;
}

.idea .details {
position:relative;
top:30px;
left:24px;
width:640px;
height:87px;
}

.idea .details .idea_img {
float:left;
padding-right:7px;
padding-top:5px;
}

.idea .details .next_btn {
position:absolute;
top:88px;
left:525px;
}

.idea .tags {
position:absolute;
top:106px;
left:0;
float:left;
}

.idea .functions_1 {
position:absolute;
top:33px;
left:540px;
}

.idea .functions_2 {
position:absolute;
top:76px;
left:545px;
}

#idea {
color:#000;
font-size:11px;
}

#idea #header {
margin-bottom:10px;
}

#idea .one_functions_1,#idea.one_functions_2 {
float:right;
}

#idea ul {
margin-top:2px;
padding-left:10px;
float:left;
list-style-type:none;
}

#idea ul li {
padding-bottom:6px;
}

#idea ul li.red {
color:red;
}

#idea #support {
font-size:12px;
float:right;
margin-left:40px;
width:124px;
height:129px;
text-align:center;
background:url("/media/images/support_bg.png") no-repeat;
}

#idea #support_hidden {
font-size:12px;
float:right;
margin-left:40px;
width:124px;
height:129px;
text-align:center;
}

#idea #support img {
cursor:pointer;
margin:10px 10px 0;
}

#idea #statistics {
font-size:11px;
float:right;
margin-left:20px;
width:124px;
height:129px;
text-align:left;
}

#idea #statistics .title {
font-size:13px;
color:#b4c619;
padding-bottom:5px;
border-bottom:1px solid #989898;
}

#idea #statistics ul {
padding-top:10px;
padding-left:0;
}

#idea .row {
float:left;
margin-bottom:10px;
}

#idea .row .header {
display:block;
font-weight:700;
float:left;
width:90px;
}

#idea .row .text {
display:block;
float:right;
width:560px;
}

#comments {
border-top:2px solid #8c8c8c;
padding-top:10px;
}

.idea #next_button {
position:absolute;
top:15px;
left:525px;
}

#comments .comment {
padding-bottom:20px;
}

#comments .details {
font-size:13px;
color:#535353;
font-weight:700;
padding-top:40px;
padding-left:60px;
}

#comments .text {
padding-top:10px;
font-size:12px;
color:#535353;
float:left;
}

.idea .more_button {
position:absolute;
top:116px;
left:545px;
}

#filter {
position:relative;
width:690px;
height:108px;
margin-left:80px;
}

#sorter {
position:relative;
width:350px;
height:148px;
margin-left:340px;
}

.filter {
position:absolute;
width:400px;
height:148px;
margin-left:0;
background:url("/media/images/filter_bg.png") no-repeat 0 45px;
}

.filter #title {
position:absolute;
top:10px;
left:5px;
font-size:15px;
color:#232323;
}

.filter #subtitle {
position:absolute;
top:67px;
left:42px;
font-size:15px;
color:#232323;
font-weight:700;
}

.filter #cat1 {
position:absolute;
top:67px;
left:122px;
font-size:15px;
color:#232323;
font-weight:700;
}

.filter #cat2 {
position:absolute;
top:67px;
left:222px;
font-size:15px;
color:#232323;
font-weight:700;
}

.filter .selected {
background:url("/media/images/filter_checked.png") no-repeat 0 0;
}

#filter #prizes {
position:absolute;
left:360px;
top:10px;
width:201px;
height:138px;
padding-left:130px;
background:url("/media/images/nyeremenyek_small_bg.png") no-repeat 0 0;
}

#filter #prizes #title {
color:#000;
font-size:14px;
}

#filter #prizes#text {
padding-top:15px;
color:#000;
font-size:14px;
line-height:18px;
}

#side_idea {
position:relative;
width:321px;
height:102px;
background:url("/media/images/lamp_bg.png") no-repeat 0 0;
padding-left:10px;
}

#side_idea #text {
position:absolute;
top:3px;
left:96px;
width:140px;
color:#2d2d2d;
font-size:12px;
line-height:16px;
}

#fb_like {
width:248px;
padding-top:10px;
padding-bottom:20px;
}

#lightbox {
position:absolute;
left:0;
width:100%;
z-index:100;
text-align:center;
line-height:0;
}

#lightbox a img {
border:none;
}

#outerImageContainer {
position:relative;
background-color:#FFF;
width:250px;
height:250px;
margin:0 auto;
}

#loading {
position:absolute;
top:40%;
left:0;
height:25%;
width:100%;
text-align:center;
line-height:0;
}

#hoverNav {
position:absolute;
top:0;
left:0;
height:100%;
width:100%;
z-index:10;
}

#hoverNav a {
outline:none;
}

#prevLink,#nextLink {
width:49%;
height:100%;
background:transparent url(/media/images/lightbox/blank.gif) no-repeat;
display:block;
}

#prevLink {
left:0;
float:left;
}

#nextLink {
right:0;
float:right;
}

#prevLink:hover,#prevLink:visited:hover {
background:url(/media/images/lightbox/prev.gif) left 50% no-repeat;
}

#nextLink:hover,#nextLink:visited:hover {
background:url(/media/images/lightbox/next.gif) right 50% no-repeat;
}

#nextLinkText,#prevLinkText {
color:#ff9834;
font-weight:700;
text-decoration:none;
}

#prevLinkText {
padding-right:20px;
}

.ontop #imageData {
padding-top:5px;
}

#imageDataContainer {
font:10px Verdana,Helvetica,sans-serif;
background-color:#FFF;
line-height:1.4em;
margin:0 auto;
}

#imageData {
padding:0 10px;
}

#imageData #imageDetails {
width:70%;
float:left;
text-align:left;
color:#000;
}

#imageData #caption {
font-weight:700;
}

#imageData #numberDisplay {
display:block;
clear:left;
padding-bottom:1em;
}

#imageData #bottomNavClose {
width:66px;
float:right;
padding-bottom:.7em;
}

#imageData #helpDisplay {
clear:left;
float:left;
display:block;
}

#overlay {
position:absolute;
top:0;
left:0;
z-index:90;
width:100%;
height:500px;
background-color:#000;
filter:alpha(opacity=60);
-moz-opacity:.6;
opacity:.6;
display:none;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

* html>body .clearfix {
display:inline-block;
width:100%;
}

* html .clearfix {
height:1%;
}

#fb_info {
float:left;
padding-right:5px;
}

#counter {
width:240px;
height:110px;
counter-font-size:44px;
counter-font-weight:bold;
}

#counter #counter_holder {
width:239px;
height:61px;
font-size:46px;
color:#414042;
background:url("/media/images/counter_bg.png") no-repeat 7px 5px;
font-weight:700;
}

#counter #counter_holder .unit {
padding-top:24px;
float:left;
text-align:right;
}

#counter #counter_holder #days {
width:57px;
margin-right:15px;
}

#counter #counter_holder #hours {
width:55px;
margin-right:15px;
}

#counter #counter_holder #minutes {
width:84px;
}

#counter .title {
font-size:15px;
color:#414042;
}

#counter #subtitle {
width:100%;
text-align:right;
}

#fresh_ideas {
background:url("/media/images/fres_ideas_bg.png") no-repeat;
width:252px;
height:202px;
}

#announcements {
background:url("/media/images/fres_ideas_bg.png") no-repeat;
width:244px;
height:202px;
}

#top_ideas {
background:url("/media/images/top_ideas_bg.png") no-repeat;
width:252px;
height:300px;
}

.idea_sidebox {
border:1px solid #eeeded;
position:relative;
padding-left:10px;
margin-bottom:10px;
}

.idea_sidebox #title {
margin-top:20px;
font-size:15px;
color:#FFF;
padding-bottom:10px;
}

.idea_sidebox a {
font-weight:700;
font-size:11px;
color:#414042;
}

.idea_sidebox .one_fresh_idea_row {
height:24px;
padding-bottom:15px;
}

.idea_sidebox .one_fresh_idea_row .number {
font-size:24px;
line-height:24px;
color:#FFF;
float:left;
width:20px;
text-align:left;
}

.idea_sidebox .one_fresh_idea_row .description {
font-weight:700;
font-size:12px;
color:#414042;
}

.idea_sidebox .one_fresh_idea_row .description span {
color:#FFF;
}

.prs,#lightboxIframe {
display:none;
}

div.wrapperSwf a.nyroModalPrev,div.wrapperSwf a.nyroModalNext,div.wrapper a.nyroModalPrev,div.wrapper a.nyroModalNext {
height:60%;
width:20%;
}

a.nyroModalPrev,#imageContainer>#hoverNav {
left:0;
}

#tob-banner_ input.active,.blog,.content-bg #content .idea .title a {
color:#000;
}

#share_icons img,#idea .one_status,.idea_img,#idea_img {
float:left;
}

#banner_ .title a,#blog-bg_ #inner a,#nyeremenyek-bg_ #text a,#mentorok-bg_ .title a,.content-bg #content .idea .more,#filter #prizes#text a,#side_idea #text a {
color:#b4c619;
}

.blog b,#announcements .announcement .text,#announcements .announcement b {
font-size:11px;
}

.one_blog p,#announcements .announcement {
padding-bottom:10px;
}

#blog-bg_ #click_for_more,.content-bg #content .bold {
font-size:12px;
font-weight:700;
}

#nyeremenyek-bg_ #text #details,#filter #prizes#text #details,#side_idea #text #details {
color:#b4c619;
font-size:16px;
}

#need_others_table td,#imageContainer {
padding:10px;
}

.idea .details .idea_img img,#idea_img img,#idea .row .text img,#comments .comment .idea_img img,#fb_info #fb_image img {
border:2px solid #b4c619;
}

.filter #web_filter,.filter #fresh_filter {
position:absolute;
left:106px;
top:67px;
cursor:pointer;
width:15px;
height:17px;
}

.filter #mobile_filter,.filter #popular_filter {
position:absolute;
left:205px;
top:66px;
cursor:pointer;
width:105px;
height:17px;
}

#nextLinkText,.idea_sidebox a.more {
padding-left:20px;
}
