#nyeremenyek-bg_
  width: 321px
  height: 311px
  background: url('/media/images/nyeremenyek_bg.png') no-repeat 0px 20px
  padding-left: 10px
  .title
    color: #726f6f
    font-size: 15px
    font-weight: bold
  #text
    padding-top: 235px
    color: #726f6f
    font-size: 14px
    line-height: 18px
    a
      color: #b4c619
    #details
      color: #b4c619
      font-size: 16px
