#projekt_wrapper
  width: 678px
  margin-left: 84px
  padding-top: 10px
  #projekt_header
    float: left
    background: url('/media/images/projekt_head_bg_slice2.png') repeat-x
    width: 678px
    height: 30px
    .inverse
      float: left
      background: url('/media/images/projekt_head_bg_inverse_slice2.png') repeat-x
      height: 30px
    .projekt_button
      cursor: pointer
      float: left
      height: 30px
      background: url('/media/images/projekt_head_bg_inverse_slice2.png') repeat-x
      line-height: 30px
      .projekt_button_left
        float: left
        width: 4px
        height: 30px
        background: url('/media/images/projekt_button_left_slice_over2.png') repeat-x
      .projekt_button_right
        float: left
        width: 4px
        height: 30px
        background: url('/media/images/projekt_button_right_slice_over2.png') repeat-x
      .projekt_button_title
        float: left
        padding-left: 5px
        padding-right: 5px
        line-height: 25px
        
    .selected_projekt_button
      background: url('/media/images/projekt_head_bg_slice2.png') repeat-x
      .projekt_button_left
        background: url('/media/images/projekt_button_left_slice2.png') repeat-x
      .projekt_button_right
        background: url('/media/images/projekt_button_right_slice2.png') repeat-x
    #projekt_search
      width: 160px
      height: 30px
      float: right
      background: url('/media/images/projekt_head_bg_inverse_slice2.png') repeat-x
      .left
        width: 4px
        height: 30px
        float: left
        background: url('/media/images/projekt_button_left_slice_over2.png') repeat-x
      .projekt_search_input
        width: 92px
        height: 30px
        float: left
        background: url('/media/images/projekt_search_input2.png') repeat-x
        input
          width: 75px
          height: 17px
          margin: 0
          padding: 0
          margin-left: 10px
          margin-top: 7px
          border: none
          font-size: 15px
      .projekt_search_button
        width: 50px
        height: 30px
        line-height: 20px
        cursor: pointer
        float: right

#projekt_sidebar
  width: 238px
  height: 271px
  background: url('/media/images/projekt_postit.png') no-repeat
  cursor: pointer

.projekt_item
  width: 648px
  height: 54px
  padding: 15px
  .left
    float: left
    .title
      font-size: 15px
      color: #b4c619
      a
        font-size: 15px
        color: #b4c619
    .date
      color: #2d2d2d
      font-weight: bold
      a
        color: #2d2d2d
        font-weight: bold
  .lead
    float: left
    height: 34px
    width: 648px
    color: #2d2d2d
    a
      float: left
      height: 34px
      width: 648px
      color: #2d2d2d
  .more
    a
      float: left
      color: #b4c619
    margin-bottom: 10px

.projekt_separator
  width: 100%
  height: 2px
  background: url('/media/images/projekt_separator.png') repeat-x
  
#projekt_content
  background: white
  center
    padding-top: 20px
    height: 50px
    color: #2d2d2d
    