#share_it
  position: absolute
  left: 120px
  width: 133px
  height: 50px
  font-size: 13px
  a
    color: #262626
  cursor: pointer

#share_icons
  width: 110px
  height: 50px
  float: left
  div
    padding-right: 10px
  img
    float: left

#let-arrow_
  width: 38px
  height: 50px
  float: left

.share_widget
  padding-top: 25px
  float: right
  #facebook
    padding-bottom: 2px
    padding-right: 2px
    float: left

#share_icons .share_widget
  padding-top: 3px

#force_share
  padding: 20px
  color: #000

#nyroModalContent .share_widget
  float: none
  margin: auto
  width: 150px

.share_icon
  cursor: pointer
