{% extends "base.html" %}

{% load facebook_tags %}
{% load paginator get_setting replace %}
{% load format_number %}

<div id="center_title" class="cufon">{% block content_tab %}{% if not category.link %}{% if succ %}SIKERTÖRTÉNETEK{% else %}{% if finish %}HAMAROSAN LEJÁRÓ{% else %}{% if end %}LEJÁRT{% else %}FRISS{% endif %}{% endif %} PROJEKTEK{% endif %}{% endif %}{% endblock %}</div>

{% block content_text %} 
{% if category.link %}<div id="category_title">{{category.title}}</div>{% endif %}
<script type="text/javascript" charset="utf-8">
	$.ajaxSetup ({  
        cache: false  
    });  
    var ajax_load = '<div style="height:364px; width:443px; padding-top:80px; padding-left:240px;"><img src="/media/images/load.gif" alt="töltődik..." /></div>'; 
function next_projs(div,table,loadUrl,right, is_left){
		if(right){ var ps=-690; if(is_left){ ps=-690-690}	$(table).animate({ left: ps }, 500, function(){$(div).load(loadUrl);});}
		else $(table).animate({ left: 0 }, 500, function(){$(div).load(loadUrl);});
        
}
</script>

	{% if ideas %}	
	<div id="result_projs_fresh" style="width:680px; overflow:hidden; display:inline-block; float:left; height:940px;">
	<div class="proj_table_fresh" style="display:inline-block; float:left; width:680px;position: relative;">
	<table><tr><td><table><tr>
			{% for idea, days, hours, now, need, perc in ideas %}
			
			<td>{% include 'idea/idea_row.html' %}</td>
			{% cycle '' '' '</tr></table><table><tr>' '' '' '</tr></table></td><td valign="top"><table><tr>' %}
			{% endfor %}</tr></table></td></tr>
		</table>
  {% if right %}<p style="float:right; margin-right: 20px; font-weight:bold;">
  <a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh',{% if  category %}{% if finish %}'{% url creativeselector.views.finideas 6 2 category.link %}'{% else %}'{% url creativeselector.views.freshideas 6 2 category.link %}'{% endif %}{% else %}{% if finish %}'{% url creativeselector.views.finideas 6 2 %}'{% else %}{% if end %}'{% url creativeselector.views.endideas 6 2 %}'{% else %}{% if succ %}'{% url creativeselector.views.succesideas 6 2 %}'{% else %}'{% url creativeselector.views.freshideas 6 2 %}'{% endif %}{% endif %}{% endif %}{% endif %}, true);">továbbiak>></a></p>{% endif %}
	 <div style="position:relative; z-index:2; top:-10px;left:1020px;"><img src="/media/images/lightbox-ico-loading.gif"></div></div>
	 </div>
 {% else %}
  {% if finish %}
  <p style="height:20px;">&nbsp;</p>
  <p style="color:#0f0;font-weight:bold;">jelenleg nincs 5 napnál  rövidebb határidejű projektünk</p>
  {% endif %}
  {% endif %}
 {% if not is_mac %}<p style="margin-bottom:926px;">&nbsp;</p>{% endif %}
 
{% endblock %}

{% block content_bottom %}

{% endblock %}
