﻿
{% load facebook_tags %}
{% load format_number %}

<div class="proj_table{% if most %}_most{% else %}_fresh{% endif %}" style="display:inline-block; float:left; width:694px;position: relative;">
	{% if ideas %}
	
  <table><tr>
			{% for idea in projs %}			
			<td>{% include 'idea/idea_row.html' %}</td>
			{% endfor %}</tr>
		</table>
  
  {% endif %}<p style="float:right; margin-right: 20px;">
  {% if fresh %}
   {% if before %}<a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% url creativeselector.views.freshideas pbef %}', false);"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_fresh','.proj_table_fresh','{% url creativeselector.views.freshideas paft %}', true);"> tovább>> </a>{% endif %}
   {% endif %}
   {% if most %}
   {% if before %}<a href="javascript:next_projs('#result_projs_most','.proj_table_most','{% url creativeselector.views.mostideas pbef %}', false);"> << vissza </a> &nbsp; {% endif %}
   {% if after %}<a href="javascript:next_projs('#result_projs_most','.proj_table_most','{% url creativeselector.views.mostideas paft %}', true);"> tovább>> </a>{% endif %}
   {% endif %}
   </p>
   </div>