 <table>
<tr><th>készítő user</th><th>készítő családnév</th><th>készítő keresztnév</th><th>készítő e-mail</th></tr>
 {% for idea in supporters %}
<tr>
	<td>{{idea.user.username}}</td>
	<td>{{idea.user.first_name}}</td>
	<td>{{idea.user.last_name}}</td>
	<td>{{idea.user.email}}</td>
</tr>
 {% endfor %}
</table>