<table>
<tr><th>ötlet</th><th>készítő user</th><th>készítő családnév</th><th>készítő keresztnév</th><th>készítő e-mail</th></tr>
 {% for idea in ideas %}
<tr>
	<td><a href="ideasupporter_get/{{idea.link}}">{{idea.link}}</a></td>
	<td>{{idea.owner.username}}</td>
	<td>{{idea.owner.first_name}}</td>
	<td>{{idea.owner.last_name}}</td>
	<td>{{idea.owner.email}}</td>
</tr>
 {% endfor %}
</table>