﻿{% extends "base.html" %}

{% load facebook_tags expr call %}


{% block content %}
{% initialize_facebook_connect %}
<div id="content-bg_simple"  class="content-bg">
  <div id="content">
  {% call "widgets/tab.html" with title="I.#Munkahely#keresés#támogatása" %}	 
    {% for idea in ideas_m %}
     {% call 'idea/one_idea_top10.html' with position=forloop.counter %}
    {% endfor %}
  </div>
  <div id="content">
  {% call "widgets/tab.html" with title="II.#Közösségi#alapon#szerveződő#vállalkozás" %}	 
    {% for idea in ideas_w %}
     {% call 'idea/one_idea_top10.html' with position=forloop.counter %}
    {% endfor %}
  </div>

</div>

{% endblock %}

