﻿{% extends "simplecontent.html" %}
{% load facebook_tags %}
{% load filetransfers fieldtag object_value_by_name call %} 

<div id="center_title" class="cufon">{% block content_tab %}Elfelejtett jelszó{% endblock %}</div>
  <div id="content"> 
    


{% block content_text %}

<script type="text/javascript" charset="utf-8">

  function validate(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'email', true);
            
     if (is_empty(form_id, 'email', true)) {
        valid &= is_not_email(form_id, 'email', true);
     }
     
     valid &= min_length(form_id, 'password', 5, true);

     valid &= is_not_same(form_id, 'password', 'password2', true);
    
     
     if (valid) {
       $(f(form_id)).submit();
     }
    } 

</script>
      <div id="necc_register_label" class="cufon">
        Üdvözlünk!
      </div>
	  <br/>
     <form name="forgetpass_form" id="forgetpass_form" method="post" accept-charset="utf-8">
       <table class="registration_form">
          <tr>
            <th class="cufon">E-mail:</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="text" name="email" id="id_mail" value="{{usr.email}}"/></td>
          </tr>          
          <tr>
            <th class="cufon">Új Jelszó:</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="password" name="password" id="id_password"/></td>
          </tr>
          <tr>
            <th class="cufon">Új Jelszó ismét:</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="password" name="password2" id="id_password2"/></td>
          </tr>
			<tr><td colspan="3">
			<div style="float: right;">
                
                <div id="continue_button">
                <input type="image" src="/media/images/regbtn.png" onclick="validate('forgetpass_form')">
                </div>
              </div></td>
          </tr>
        </table>
     </form>
      


    
   </div>
{% endblock %}