﻿{% extends "base.html" %}
{% load filetransfers fieldtag object_value_by_name call %} 

{% block content_text %}

<script type="text/javascript" charset="utf-8">
  
    
  function reset(form_id) {
      gf(form_id, "last_name").val("");
      gf(form_id, "first_name").val("");
      gf(form_id, "mail").val("");
      gf(form_id, "profile_link").val("");
      gf(form_id, "password").val("");
      gf(form_id, "password2").val("");
      gf(form_id, "image").val("");
  }
 
  function validate(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'last_name', true);
	 
     valid &= is_empty(form_id, 'first_name', true

     valid &= is_empty(form_id, 'mail', true);
            
     if (is_empty(form_id, 'mail', true)) {
        valid &= is_not_email(form_id, 'mail', true);
     }
     
     valid &= min_length(form_id, 'password', 5, true);

     valid &= is_not_same(form_id, 'password', 'password2', true);
    
     
     if (valid) {
       $(f(form_id)).submit();
     }
    } 

</script>


      <div id="necc_register_label" class="cufon">
        Adatok:
      </div>
     <form name="usernoface_registration_form" id="usernoface_registration_form" method="post" accept-charset="utf-8">
       <table style="color:#000000;">
          <tr>
            <th>Vezeték Név:</th>
            <td class="mark">*</td>
            <td><input id="id_last_name" name="last_name" type="text"/></td>
          </tr>
		  <tr>
            <th>Kereszt Név:</th>
            <td class="mark">*</td>
            <td><input id="id_first_name" name="first_name" type="text"/></td>
          </tr>
          <tr>
            <th>E-mail:</th>
            <td class="mark">*</td>
            <td><input type="text" name="mail" id="id_mail"/></td>
          </tr>          
          <tr>
            <th>Jelszó:</th>
            <td class="mark">*</td>
            <td><input type="password" name="password" id="id_password"/></td>
          </tr>
          <tr>
            <th>Jelszó ismét:</th>
            <td class="mark">*</td>
            <td><input type="password" name="password2" id="id_password2"/></td>
          </tr>
		  <tr>
            <th>Facebook profile:</th>
            <td class="mark">&nbsp;</td>
            <td><input type="text" name="profile_link" id="id_profile_link"/></td>
          </tr>
		  <tr>
            <th>Fénykép:</th>
            <td class="mark">&nbsp;</td>
            <td>
				<div class="button" onclick="popupWindow({ centerBrowser:1, width:300, height: 60, windowURL:'{% url adminupload.views.reupload_handler_inline pk=idea.pk model_info='creativeselector.usernofaceprofile' field_name='image' %}'})">
				<span class="cufon">Feltöltés</span>
				</div> 
		  </td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td class="mark">&nbsp;</td>
            <td> 
              <div style="float: right;">
                
                <div id="continue_button">
                <input type="submit" value="submit"  onclick="validate('usernoface_registration_form')">
                </div>
              </div>
            </td>
          </tr>
        </table>
     </form>
      


    
   
{% endblock %}