﻿{% extends "simplecontent.html" %}
{% load facebook_tags %}
{% load filetransfers fieldtag object_value_by_name call %} 

<div id="center_title" class="cufon">{% block content_tab %}Felhasználók{% endblock %}</div>
  <div id="content">    


{% block content_text %}
<style type="text/css" charset="utf-8">
<!--
#content2{padding-left:5px;}
-->
</style>
<script type="text/javascript" charset="utf-8">
	$.ajaxSetup ({  
        cache: false  
    });  
    var ajax_load = '<div style="height:364px; width:443px; padding-top:80px; padding-left:240px;"><img src="/media/images/load.gif" alt="töltődik..." /></div>'; 
function next_projs(div,table,loadUrl,right){
		if(right)	$(table).animate({ right: 694 }, 600, function(){$(div).html(ajax_load).load(loadUrl);});
		else $(table).animate({ left: 694 }, 600, function(){$(div).html(ajax_load).load(loadUrl);});
        
}
</script>


<div id="user_profil">
	<table style="width:645px;"><tr><td>
	{% show_facebook_photo usr "100" "q" %}</td><td style="vertical-align:top;">
	<p id="user_name">{{usr.last_name}} {{usr.first_name}}</p>
	<p id="user_info">Utolsó bejelentkezés: {{usr.last_login|date:"Y.m.d. H:i:s"}}</p>
	<p id="user_info">Ennyi projektje van: {{projs_num}}</p>
	<p id="user_info">Ennyit támogatott: {{supps_num}}</p>
	</td></tr></table>
	<hr>
	</div>
{% if projs %}
 <p id="user_name" class="cufon" style="padding-left:10px; margin-top:20px;">PROJEKTJEI</p>
 <span class="cufon" style="font-weight:bold;padding-left:10px;">Ezekhez a projektekhez keres támogatokat:</span>
<table><tr>
			{% for idea in projs %}
			
			<td>{% include 'idea/idea_row.html' %}</td>{% cycle '' '' '</tr></table><table><tr>' %}
			{% endfor %}</tr>
		</table>  <hr style="background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left; height:4px; border:none; width:645px;">
{% endif %}
{% if supps %}

<span class="cufon" style="font-weight:bold;padding-left:10px;">Ezeket a projekteket támogatta:</span>
<table><tr>
			{% for idea in supps %}
			
			<td>{% include 'idea/idea_row.html' %}</td>{% cycle '' '' '</tr></table><table><tr>' %}
			{% endfor %}</tr>
		</table>
{% endif %}
{% endblock %}