﻿{% extends "simplecontent.html" %}
{% load facebook_tags %}
{% load filetransfers fieldtag object_value_by_name call %} 

<div id="center_title" class="cufon">{% block content_tab %}Profilom{% endblock %}</div>
  <div id="content">    


{% block content_text %}
{% if logged_in %}
<style type="text/css" charset="utf-8">
<!--
#content2{padding-left:5px;}
-->
</style>
<div id="user_profil">
	<table style="width:645px;"><tr><td>
	{% if is_face %}{% show_facebook_photo user "100" "q" %}{% else %}{% if nf %}
	{% if not nf.image %}	
	<div style="background:#00ff00; width:100px;height:100px;"></div>
	{% else %}
	{% url adminupload.views.download_handler pk=nf.pk model_info='creativeselector.usernofaceprofile' field_name='image' as fallback_url  %}
	 <img src="{% firstof nf.image|public_download_url fallback_url as download_url %}" width="100"  alt="{{ nf.image|filename }}" title="{{ nf.image|filename }}">
	 <p style="padding:0;margin:0;font-size:10px;"></p>
	{% endif %}
	<div class="button" style="cursor:pointer; margin-top:10px;" onclick="popupWindow({ centerBrowser:1, width:450, height: 120, windowURL:'{% url adminupload.views.reupload_handler pk=nf.pk model_info='creativeselector.usernofaceprofile' field_name='image' %}'})">
    <span style=" color:#00ff00;" class="cufon">új profil kép feltöltése</span>
	</div>
	
	{% endif %}{% endif %}
	</td>
	
	<td style="vertical-align:top;">
	<p id="user_name">{{user.last_name}} {{user.first_name}}</p>
	<p id="user_info">Utolsó bejelentkezés: {{user.last_login|date:"Y.m.d. H:i:s"}}</p>
	<p id="user_info">Ennyi projektje van: {{projs_num}}</p>
	<p id="user_info">Ennyit támogatott: {{supps_num}}</p>
	</td></tr></table>
	<hr>
	</div>
{% if projs %}
 <p class="cufon" style="padding-left:10px; margin-top:20px;font-size:20px;">PROJEKTJEIM</p>
<table><tr>
			{% for own_project,idea in projs %}
			
			<td>
			
			{% include 'idea/idea_row.html' %}
			
			</td>{% cycle '' '' '</tr></table><table><tr>' %}
			{% endfor %}</tr>
		</table>  <hr style="background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left; height:4px; border:none; width:645px;">
{% endif %}

{% if supps %}

<span class="cufon" style="padding-left:10px; margin-top:20px;font-size:20px;">TÁMOGATOTT PROJEKTEK</span>
<table><tr>
			{% for idea in supps %}
			
			<td>{% include 'idea/idea_row.html' %}</td>{% cycle '' '' '</tr></table><table><tr>' %}
			{% endfor %}</tr>
		</table>
{% endif %}
{% if old_projs %}
 <hr style="background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left; height:4px; border:none; width:645px;">
 <p class="cufon" style="padding-left:10px; margin-top:20px;font-size:20px;">KORÁBBI PROJEKTJEIM</p>
<table><tr>
			{% for idea in old_projs %}
			
			<td>
			
			{% include 'idea/idea_row.html' %}
			
			</td>{% cycle '' '' '</tr></table><table><tr>' %}
			{% endfor %}</tr>
		</table>  
{% endif %}
{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
{% endblock %}