{% extends "simplecontent.html" %}
{% load facebook_tags %}
{% load filetransfers fieldtag object_value_by_name call %} 

<div id="center_title" class="cufon">{% block content_tab %}Regisztráció{% endblock %}</div>
  <div id="content2"> 
    


{% block content_text %}

<script type="text/javascript" charset="utf-8">
  	$(document).ready(function() {$('#login_please').dialog({modal:true, width:450, height:160, dialogClass:"login_box"});});
	//$('#close_this').click(function(){ $('#login_please').close();});
	function close_this(){
		$('#login_please').dialog('close');
	}
    
  function reset(form_id) {
      gf(form_id, "last_name").val("");
      gf(form_id, "first_name").val("");
      gf(form_id, "mail").val("");
      gf(form_id, "profile_link").val("");
      gf(form_id, "password").val("");
      gf(form_id, "password2").val("");
      gf(form_id, "image").val("");
  }

  function validate(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'last_name', true);
	 
     valid &= is_empty(form_id, 'first_name', true);

     valid &= is_empty(form_id, 'mail', true);
            
     if (is_empty(form_id, 'mail', true)) {
        valid &= is_not_email(form_id, 'mail', true);
     }
     
     valid &= min_length(form_id, 'password', 5, true);

     valid &= is_not_same(form_id, 'password', 'password2', true);
	 valid &= is_not_same(form_id, 'mail', 'mailer_2', true);
     if(!document.getElementById("felt_6").checked){ 
		valid&=false;
		im(form_id,'felt_6',"Fogadd el a feltételeket!");
	 }
     
     if (valid) {
       $(f(form_id)).submit();
     }
    }
	function underline(){$(this).css('text-decoration', 'underline');}
	function noneline(){$(this).css('text-decoration', 'none');}
	$(document).ready(function() {
	$('#cs_tos').bind('mouseover', underline)
	$('#cs_tos').bind('mouseout', noneline)
    $('#cs_tos').click(function() {
      $('#tos').dialog({modal:true, title: 'Felhasználási Feltételek', width: 800, height: 600});
    })
  });	

</script>{% initialize_facebook_connect %}
	 <div id="login_please" class="hidden">
	
		
		<form id="facebook_login" action="{% url facebook_connect %}?facebook_login=1" method="post">
			<a href="javascript:void(0);" onclick="F.connect(this.parentNode);">
			  <img src="/media/images/fbicon.png"> {% if is_english %}Login with your Facebook account{% else %}Belépés facebookos azonosítóval{% endif %} 
			</a> | <a href="javascript:close_this();" style="font-size:11px;" >{% if is_english %}No thanks{% else %}Nem kösz{% endif %}</a>
		</form>
		
	</div>
<div id="tos" class="hidden">{{tos.content|safe}}</div>
      <div id="necc_register_label" class="cufon">
        {% if is_english %}Welcome!{% else %}Üdvözlünk!{% endif %}
      </div>
	  <br/>
     <form name="usernoface_registration_form" id="usernoface_registration_form" method="post" accept-charset="utf-8">
       <table class="registration_form">
          <tr>
            <th class="cufon">{% if is_english %}Last name{% else %}Családi Név:{% endif %}</th>
            <td class="mark"  class="cufon">*</td>
            <td><input id="id_last_name" name="last_name" type="text"/></td>
          </tr>
		  <tr>
            <th class="cufon">{% if is_english %}First name{% else %}Utónév:{% endif %}</th>
            <td class="mark"  class="cufon">*</td>
            <td><input id="id_first_name" name="first_name" type="text"/></td>
          </tr>
          <tr>
            <th class="cufon">E-mail:</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="text" name="mail" id="id_mail" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/></td>
          </tr> 
		  <tr>
            <th class="cufon">E-mail {% if is_english %}again{% else %}ismét{% endif %}:</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="text" name="mailer_2" id="id_mailer2" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/></td>
          </tr>          
          <tr>
            <th class="cufon">{% if is_english %}Password{% else %}Jelszó:{% endif %}</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="password" name="password" id="id_password"/></td>
          </tr>
          <tr>
            <th class="cufon">{% if is_english %}Password agian{% else %}Jelszó ismét{% endif %}:</th>
            <td class="mark"  class="cufon">*</td>
            <td><input type="password" name="password2" id="id_password2" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"/></td>
          </tr>
		 <tr><td colspan="3"><span id="cs_tos" class="cufon" target="_blank" style="font-size:14px;">{% if is_english %}I accept the Terms of services of Creative Selecetor and online payment.{% else %}Elfogadom a Creative Selector és az online fizetés feltételeit.{% endif %} * </span> &nbsp; <input type="checkbox" id="felt_6" name="felt_6" style="width:15px;"></td></tr>
			
		  <tr>
            <th class="cufon"  colspan="3">{% if is_english %}Fields with mark * are required{% else %}*-gal jelőlt mezők kitőltése kötelező{% endif %}</th>
           </tr>
		   <tr><td colspan="3">
			<div style="float: right;">
                
                <div id="continue_button">
                <a href="javascript:validate('usernoface_registration_form');"><img src="/media/images/regbtn.png" ></a>
                </div>
              </div></td>
          </tr>
        </table>
     </form>
    

    
   </div>
{% endblock %}