{% extends "admin/base.html" %}
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/nicEdit.js"></script>

<script type="text/javascript" src="/media/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.popupWindow.js"></script>
<script type="text/javascript" src="/media/js/jquery.lightbox.js"></script>


<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas({fullPanel : true}) });
	$(function() {
	  jQuery.exists = function(selector) {return ($(selector).length);}
	  if ($.exists(".lightbox")) {
  	  $(".lightbox").lightbox({
    			    fitToScreen: true,
    			    imageClickClose: false
    	});
	    
	  }
	});
</script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'CreativeSelector admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'CreativeSelector admin' %}</h1>
{% endblock %}

{% block nav-global %}
<div id="mask"></div>     
{% endblock %}
         
