{% load i18n %}
<h3>{% blocktrans with title|escape as filter_title %} By {{ filter_title }} {% endblocktrans %}</h3>

<script type="text/javascript">
	function selectFilter(obj) {
		var sel = obj;
		var selectedValue = sel.options[sel.selectedIndex].value;
		window.location = selectedValue;
	}
</script>

<select onchange="selectFilter(this)" style="width: 150px;">
{% for choice in choices %}
		<option value="{{ choice.query_string|iriencode }}" {% if choice.selected %} selected="selected" {% endif %}>{{ choice.display|escape }}</option>
{% endfor %}
</select>
