{% load expr %}
{% load filetransfers fieldtag %}
{% expr (index%5)+1 as box_index %}

{% if nc.necccategoryimage_set.all %}
  {% for ncimage in nc.necccategoryimage_set.all %}
        {% url adminupload.views.download_handler pk=ncimage.pk model_info='creativeselector.necccategoryimage' field_name='file' as fallback_url  %}
        <div class="necc_box {% if box_index == 1 %} no_left_padding {% endif %}">
          <a href="/necc/list/{{nc.link}}">
            <img src="{% firstof ncimage.file|public_download_url fallback_url as download_url %}" width='134' height='134'/>
          </a>
        {% if nc.isnew %} 
          <div class="necc_new">
          </div>
        {% endif %}
      </div>
  {% endfor %}
{% else %}
    <div class="necc_box {% if box_index == 1 %} no_left_padding {% endif %}">
      <a href="/necc/list/{{nc.link}}">
        <h1>{{nc}}</h1>
      </a>
      {% if nc.isnew %} 
        <div class="necc_new">
      
        </div>
      {% endif %}
    </div>
{% endif %}