{% extends "necc.html" %}
{% load fieldtag %}
{% load filetransfers fieldtag object_value_by_name call expr %}

{% block navigation %}
    <a href="/necc">NECC</a>&nbsp;›&nbsp;
    {{necc_category}}
{% endblock %}
  
{% block necc_content %}

<div id="category">

  <div id="similar_companies">
    {% for sc in necc_companies %}
      <div class="item">
        {% for ncimage in sc.necccompanyimage_set.all %}
             {% url adminupload.views.download_handler pk=ncimage.pk model_info='creativeselector.necccompanyimage' field_name='file' as fallback_url  %}
             <a href="{{sc.get_absolute_url}}">
                  <img src="{% firstof ncimage.file|public_download_url fallback_url as download_url %}" height="100" alt="{{ ncimage.file|filename }}" title="{{ ncimage.file|filename }}">
            </a>
        {% endfor %}
        <div id="title" onclick="jump('{{sc.get_absolute_url}}')">
          {{sc.companyname|truncchar:45}}<br/>
          <div class="description">{{sc.description|striptags|truncchar:50}}</div>
          <a class="cufon" href="{{sc.website|http}}" target="_blank">{{sc.website}}</a>

        </div>
      </div>
    {% endfor %}
  </div>
  <div style="clear: both;">
    
  </div>
</div>
{% endblock %}