Új cég nevezett a NECC-be, az alábbi adatokkal:<br/><br/>

<b>Kategória:</b> {{necc_company.category}}<br/>
<b>Cégnév:</b> {{necc_company.companyname}}<br/>
<b>Rövid leírás:</b> <div>{{necc_company.description}}</div><br/>
<b>Email:</b> {{necc_company.email}}<br/>
<br/>
Az alábbi linkkel engedélyezheted regisztrációját:
{{enable_link}}<br/><br/>
Az alábbi linkkel visszautasíthatod regisztrációját:
{{disable_link}}<br/><br/>


  