Üdvözlünk!<br/>
<br/>
Elképzelhető, hogy rendkívül zárkózottnak és merevnek fogsz tartani bennünket, de a NECC<br/>
adatbázisunkba beküldött vállalkozásodat/kezdeményezésed nem találtuk a NECC elveivel<br/>
minden tekintetben összeegyeztethetőnek. Így az általad megadott adatokat töröljük a<br/>
rendszerünkből.<br/>
<br/>
A fentiektől függetlenül, mint egyéni felhasználót, nagyon szívesen látunk a Creative<br/>
Selector-nál, ahol támogatni fogunk abban, hogy vállalkozásod/ kezdeményezésed<br/>
mihamarabb a NECC elvei alapján működjön.<br/>
<br/>
Üdvözlettel,<br/>
<br/>
A Creative Selector csapata