{% extends "base.html" %}

{% block main_wrapper %}

<script type="text/javascript" charset="utf-8">
  
  $(document).ready(function() {
    $('#necc_tos').click(function() {
      $('#tos').dialog({modal:true, title: 'Necc Felhasználási feltételek', width: 800, height: 600});
    })
  });
  
  function reset(form_id) {
      gf(form_id, "companyname").val("");
      gf(form_id, "description").val("");
      gf(form_id, "email").val("");
      gf(form_id, "website").val("");
      gf(form_id, "username").val("");
      gf(form_id, "password").val("");
      gf(form_id, "password_again").val("");
      gf(form_id, "agree").attr("checked", false)
  }
 
  function validate(form_id) {
     resetForm(form_id);

     var valid = is_empty(form_id, 'companyname', true);

     valid &= is_empty(form_id, 'description', true);

     valid &= word_validator(form_id, 'description', 5, 200);

     valid &= is_empty(form_id, 'email', true);
     
     valid &= is_empty(form_id, 'website', true);
     
     if (gf(form_id, "category").val() == "{{please_choose}}") {
       im(form_id, "category", "Válassz kategóriát!");
       valid &= false;
     }
     
     if (is_empty(form_id, 'email', true)) {
        valid &= is_not_email(form_id, 'email', true);
     }
     

     valid &= min_length(form_id, 'password', 5, true);

     valid &= is_not_same(form_id, 'password', 'password_again', true);
    
     valid &= gf(form_id, "agree").attr("checked");
     
     if (!gf(form_id, "agree").attr("checked")) {
       im(form_id, "agree", "Fogadd el és imádd a feltételeket!");
     }

     if (valid) {
       $(f(form_id)).submit();
     }
    } 

</script>

<div id="tos" class="hidden">
  {{necc_tos.content|safe}}
</div>

<div id="necc_wrapper">
  <div id="necc_register_bg">
    <div id="necc_register_wrapper">
      <div id="necc_register_label" class="cufon">
        Céged adatai:
      </div>
     <form name="necc_registration_form" id="necc_registration_form" method="post" accept-charset="utf-8">
       <table>
          <tr>
            <th>Cégnév:</th>
            <td class="mark">*</td>
            <td><input id="id_companyname" name="companyname" type="text"/></td>
          </tr>
          <tr>
            <th>Tevékenységi kör:</th>
            <td class="mark">*</td>
            <td>
              <select id="id_category" name="category">
                <option label="{{please_choose}}" selected>{{please_choose}}</option>
                {% for i in necc_categories %}
                <option label="{{i.title}}" value="{{i.id}}">{{i.title}}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <th>Rövid leírás:</th>
            <td class="mark">*</td>
            <td><textarea name="description" id="id_description"></textarea></td>
          </tr>
          <tr>
            <th>E-mail:</th>
            <td class="mark">*</td>
            <td><input type="text" name="email" id="id_email"/></td>
          </tr>
          <tr>
            <th>Weboldal:</th>
            <td class="mark">*</td>
            <td><input type="text" name="website" id="id_website"/></td>
          </tr>
          <tr>
            <th>Jelszó:</th>
            <td class="mark">*</td>
            <td><input type="password" name="password" id="id_password"/></td>
          </tr>
          <tr>
            <th>Jelszó ismét:</th>
            <td class="mark">*</td>
            <td><input type="password" name="password_again" id="id_password_again"/></td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td class="mark">&nbsp;</td>
            <td>
              <input type="checkbox" id="id_agree" name="agree" style="width: 15px;float: left; height: 15px;"/> 
              <div style="float: left; height: 10px; line-hegiht: 10px; margin-left: 10px;">
                A <span id="necc_tos" target="_blank">felhasználási feltételeket</span> elolvastam és imádom.
              </div>
            </td>
          </tr>
              <tr>
            <th>&nbsp;</th>
            <td class="mark">&nbsp;</td>
            <td> 
              <div style="float: right;">
                <div id="cancel_button" class="necc_button" onclick="reset('necc_registration_form')">
                  
                </div>
                <div id="continue_button" class="necc_button" onclick="validate('necc_registration_form')">
                  
                </div>
              </div>
            </td>
          </tr>
        </table>
     </form>
      
    </div>

    
    <div style="clear:both;"></div>
  </div>

  <div id="necc_register_info">
    <!--div id="necc_register_info_slogan">“A NECC a legjobb rendszer, amit valaha láttam”</div>
    <div id="necc_register_info_slogan_author">
      Fekete Pákó
    </div-->
    <div style="clear: both;"></div>
    <h3>A NECC-ről</h3>

    <p>A NECC (angolul Mesh) egy új üzleti modell, amely alatt azokat a nyílt közösségi alapú piaci kezdeményezéseket értjük, amelyek a web, mobil és közösségi média hálózatokra épülve állandó kapcsolatban vannak vevőikkel és a külvilággal. Őket bevonva, képesek a folyamatos megújulásra és felhasználó-barát, környezettudatos szolgáltatások kialakítására.</p>

    <p>A NECC egy új trend, amelynek jelenléte hazánkban is egyre inkább érezhető, ugyanakkor kevesen ismerik fel a jelentőségét. A NECC nemcsak átmeneti divathullám, hanem egy minden tekintetben versenyképes a jövőt meghatározni képes irány. Azok a kezdeményezések és vállalkozások, amelyek a NECC elveit követik, a partnerekkel való intenzív kapcsolataikra építve hosszú távon is versenyképesek és fenntarthatók maradnak.</p>

    <p>A Creative Selector kezdeményezése is sok tekintetben követi a NECC elvét és célja, hogy a következő években minél több ilyen vállalkozás alakulhasson ki hazánkban.</p>

    <p>A NECC adatbázisunk célja összegyűjteni a már működő hazai NECC cégeket és kezdeményezéseket, részben a lehetséges kapcsolati szinergiák kiaknázására, részben, hogy minél többet tanulhassanak egymástól – és tanulhassunk tőlük.  
    </p>

    <div style="clear:both;"></div>
  </div>
  <div style="clear:both;"></div>
</div>

{% endblock %}