{% extends "simplecontent.html" %}

<div id="center_title"  class="cufon">{% block content_tab %}oldal nem található{% endblock %}</div>

{% block content_text %}
    A keresett oldal nem található!<br/><br/>
	
	Nézd át, hogy jó linket írtál-e be!
{% endblock %}
