{% extends "simplecontent.html" %}

<div id="center_title"  class="cufon">{% block content_tab %}szerver hiba{% endblock %}</div>

{% block content_text %}
    Valami hiba lépett fel a rendszerben, ha ezt az üzenetet látod,<br/> 
	kérlek értesítsd az adminisztrátort az <a href="mailto:admin@creativeselector.hu">admin@creativeselector.hu</a>-n! 
{% endblock %}
