﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	
<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_projs %}">Projekt <br/>Finanszírozások</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">Új Projektek</a></div>
<div class="activ">Kiemelt Projektek</div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_names %}">E-mail címek</a></div>
</div>
<style type="text/css" charset="utf-8">

<!--

body{background:None;}

table,td,th,tr{border: 1px solid; font-size:11px;

border-collapse: collapse;

border-spacing: 0px;

}
tr.draggable{
	cursor:pointer;
	margin:2px;
	padding:4px;
	border:1px solid;
	width:500px;
}
tr.alt{ background:#e7e7ff;}

-->

</style>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
		$( "#kiemletek" ).tableDnD({
			onDrop: function(table, row) {
				var rows=table.tBodies[0].rows;
				for(var i=0; rows.length; i++) {
					$('input:#most_'+rows[i].id).val(i+1);
				}
				$( "#kiemletek tr:even" ).addClass('alt');
				$( "#kiemletek tr:odd" ).removeClass('alt');
			}
		});		
		$( "#kiemletek tr:even" ).addClass('alt');
	});
</script>

<br/>
<br/>
<form id="most_projekts" name="most_projekts" method="post">
<table id="kiemletek" cellspacing="6" cellpadding="4">
{% for mt in mosts %}
			<tr class="draggable" id="{{forloop.counter}}"><td><input type="hidden" name="{{mt.id}}" id="most_{{forloop.counter}}" value="{{forloop.counter}}"><span style="font-size:14px; font-weight:bold; color:#001cdd">{{mt.weight}}</span> {{mt.tender.short_title|upper}} - {{mt.tender.introduce|slice:":50"}} </li>
{% endfor %}
</table>
<input type="submit" value=" Mentés ">
</form>
<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>