﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	

<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="activ">Projekt <br/>Finanszírozások</div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">ÚJ Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_names %}">E-mail címek</a></div>
</div>
<style type="text/css" charset="utf-8">
<!--
body{background:None;}
table,td,th,tr{border: 1px solid; font-size:11px;
border-collapse: collapse;
border-spacing: 0px;
background:#ffffff;}
-->
</style>

<table style="border:none; width:90%;">
<tr style="border:none;">
	<td style="border:none;  text-align:center;"><a href="{% url creativeselector.views.admin_projs %}">projekt összesítés</a></td>
	<td style="border:none; text-align:center;"><a href="{% url creativeselector.views.admin_sups %}">támogatók összesítés</a></td>
	<td style="border:none; text-align:center;"><a href="{% url creativeselector.views.admin_budget %}">pénzmozgás összesítés</a></td>
</tr>
</table>
<br/>
<br/>
<table>
<tr><th>Dátum</th><th>Engedélyszám</th><th>Összeg</th><th>Összeg -2%</th><th>Név</th><th>Projekt</th></tr>
	{% for money,sup in sups %}
	<tr>	
		<td>{{sup.date|date:"Y.m.d H:i:s"}}</td>
		<td>{{sup.anum}}</td>
		<td>{{sup.money}} Ft</td>
		<td>{{money}} Ft</td>
		<td>{{sup.user.last_name}} {{sup.user.first_name}}</td>
		<td>{{sup.idea.short_title}}</td>
	</tr>
	{% endfor %}
	<tr style="border-top:3px solid;">
	 <td style="font-weight:bold">Összesen</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{fullmoney}} Ft</td>	 
	</tr>
	<tr >
	 <td style="font-weight:bold">Átlag</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{avg_money}} Ft</td>
	</tr>
</table>
<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>