﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	
{% if is_admin %}
<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_projs %}">Projekt <br/>Finanszírozások</a></div>
<div class="activ">ÚJ Projektek</div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_names %}">E-mail címek</a></div>
</div>



{% endif %}
<style type="text/css" charset="utf-8">
<!--
body{background:None;}
table,td,th,tr{border: 1px solid; font-size:11px;
border-collapse: collapse;
border-spacing: 0px;
}
table,tr{background:#ffffff;}
#admin_new_proj textarea{
	height:100px;
	width:250px;
}
-->
</style>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	var lgt={{projs|length}}
	for(var i=1; i<=lgt; i++)
	{
		$('#tit_'+i).html($('#ctit_'+i).html());
		$('#cat_'+i).html($('#ccat_'+i).html());
		$('#creat_'+i).html($('#ccreat_'+i).html());
		$('#name_'+i).html($('#cname_'+i).html());
		$('#email_'+i).html($('#cemail_'+i).html());
		$('#tel_'+i).html($('#ctel_'+i).html());
	}
});
</script>

<br/>
<br/>

<form method="post" name="admin_new_proj" id="admin_new_proj">
 
 <table><tr><th>Törlés</th><th>Projekt címe</th><th>Kategória</th><th>Beküldés ideje</th><th>Beküldő Neve</th>
 <th>E-mail címe</th><th>Telefonszáma</th><th>Projekt elérhetősége</th><th>Hogyan állunk</th><th>Megjegyzés</th></tr>
 {% for proj, new in projs %}
 <tr {% if proj.visitors %} style="background:#ddffdd;"{% else %}{% ifequal proj.status 2 %}  style="background:#ffff88;"{% endifequal %}{% endif %}>
 <td>{% if is_admin %}<input type="checkbox" id="id_{{new.proj.pk}}-delete" name="{{new.proj.pk}}-delete" value="True"/> {% endif %}&nbsp;</td>
 <td>{% ifequal proj.status 2 %}<a href="{% url creativeselector.views.continue_project5 proj.link %}"> {% else %} <a href="{% url creativeselector.views.validate_project proj.link %}">{% endifequal %} {% if not proj.short_title %}{{proj.link}}{% else %}{{proj.short_title}}{% endif %}</a></td>
 <td>{{proj.category}}</td>
 <td>{{proj.created|date:"Y.m.d H:i" }}</td>
 <td>{{proj.owner.last_name}} {{proj.owner.first_name}}</td>
 <td>{{proj.owner.email}}</td>
 <td>{{proj.tel_no}}</td>
 <td><select name="{{new.proj.pk}}-activ_status" id="id_{{new.proj.pk}}-activ_status">
<option value=""{% if not new.activ_status %} selected="selected"{% endif %}>---------</option>
<option value="elut"{% if new.activ_status %}{% ifequal new.activ_status 'elut' %} selected="selected"{% endifequal %}{% endif %}>Elutasítva</option>
<option value="felt"{% if new.activ_status %}{% ifequal new.activ_status 'felt' %} selected="selected"{% endifequal %}{% endif %}>Feltételes</option>
<option value="elfo"{% if new.activ_status %}{% ifequal new.activ_status 'elfo' %} selected="selected"{% endifequal %}{% endif %}>Elfogadva</option>
</select></td>
 <td><textarea id="id_{{new.proj.pk}}-how_stand" rows="10" cols="40" name="{{new.proj.pk}}-how_stand">{{new.how_stand}}</textarea></td>
 <td><textarea id="id_{{new.proj.pk}}-comment" rows="10" cols="40" name="{{new.proj.pk}}-comment">{{new.comment}}</textarea></td>
 </tr>
 {% endfor %}
 </table>
 <input type="submit" value="Mentés" />
</form>
<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>