﻿  <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	

<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_projs %}">Projekt <br/>Finanszírozások</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">ÚJ Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_names %}">E-mail címek</a></div>
<div class="activ">Lejárt Projektek</div>
</div>
<style type="text/css" charset="utf-8">
<!--
body{background:None;}
table,td,th,tr{border: 1px solid; font-size:11px;
border-collapse: collapse;
border-spacing: 0px;
background:#ffffff;}
-->
</style>

<br/>
<br/>
<table>
<tr><th>Projekt azonosító</th><th>Projekt címe</th><th>Beküldő Azonosítója</th><th>Projekt teljes költségvetése</th><th>Gyűjtés időtartama</th><th>Gyűjtés vége</th>
<th>Támogatók száma</th><th>Kategória</th><th>Mevalosulás helye</th><th>Számlaszám</th><th>Teljesülés százaléka</th><th>Összegyűjtött pénz</th><th>Gazda kap</th><th>Newtones Kap</th></tr>
	{% for pr, left, time, sup, bud, now, now1, our, percent in projs %}
	<tr>	
		<td><a href="{% url creativeselector.views.admin_list_proj pr.link %}">{{pr.pk}}</a></td>
		<td>{{pr.short_title}}</td>
		<td>{{pr.owner.pk}}</td>
		<td>{{pr.full_money}} Ft</td>
		<td>{{time}}</td>
		<td>{{pr.expiry}}</td>
		<td>{{sup|length}}</td>
		<td>{{pr.category}}</td>
		<td>{{pr.location}}</td>
		<td>{{bud.invoice_no}}</td>
		<td>{{percent}}%</td>
		<td>{{now}} Ft</td>		
		<td>{{now1}} Ft</td>		
		<td>{{our}} Ft</td>		
	</tr>
	{% endfor %}
	<tr style="border-top:3px solid;">
	 <td style="font-weight:bold">Összesen</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{fullmoney}}</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{all_sup}}</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{all_money_now}} Ft</td>
	 <td>&nbsp;</td>
	 <td>{{our_money}} Ft</td>
	</tr>
	<tr >
	 <td style="font-weight:bold">Átlag</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{avg_fullmoney}}</td>
	 <td>{{avg_days}}</td>
	 <td>&nbsp;</td>
	 <td>{{avg_sup}}</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{avg_perc}}%</td>
	 <td>{{avg_money_now}}</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	</tr>
</table>
<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>