﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	
<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_projs %}">Projekt <br/>Finanszírozások</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">Új Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
<div class="activ">E-mail címek</div>
</div>
<style type="text/css" charset="utf-8">

<!--

body{background:None;}

table,td,th,tr{border: 1px solid; font-size:11px;

border-collapse: collapse;

border-spacing: 0px;

}

-->

</style>


<br/>
<p style="text-align:center;"><a href="{% url creativeselector.views.names_to_excel %}">Excelbe importálás</a></p>
<br/>
{% if names %}
<table>
<tr><th>#</th><th>Előnév</th><th>Utónév</th><th>E-mail</th></tr>
{% for nm in names %}
	<tr><td>{{forloop.counter}}</td><td>{{nm.last_name}}</td><td>{{nm.first_name}}</td><td>{{nm.email}}</td></tr>
{% endfor %}
</table>
{% endif %}
<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>