﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	
<div id="admin_menu">
<div class="passiv"><a href="{% url creativeselector.views.list_all_comments %}">Kommentek</a></div>
<div class="activ">Projekt <br/>Finanszírozások</div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">ÚJ Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_names %}">E-mail címek</a></div>
</div>

<style type="text/css" charset="utf-8">
<!--
body{background:None;}
table,td,th,tr{border: 1px solid; font-size:11px;
border-collapse: collapse;
border-spacing: 0px;
background:#ffffff;}
-->
</style>

<table style="border:none; width:90%;">
<tr style="border:none; width:90%;">
	<td style="border:none;  text-align:center;"><a href="{% url creativeselector.views.admin_projs %}">projekt összesítés</a></td>
	<td style="border:none; text-align:center;"><a href="{% url creativeselector.views.admin_sups %}">támogatók összesítés</a></td>
	<td style="border:none; text-align:center;"><a href="{% url creativeselector.views.admin_budget %}">pénzmozgás összesítés</a></td>
</tr style="border:none; width:90%;">
</table>
<br/>
<br/>
<form name="projekts" method="post">
<table>
<tr><th>Projekt azonosító</th><th>Projekt címe</th><th>Beküldő Azonosítója</th><th>Projekt teljes költségvetése</th><th>Projektgazda bankszámlaszáma</th><th>Gyűjtés vége</th>
<th>Aktuális hátralévőidő</th><th>Támogatók száma</th><th>Teljesülés százaléka</th><th>Gazda kap</th><th>Newtones kap</th><!--th>utalva</th--></tr>
	{% for pr, bud,left, sup, now,now1,our, percent in projs %}
	<tr>	
		<td><a href="{% url creativeselector.views.admin_list_proj pr.link %}">{{pr.pk}}</a></td>
		<td>{{pr.short_title}}{% if not pr.approved %}<span style="color:#dd0000;"> - lejárt</span>{% endif %}</td>
		<td>{{pr.owner.pk}}</td>
		<td>{{pr.full_money}} Ft</td>
		<td>{{bud.invoice_no}}</td>
		<td>{{pr.expiry}}</td>
		<td>{{left}}</td>
		<td>{{sup|length}}</td>
		<td>{{percent}}%</td>
		<td>{{now1}}</td>		
		<td>{{our}} Ft</td>		
		<!--td><input type="checkbox" name="proj_{{forloop.counter}}" value="{{pr.slug}}"></td-->		
	</tr>
	{% endfor %}
	<tr style="border-top:3px solid;">
	 <td style="font-weight:bold">Összesen</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{fullmoney}} Ft</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{all_sup}}</td>
	 <td>&nbsp;</td>
	 <td>{{all_money_now}} Ft</td>
	 <td>{{our_money}} Ft</td>
	 <!--td>&nbsp;</td-->
	</tr>
	<tr >
	 <td style="font-weight:bold">Átlag</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{avg_fullmoney}} Ft</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>&nbsp;</td>
	 <td>{{avg_sup}}</td>
	 <td>{{avg_perc}}%</td>
	 <td>{{avg_money_now}} Ft</td>
	 <td>&nbsp;</td>
	 <!--td>&nbsp;</td-->
	</tr>
</table><p>
<!--input type="submit" value=" Teljesítve "--></form>

<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>
