<div id="announcements" class="idea_sidebox">
  <div id="title" class="cufon">
    Közlemények
  </div>
  
  {% for announcement in announcements %}
    <div class="announcement">
      <b>{{announcement.created|date:"Y.m.d | H:m"}}</b>
      <div class="title"><a href="{% url creativeselector.views.announcement announcement.link %}">{{announcement.title}}</a></div>
      <div class="text">
        {{announcement.content|striptags|truncatewords_html:8|safe}} <a href="{% url creativeselector.views.announcement announcement.link %}">tovább ››</a>
      </div>
    </div>
  {% endfor %}
  
</div>