{% load replace %}
<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
   addBubble('subtitle_1', '{{subtitle_1.content|removetags:"div, span"|strip|safe}}')

   addBubble('subtitle_2', '{{subtitle_2.content|removetags:"div, span"|strip|safe}}')
     
   addBubble('subtitle_3', '{{subtitle_3.content|removetags:"div, span"|strip|safe}}')
                            
   addBubble('subtitle_4', '{{subtitle_4.content|removetags:"div, span"|strip|safe}}')
                            
   addBubble('subtitle_5', '{{subtitle_5.content|removetags:"div, span"|strip|safe}}')   
                                                
  });
</script>
<div id="banner_">
  <div id="tab" class="medium_title cufon">
    hogy működik?
  </div>
  <div class="title">
    A részletes leíráshoz kattints <a href="/hogyan_mukodik">ide ››</a>
  </div>
  <div id="subtitle_bar" style="font-wieght:bolder;">
    <div id="subtitle_1">
      Röviden mutasd<br/>
      be ötletedet!
    </div>
    <div id="subtitle_2">
      Szerezz<br/>
      lájkolókat!
    </div>
    <div id="subtitle_3">
      Gyözd meg<br/>
      a zsűrit!
    </div>
    <div id="subtitle_4">
      Támogatásunkkal indítsd <br/>
      el vállalkozásodat!
    </div>
    <div id="subtitle_5">
      Építs vásárlói<br/>
      közösséget!
    </div>
  </div>
</div>

