﻿ <link rel="stylesheet" type="text/css" href="/media/generated/main-f95d582276983f671e8a9b7103462ed313aeb038.css" />
    <script type="text/javascript" src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js"></script>
	

<div id="admin_menu">
<div class="activ">kommentek</div>
<div class="passiv"><a href="{% url creativeselector.views.admin_projs %}">Projekt <br/>Finanszírozások</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_new_proj %}">ÚJ Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.mosttender_admin %}">Kiemelt Projektek</a></div>
<div class="passiv"><a href="{% url creativeselector.views.admin_end_projs %}">Lejárt Projektek</a></div>
</div>

<style type="text/css" charset="utf-8">
<!--
body{background:None;}
table,td,th,tr{border: 1px solid; font-size:11px;
border-collapse: collapse;
border-spacing: 0px;}
-->
</style>
<script type="text/javascript" charset="utf-8">
	function checkAll()
	{	
	var $inputs = $('#comments :input');
    
    var values = {};
    $inputs.each(function() {
       $(this).attr('checked', true);
    });

	}

	function uncheckAll()
	{
	var $inputs = $('#comments :input');
    
    var values = {};
    $inputs.each(function() {
       $(this).attr('checked', false);
    });
	}
</script>
<form name="comments" id="comments" method="post" >
<table>
<tr><th>Melyik blog/projekt</th><th>Ki írta?</th><th>Mikor?</th><th>Komment</th><th>törlés
										<br/><span style="font-size:10px;"><a href="javascript:checkAll();">mindent</a><br/><a href="javascript:uncheckAll();">egyiket se</a></th></tr>
	{% for comm in comments1 %}
	<tr>	
		<td>{{comm.blog}}</td>
		<td>{{comm.user}}</td>
		<td>{{comm.created}}</td>
		<td>{{comm.comment}}</td>
		<td><input type="checkbox" name="blog_{{forloop.counter}}" id="{{comm.slug}}" value="{{comm.slug}}"></td>
	</tr>
	{% endfor %}
	{% for comm in comments2 %}
	<tr>	
		<td>{{comm.idea}}</td>
		<td>{{comm.user}}</td>
		<td>{{comm.created}}</td>
		<td>{{comm.comment}}</td>
		<td><input type="checkbox" name="proj_{{forloop.counter}}" id="{{comm.slug}}" value="{{comm.slug}}"></td>
	</tr>
	{% endfor %}
</table>
<p style="float:right: margin-right:20px;"><input type="submit" value=" Törlés "></p>
</form>

<hr>
<p style="text-align:center;"><a href="/">Főoldal</a></p>