{% load call %}
<div id="content-bg_" class="content-bg">
  <div id="content_top_note">
  </div>
  
  <div id="note">
    <span class="cufon">
      Határidő:<br/>
      2010.10.24.<br/>
      <div id="link"></div>
      <a href="/reszletes_kiiras#jelentkezesi_feltetelek">Jelentkezési</a><br/>
      <a href="/reszletes_kiiras#jelentkezesi_feltetelek">feltételek</a>   
    </span>››
  </div>

  <div class="cufon" style="position: absolute; font-size: 15px; color: #555454; margin-left: 84px; top: 15px;">
    Pályázati felhívások:
  </div>
  
  <div id="content">
    {% call "widgets/tab.html" with title='1.#ötletek#határok#nélkül' %}
    <p>A mentoraink tették a dolgukat és valamivel több, mint egy óra alatt pontozással döntötték el,<br/> hogy melyik 3 ötlet részesüljön a Creative Selector 300.000 Ft-os támogatásában.</p><br/>

    <p>A nyertesek:</p><br/>

    <ul style="padding-left: 20px;">
      <li><a href="/otlet/sandor_gabor_styt_100000415391429_binfo_bikeinfo_hungary_0">Sándor Gábor Styt: Binfo - BiKEiNFO HUNGARY</a></li>
      <li><a href="/otlet/gabor_madi_100000256120060_iwiwtv_0">Gábor Mádi: iwiwTV</a></li>
      <li><a href="/otlet/ivan_kepes_650888773_kepest_hu_ingyenes_fotokidolgozas_0">Kepes Iván: KÉPEST.hu</a></li>
    </ul><br/>
   
    <p>
  
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="180" height="154" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="quality" value="high"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="flashvars" value="vID=f6b832a081&amp;autostart=false"><param name="name" value="guPlayer-f6b832a081"><param name="src" value="http://files.indavideo.hu/player/gup.swf?b=1009"><param name="wmode" value="transparent"><param name="bgcolor" value="#666666"><embed flashvars="vID=f6b832a081&amp;autostart=false" src="http://files.indavideo.hu/player/gup.swf?b=1009" quality="high" wmode="transparent" bgcolor="#666666" width="180" height="154" name="guPlayer-f6b832a081" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>
    
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="180" height="154" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="quality" value="high"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="flashvars" value="vID=22795e348a&amp;autostart=false"><param name="name" value="guPlayer-22795e348a"><param name="src" value="http://files.indavideo.hu/player/gup.swf?b=1009"><param name="wmode" value="transparent"><param name="bgcolor" value="#666666"><embed flashvars="vID=22795e348a&amp;autostart=false" src="http://files.indavideo.hu/player/gup.swf?b=1009" quality="high" wmode="transparent" bgcolor="#666666" width="180" height="154" name="guPlayer-22795e348a" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>

      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="180" height="154" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="quality" value="high"><param name="allowScriptAccess" value="always"><param name="allowFullScreen" value="true"><param name="flashvars" value="vID=e394fe6ac0&amp;autostart=false"><param name="name" value="guPlayer-e394fe6ac0"><param name="src" value="http://files.indavideo.hu/player/gup.swf?b=1009"><param name="wmode" value="transparent"><param name="bgcolor" value="#666666"><embed flashvars="vID=e394fe6ac0&amp;autostart=false" src="http://files.indavideo.hu/player/gup.swf?b=1009" quality="high" wmode="transparent" bgcolor="#666666" width="180" height="154" name="guPlayer-e394fe6ac0" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></object>
        

    </p><br/>

    <p>Reméljük nektek is tetszett a dolog! Dolgozunk rajta, hogy hamarosan új, a korábbihoz hasonlóan laza<br/> 
      pályázati kiírással jelentkezhessünk. Addig is, a Creative Selector blogján, valamint a Facebook és Twitter<br/>  oldalainkon folyamatosan beszámolunk az aktuális hírekről!</p><br/>

    <p id="gallery"> 
      {% for i in index %}
      <a href="/media/images/gallery/cs_gallery_{{i}}.jpg">
        <img style="border: 2px solid #B4C619;" src="/media/images/gallery/cs_gallery_{{i}}.jpg" width="30"/>
      </a>
      {% endfor %}
     
    </p>
    <br/>

    <p>Köszönjük a részvételt!</p><br/>

    <p><b>Creative Selector szervezők</b></p>
    {% include 'clear.html' %}
  </div>
  <div id="content_bottom">
    <div id="inner">
      {% url creativeselector.views.send_idea as send_idea %}
      <a href="{% url creativeselector.views.detailed_tender %}"> Részletes pályázati felhívás ››</a>
    </div>
  </div>
  

</div>



