<html>
<body>
<table>
<tr>
	<th>Előnév</th><th>Utónév</th><th>E-mail cím</th>
</tr>
{% for usr in users %}
<tr>
<td>{{usr.user.last_name}}</td><td>{{usr.user.first_name}}</td><td>{{usr.user.email}}</td>
</tr>
{% endfor %}
</table>
</body>
</html>