{% load media get_setting %}
{% get_setting ACTUAL_PROJEKT_ID as actual_projekt_id %}
<script type="text/javascript" charset="utf-8">
  
  
  $(document).ready(function() {
    var mobile_filter = $("#mobile_filter");
    var web_filter = $("#web_filter");
    
    var is_filter = document.location.href.indexOf("/otlet_bekuldese") < 0;
    var is_disabled = document.location.href.indexOf("/fajl_feltoltese") > -1;
    
    is_web_cb = $("#id_is_web");
    is_mobile_cb = $("#id_is_mobile");
    
    var categories = new Array();
    
    {% for c in categories %}
      categories[{{c.id}}] = "{{c.title}}";
    {% endfor %}
  
    
    // ha szurokent funkcional, akkor ugrunk, ha nem, akkor csak pipalunk
    mobile_filter.click(function() {
      if (!is_disabled && is_filter) {
        if (mobile_filter.hasClass("selected")) {
          jump("{% url creativeselector.views.ideas actual_projekt_id 'mindegy' 1 %}")
        } else {
          jump("{% url creativeselector.views.ideas actual_projekt_id 'mobile' 1 %}")
        }
       
      } else 
      if (!is_disabled)
      {
        $("#id_category").html("");
        if (mobile_filter.hasClass("selected")) {
          mobile_filter.removeClass("selected");
         // $4983676
          for (var i in categories) {
              $('#id_category').
                append($("<option></option>").
                attr("value",i).
                text(categories[i])); 
          }
          
          
          if (is_mobile_cb) { is_mobile_cb.attr('checked', false); }
        } else {
          for (var i in categories) {
            if (i==4983676) {
              $('#id_category').
                append($("<option></option>").
                attr("value",i).
                text(categories[i])); 
            }
          }


          mobile_filter.addClass("selected");
          web_filter.removeClass("selected");
          if (is_web_cb) { is_web_cb.attr('checked', false); }
          if (is_mobile_cb) { is_mobile_cb.attr('checked', true); }
        }
        checkBoth();
        
        
      }
    });

    function checkBoth() {
      if (!web_filter.hasClass("selected") && !mobile_filter.hasClass("selected")) {
         $("#idea_type").html("nincs kiválasztva");
      } else if (web_filter.hasClass("selected")) {
        $("#idea_type").html("web");
      } else if (mobile_filter.hasClass("selected")) {
        $("#idea_type").html("mobil");
      }
    }

    web_filter.click(function() {
      if (!is_disabled && is_filter) {
          if (web_filter.hasClass("selected")) {
            jump("{% url creativeselector.views.ideas actual_projekt_id 'mindegy' 1 %}")
          } else {
            jump("{% url creativeselector.views.ideas actual_projekt_id 'web' 1 %}")
          }
      } else 
      if (!is_disabled)
      {
                $("#id_category").html("");

        if (web_filter.hasClass("selected")) {
          for (var i in categories) {
              $('#id_category').
                append($("<option></option>").
                attr("value",i).
                text(categories[i])); 
          }

          
          web_filter.removeClass("selected");
          if (is_web_cb) { is_web_cb.attr('checked', false); }
        } else {
          
           for (var i in categories) {
            if (i!=4983676) {
              $('#id_category').
                append($("<option></option>").
                attr("value",i).
                text(categories[i])); 
            }
          }
          web_filter.addClass("selected");
          mobile_filter.removeClass("selected");
          if (is_web_cb) { is_web_cb.attr('checked', true); }
          if (is_mobile_cb) { is_mobile_cb.attr('checked', false); }
        }
        checkBoth();
      }
    });
    
    // ugras utan megnezzuk, hogy hova ugrottunk es aszerint pipalunk
    var is_mobile_js = document.location.href.indexOf("/otletek/szuro/mobile/oldal")>-1;
    var is_web_js = document.location.href.indexOf("/otletek/szuro/web/oldal")>-1;
    
    if (is_mobile_js {% if idea.is_mobile %}|| true{% endif %}) {
      mobile_filter.addClass("selected");
      if (true {% if idea.is_mobile %} && false{% endif %}) {
        $("#tabtitle").html("ötletek - mobil")
      }
      
    } 
    
    if (is_web_js {% if idea.is_web %}|| true{% endif %}) {
      web_filter.addClass("selected");
      if (true {% if idea.is_web %}&& false{% endif %}) {
        $("#tabtitle").html("ötletek - weboldal")
      }
    }
    
    checkBoth();


  });
</script>

<div id="filter">
  <div class="filter">
    <div id="title" class="cufon">
      {% if form %} 
        Ötletemet az alábbi kategóriába szeretném beküldeni:
      {% else %}
        Válaszd ki milyen ötletek érdekelnek!
      {% endif %}
    </div>
    
    <div id="mobile_filter">
      
    </div>

    <div id="web_filter">
    </div>

  </div>
  {% include 'sorter.html' %}
</div>