
<!--
{% load filetransfers fieldtag %}
<div id="footer">

  {% for partner in partners %}
    {% if partner.image %}
      <a href="{{partner.link}}" title="{{partner.name}}" target="_blank">
        {% url adminupload.views.download_handler pk=partner.pk model_info='creativeselector.partner' field_name='image' as fallback_url  %}
       <img src="{% firstof partner.image|public_download_url fallback_url %}" alt="{{partner.name}}" title="{{partner.name}}" height="32" />
      </a>
    {% endif %}
  {% endfor %}
  <br/>
  <br/>
  {% for partner in media_partners %}
    {% if partner.image %}
      <a href="{{partner.link}}" alt="{{partner.name}}" target="_blank">
        {% url adminupload.views.download_handler pk=partner.pk model_info='creativeselector.partner' field_name='image' as fallback_url  %}
       <img src="{% firstof partner.image|public_download_url fallback_url %}" alt="{{partner.name}}" title="{{partner.name}}" height="32" />
      </a>
    {% endif %}
  {% endfor %}
</div>
-->