{% extends "simplecontent.html" %}

{% load filetransfers fieldtag call %}

{% block content_tab %}mentoraink{% endblock %}

{% block content_text %}

  {% for mentor in mentors %}
    <div class="mentor">
        {% if mentor.image %}
        {% url adminupload.views.download_handler pk=mentor.pk model_info='creativeselector.mentor' field_name='image' as fallback_url  %}
        
        <a class="lightbox" href="{% firstof mentor.image|public_download_url fallback_url %}" title="{{mentor.name}} ({{mentor.title}} - {{mentor.company}})">          
          <img class="mentor_img" src="{% firstof mentor.image|public_download_url fallback_url %}" alt="{{mentor.name}} ({{mentor.title}} - {{mentor.company}})" title="{{mentor.name}} ({{mentor.title}} - {{mentor.company}})" />
        </a>
        {% endif %}
        <b>{{mentor.name}} ({{mentor.title}} - {{mentor.company}})</b><br/><br/>
        {{mentor.description|removetags:"span"|truncatewords_html:40|safe}}<a href="{% url creativeselector.views.one_mentor mentor.link %}">tovább ››</a>
        {% include "clear.html" %}
    </div>
    {% include "clear.html" %}
  {% endfor %}
  <br/>
  <br/>
  {% call 'widgets/back_button.html' %}

{% endblock %}
