{% load media %}
<div id="mentorok-bg_">
  <div class="title" class="cufon">
    <a href="/mentorok">mentoraink</a>
  </div>
  <div class="text">
    <div id="img" onclick="jump('/mentorok')" style="cursor:pointer;">
          <img src="{% media_url 'mentor_icon.jpg' %}" height="100">
    </div>

    {% for mentor in mentor_list_side %}
    <a href="{% url creativeselector.views.one_mentor mentor.link %}">{{mentor.name}}</a><br/>
    {% endfor %}
    <br>
    <a class="allmentor" href="/mentorok">összes mentor ››</a>
  </div>

</div>