{% extends "simplecontent.html" %}

{% load call %}

{% block content_tab %}
  Közlemény - {{announcement.title}}
{% endblock %}

{% block content_text %}

  <b>{{announcement.created|date:"Y.m.d | H:m"}}</b><br/><br/>
  <div class="text">
    {{announcement.content|safe}}
  </div>
  
  {% call 'widgets/back_button.html' %}
{% endblock %}
