{% extends "filteredcontent.html" %}

{% load facebook_tags %}
{% load paginator get_setting replace call %}
{% load format_number %}

{% block content_tab %}profilom{% endblock %}

{% block banner %}

{% endblock %}


{% block content_text %}
  {% initialize_facebook_connect %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
       $("#sorter").hide();
       $("#go_button").click(function () {
         $('#update_email_form').submit();
       })
    });
  </script>

  {% if not logged_in %}  
    {% show_connect_button %}<br/><br/>
  {% else %}
    <div id="user_details">
	{% if no_facebook %}
        <div id="idea_img"><img src="/media/images/t_silhouette_logo.gif"></div>
      
        <div style="float: left;font-weight: bold;">{{ user.last_name }} {{ user.first_name }}</div>
    
        
	{% else %}	
        <div id="idea_img">{% show_facebook_photo user  %}</div>
        <div style="float: left;font-weight: bold;">{% show_facebook_name user  %}</div>
        {% if not user.email %}
        <br/><br/><b>Ha szeretnél értesítést kapni, kérünk add meg az email címedet!</b>
        <form id="update_email_form" name="update_email_form" action="{% url creativeselector.views.profile  %}" method="post"  >

         <b> E-mail:</b> <input type="text" id="email" name="email">

          {% call 'widgets/button.html' with title="Mehet" %}
        </form>
        {% endif %}
     {% endif %}   
    </div>

  {% endif %}




{% endblock %}

{% block content_bottom %}

{% endblock %}
