<script type="text/javascript" charset="utf-8">
  
  $(document).ready(function() {
    $('#cs_tos').click(function() {
      $('#tos').dialog({modal:true, title: 'Felhasználási Feltételek', width: 800, height: 600});
    })
  });
</script>
<div id="tos" class="hidden">
  <p class="MsoNormal" style="text-align:justify"><span style="font-family:Arial">Ötletem

feltöltésével tudomásul veszem és hozzájárulok ahhoz, hogy a Creative Selector

nyilvános oldalára beküldött adatokat –amelyek tartalmazzák az összes szöveget,

képet, videót, grafikát és hanganyagot, valamint az oldalon keresztüli összes

kommunikációt- a Creative Selector üzemeltetői a nevem, mint szerző

feltüntetésével, nyilvánosan, jogdíjmentesen, bárki szánára elérhető módon

közzétegyék. Utóbbi vonatkozik az általam nyilvánosan közölt személyes adatok

felhasználására is.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>



<p class="MsoNormal" style="text-align:justify"><span style="font-family:Arial"><o:p>&nbsp;</o:p></span></p>



<p class="MsoNormal" style="text-align:justify"><span style="font-family:Arial">Felhívjuk

a figyelmed, hogy a Creative Selector oldalának nyilvános részein közölt

információk bárki számára elérhetőek lesznek, ezért a személyes adataiddal és

minden más feltöltetni kívánt tartalommal bánj körültekintően. Ötleted

leírásában, csak azokat az adatokat közöld, amiket másokkal is szívesen

megosztasz.</span></span></p>

</div>

<input id="id_owner" name="owner" type="hidden" value="{{user.id}}">
<input id="id_is_web" name="is_web" type="checkbox"  {% if idea.is_web %}checked{% endif %} style="display:none;">
<input id="id_is_mobile" name="is_mobile" type="checkbox" {% if idea.is_mobile %}checked{% endif %} style="display:none;">
<p>
  <label id="label_id_type">Kategória:</label> {{form.category}}
</p>
<br/>
<p>
  <label id="label_id_short_title" for="id_short_title">Rövid cím:</label>
</p>
<p>
  {{form.short_title}}
</p>

<p>
  <label id="label_id_for_what" for="id_for_what">Mire való?</label>
</p>
<p>
  {{form.for_what}}
</p>

<p>
  <label id="label_id_for_who" for="id_for_who">Kinek szól?</label>
</p>
<p>
  {{form.for_who}}
</p>

<p>
  <label id="label_id_rulez" for="id_rulez">Mitől fog hasítani?</label>
</p>
<p>
  {{form.rulez}}
</p>

<p>
  <label id="label_id_fail" for="id_fail">Mi lehet a gubanc?</label>
</p>
<p>
  {{form.fail}}
</p>

<p>
  <label id="label_id_competitors" for="id_competitors">Versenytársak</label>
</p>
<p>
  {{form.competitors}}
</p>

<!--<p>
  <label id="label_id_tagss" for="id_competitors">Facebook oldal</label>
</p>
<p>
  {{form.faceurl}}
</p>-->

<p>
  <label id="label_id_tagss" for="id_competitors">Címkék</label>
</p>
<p>
  {{form.tagss}}
</p>

<p style="display:none;">
  {{form.prototype}}
  <label for="id_prototype"> Már rendelkezem kész prototípussal / működő honlappal</label> 
</p>

<!--p><label for="id_need_others">Szívesen működöm közre másokkal a megvalósításban, üzemeltetésben:</label> 
  {{form.need_others}}
</p-->

<p>
  <input id="id_accept_conditions" type="checkbox"/>
  <label id="label_id_accept_conditions" for="id_accept_conditions" > Elolvastam és elfogadom a <span id="cs_tos" target="_blank">felhasználási feltételeket</span></label>
  
</p>

