{% load media %}
<div id="share_icons">
  <img class="share_icon" border="0" src="{% media_url 'twitter_logo.png' %}" alt="Kövess minket a Twitter-en" width="30" onclick="window.open('https://twitter.com/CSelector')"/>
  
  <img class="share_icon" border="0" src="{% media_url 'facebook_logo.png' %}" alt="Add a Facebook-hoz" width="30"  onclick="window.open('http://www.facebook.com/pages/Creative-Selector/148400665176340?ref=ts')"/>
  
  <img class="share_icon" border="0" src="{% media_url 'iwiw_logo.png' %}" alt="Add az iWiW-hez" width="30" onclick="window.open('http://iwiw.hu/pages/community/comdata.jsp?cID=3087562')"/>

</div>
<div id="share_it" class="cufon">
  <a href="http://www.facebook.com/pages/Creative-Selector/148400665176340?ref=ts" target="_blank">kövess minket, hogy időben értesülj a fejleményekről!
  </a>
</div>

{% include 'clear.html' %}