<script type="text/javascript" charset="utf-8">
  
  
 /* $(document).ready(function() {
      var popular_filter = $("#popular_filter");
      var fresh_filter = $("#fresh_filter");
      
      {% if order_by_created %}
        fresh_filter.addClass("selected");
      {% else %}
        popular_filter.addClass("selected");
      {% endif %}
      
      popular_filter.click(function() {
        jump('{% url creativeselector.views.ideaorder "popular" %}')
      })

      fresh_filter.click(function() {
        jump('{% url creativeselector.views.ideaorder "created" %}')
      })
  })*/
</script>

<div id="sorter">
  <div style="position: absolute; margin-left: 0px; top: 0px; background:url(/media/images/cs_filter.png) no-repeat;">
    <div id="subtitle" class="cufon">
      
    </div>
    <div id="cat1" class="cufon">
      
    </div>
    
    <div id="cat2" class="cufon">
     
    </div>
    
    <div id="cat1">
	</div>
	
	<div id="cat2">    
    </div>
  </div>
</div>

