<style type="text/css" charset="utf-8">
<!--
	#job_filter{
		position: absolute;
		left: 69px;
		top: 16px;
		cursor: pointer;
		width: 120px;
		height: 60px;
	}
	#other_filter{
		position: absolute;
		left: 195px;
		top: 16px;
		cursor: pointer;
		width: 120px;
		height: 60px;
	}
	.selected2{
	background:url("/media/images/filter_checked.png") no-repeat 0 0;
	}
	-->
</style>

<script type="text/javascript" charset="utf-8">
  
  
  $(document).ready(function() {
      var popular_filter = $("#popular_filter");
      var fresh_filter = $("#fresh_filter");
      var job_filter = $("#job_filter");
	  var other_filter = $("#other_filter");
	  
      {% if order_by_created %}
        fresh_filter.addClass("selected");
      {% else %}
        popular_filter.addClass("selected");
      {% endif %}
 
	  {% ifequal list_by_type "is_mobile" %}
        job_filter.addClass("selected2");
      {% else %}
		{% ifequal list_by_type "is_web" %}
        other_filter.addClass("selected2");
		{% endifequal %}
      {% endifequal %}
	  
      popular_filter.click(function() {
        jump('{% url creativeselector.views.ideaorder "popular" %}')
      })

      fresh_filter.click(function() {
        jump('{% url creativeselector.views.ideaorder "created" %}')
      })
	  
	  job_filter.click(function() {
        jump('{% url creativeselector.views.ideaorder "mobile" %}')
      })
	  
	  other_filter.click(function() {
        jump('{% url creativeselector.views.ideaorder "web" %}')
      })
	  
  })
</script>

<div id="sorter">
	{% ifequal projekt.link "adecco" %}
  <div id="filter3" style="position:relative;display:block;width:329px;height:98px;background-repeate:no-repeate;">
   <div id="job_filter">&nbsp;</div>
	
	<div id="other_filter">&nbsp;</div>
   </div>
   <script>document.getElementById("filter3").style.background="url(/media/images/cs_filter.png)";</script>
   {% endifequal %}
  <div class="filter filter2">
    <div id="subtitle" class="cufon">
      rendező:
    </div>
    <div id="cat1" class="cufon">
      legfrissebb
    </div>
    
    <div id="cat2" class="cufon">
      legnépszerűbb
    </div>
    
    <div id="popular_filter">
	</div>
	
	<div id="fresh_filter">    
    </div>
  </div>


</div>

