{% load facebook_tags %}
<div id="top">
</div>
<div id="tmobile_" >
<!--  <img src="/media/images/adecco_logo.jpg"/> onclick="window.open('http://www.facebook.com/#!/pages/Adecco-Magyarorsz%C3%A1g/174269299275395')" -->
</div>
<div id="htc_">
  <!--  onclick="window.open('http://www.htc.com/hu/')" -->
</div>



