{% load filetransfers fieldtag object_value_by_name %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.errors %} errors{% endif %}{% for field in line %} {{ field.field.name }}{% endfor %}">
            {{ line.errors }}
            {% for field in line %}
                <div{% if not line.fields|length_is:"1" %} class="field-box"{% endif %}>
                    {{ field.name }}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents|safe }}</p>
                        {% else %}
            
                          {% ifequal field.field|field_type 'FileField' %}
                            {% url adminupload.views.download_handler pk=original.pk model_info=opts field_name=field.field.name as fallback_url  %}
                            
                              {% if original|object_value_by_name:field.field.name|filename|is_image %}
                                <a class="lightbox" href="{% firstof original|object_value_by_name:field.field.name|public_download_url fallback_url %}">          
                                  <img src="{% firstof original|object_value_by_name:field.field.name|public_download_url fallback_url %}"  height="100">
                                </a>
                              {% else %}
                                <a href="{% firstof original|object_value_by_name:field.field.name|public_download_url fallback_url %}">
                                  {{ original|object_value_by_name:field.field.name|filename }}
                                </a>
                              {% endif %}
                              

                            {% if original.pk %}
                            <br/>
 
                               
                               <input type="submit" value="Upload" onclick="popupWindow({ centerBrowser:1, width:300, height: 60, windowURL:'{% url adminupload.views.reupload_handler pk=original.pk model_info=opts field_name=field.field.name %}'});return false; "/>
                 
                           
                            {% endif %}
                            
                          {% else %}
                            {% if field.field %}
                            {{ field.field }}
                            {% endif %}
                          {% endifequal %}
                        {% endif %}
                    {% endif %}
                    {% if field.field.field.help_text %}
                        <p class="help">{{ field.field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</fieldset>
