﻿<b>{% if active %}Aktivált{% else %}Új{% endif %} projekt!</b><br/>
<br/>
Projekt címe: {{projekt.short_title}}<br/>
{% if not active %}Rövid leírás:<br/> {{projekt.introduce}}<br/>{% endif %}
Aktiválási cím: <a href="{{url}}">{{url}}</a><br/>
<br/>