<b>Típus:</b>{% if idea.is_mobile %} Munkahely keresés támogatása {% else %} Közösségi alapon szerveződő vállalkozás {% endif %}<br/><br/>
<b>Mire való?</b><br/>{{idea.for_what}}<br/><br/>
<b>Kinek szól?</b><br/>{{idea.for_who}}<br/><br/>
<b>Versenytársak</b><br/>{{idea.competitors}}<br/><br/>
{% if idea.prototype %}
Rendelkezem prototípussal<br/><br/>
{% endif %}

<a href="{{url}}">Ötlet megtekintése</a>
