<img src="http://www.creativeselector.hu/media/images/mail_head.jpg">
<br/>
<br/>
Kedves Pályázó!<br/>
<br/>
Ötleted befogadtuk, köszönjük!<br/>
<br/>
A díjazott ötleteket Mentoraink a két kategória 5-5 legnépszerűbb ötlete közül választják ki, ezért bíztatunk, hogy minél több Támogatót szerezz még a pályázati határidő vége előtt!<br/>
<br/>
Érvényes támogatói szavazatnak az ötlet címe melletti nagy 'Támogatom!' gombra történő kattintást fogadjuk el. Az alul lévő Facebook 'like' gombot nem!<br/>
Ezzel biztosítjuk, hogy egy szavazó, egy ötletet, csak egyszer támogathasson. <br/>
<br/>
Ötletedet a pályázat zárásáig bármikor kiegészítheted az új gondolatokkal! <br/>
<br/>
Amennyiben kérdésed vagy megjegyzésed van, írj nekünk.<br/>
<br/>
Jó versenyzést!<br/>
<br/>
A Creative Selector csapata<br/>
<br/>
<a href="http://www.creativeselector.hu">www.creativeselector.hu</a><br/>
<br/>
<a href="mailto:info@creativeselector.hu">info@creativeselector.hu</a><br/>
<br/>