﻿<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN"
	"http://www.w3.org/TR/2001/REC-MathML2-20010221/dtd/xhtml-math11-f.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="Format" content="complete" />
	</head>
<body>
{% if active %}
<p>Kedves {{projekt.owner.last_name}} {{projekt.owner.first_name}}!</p>
<blockquote>
<p>Projekted aktiváltuk! Mostantól az alábbi linken lesz elérhető:</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>A gyűjtés ideje alatt fontos, hogy lendületben maradj és rendszeresen hírt adj projekted alakulásáról a barátaidnak, ismerőseidnek. </p>
<p>A támogatóid a PROFILOM menüpont alatt tudod nyomon követni. </p>
<p>Amennyiben kérdésed van,kérünk, írj levelet az <a href="mailto:info@creativeselector.hu">info@creativeselector.hu</a> címünkre. </p>
<p>Drukkolunk, hogy sikeres legyen a gyűjtés!</p>
<p>A Creative Selector csapata </p>
</blockquote>
{% else %}
<p>Kedves {{username}}!!</p>
<h1 id="gratullunkprojektednagyonizgalmasnaktalltukezrtbefogadtuk">Gratulálunk, projekted nagyon izgalmasnak találtuk ezért befogadtuk!</h1>
<blockquote>
  <p>A projekted bemutatkozó oldalának szerkesztéséhez egészen addig bármikor visszatérhetsz és kedvedre alakíthatod, amíg úgy nem döntesz hogy az megérett a közzétételre.</p>

<p>A nyilvános közzétételt követően azonban a projekt bemutatkozóján már nem tudsz változtatni! Amenyiben a gyűjtési folyamat során szeretnél változásokat vagy új fejleményeket bejelenteni, azt majd a profilom menüpontban a projektedre kattintva tudod megtenni. Ezek a frissítések kiemelve jelennek meg a projekt leírása fölötti részben és minden támogatód emailben értesítést kap róla automatikusan.</p>

<p>Időről időre érdemes ilyen frissítésekben tájékoztatnod támogatóid a projekt állásáról. </p>

<p>Amikor valaki támogatja a projekted, arról emailben értesítést kapsz. A támogatóid kilétéről a <a href="{{url2}}">profilom</a> menüpont alatt találsz több információt. </p>

<p>Amennyiben a projekt elkészítése során elbizonytalanodnál vagy kérdéseid merülnének fel, küldj nekünk <a href="mailto:info@creativeselector.hu">levelet</a> bátran! Igyekszünk hamar válaszolni rá! </p>
</blockquote>
<h1 id="aprojektedvglegesformbantstitttudodmegtenni">A projekted végleges formába öntését itt tudod megtenni</h1>
<p><a href="{{url}}">{{url}}</a></p>
<p>Sok sikert a gyűjtéshez!
A Creative Selector csapata </p>
{% endif %}
</body>
</html>