<p><strong>
{% if sup.anum %}Gratulálunk támogatásod sikeres volt!
{% else %}Támogatásod sikertelen volt!
{% endif %}</strong></p>

{% if sup.anum %}<p><strong>Mostantól hivatalosan is támogatója lettél a(z) {{sup.idea.short_title}} projektnek.</strong> </p>{% endif %}

<p>Tranzakció visszaigazolása:</p>

<blockquote><p>Tranzakció azonosító (trid): {{sup.trid}}</p>
	<p>Válaszkód (rc): {{rc}}</p>
	<p>Válaszüzenet (rt): {{rt}}</p>
	{% if sup.anum %}<p>Engedélyszám (anum): {{sup.anum}}</p>{% endif %}
	<p>Fizetett összeg (amo):{{sup.money}}</p>

{% if pres %}
<p>Választott jutalmad: 
{{pres.detail|safe}}</p>
{% endif %}
</blockquote>
<p>A fizetéssel kapcsolatos kérdéseit a <a href="mailto:fizetes@creativeselector.hu" >fizetes@creativeselector.hu</a> címre várjuk.</p>
A Creative Selector csapata </p>