﻿<b>Tiszelt {{username}}!</b><br/>
<br/>
Sajnáltattal közöljük, hogy projektedet nem tudjuk elfogadni<br/>
Indok:<br/>
{{text|safe}}
<br/>
De ne csüggedj, inkább küldj be egy másikat<br/><br/>
A Creative Selector csapata