﻿<p><strong>
{% if sup.anum %}Congratulations, succesful support!
{% else %}Support is failed!
{% endif %}</strong></p>

{% if sup.anum %}<p><strong>Now you are an offical supporter of the {{sup.idea.short_title}} project.</strong> </p>{% endif %}

<p>Transaction confirmation:</p>

<blockquote><p>Transaction id (trid): {{sup.trid}}</p>
	<p>Response code (rc): {{rc}}</p>
	<p>Response text (rt): {{rt}}</p>
	{% if sup.anum %}<p>Authorisation number (anum): {{sup.anum}}</p>{% endif %}
	<p>Amount (amo):{{sup.money}}</p>

{% if pres %}
<p>Chossen gift: 
{{pres.detail|safe}}</p>
{% endif %}
</blockquote>
<p>If you have questions with the payments, please contact us in <a href="mailto:fizetes@creativeselector.hu" >fizetes@creativeselector.hu</a></p>
The Creative Selector team </p>