{% load filetransfers fieldtag object_value_by_name media %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
	<head>
	     
		<style type="text/css">
		<!--
		body{
		background: #3bcc6f url('/media/images/projektin_bcg.png') repeat-y left;
		*background-color: #31c664;
		font-family: Arial,Helvetica,Arial,sans-serif;
		/*margin-left:105px;*/
		}
		#content{
			background:white;
			margin:15px;
			padding:10px;
		}
		#button{			
			background:url('/media/images/button.png') no-repeat;
			width:164px;
			height:31px;
			padding-top:6px;
			padding-left:0px;
			color:#ffffff;
			cursor:pointer;
			font-weight:bold;
			text-align:center;
			display:inline-block;
			margin-top:10px;
		}
		-->
		</style>
		
		<script src="/media/generated/main-ac6c91e7124c6a666c8a098cfd155df8403f9ec3.js" type="text/javascript"></script>
    <title>Upload</title>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("#spinner").hide();
      });
	  function validate(form_id) {
	 resetForm(form_id);
	 $('#spinner').show(); $('#content').hide()
	 $(f(form_id)).submit();
	 }
	  
    </script>
	</head>
  
	<body>
	  <div id="content">
      <form action="{{ upload_url }}" method="post" name="image_up" id="image_up" enctype="multipart/form-data" accept-charset="utf-8">
        {% csrf_token %}

        {% render_upload_data upload_data %}
        {% for field in form %}
          {% ifequal field|field_type 'FileField' %}
            {{ field.label_tag }}: {{ field }}
          {% else %}
            <div style="display:none;">
                {{ field.label_tag }}: {{ field }}
            </div>
          {% endifequal %}
        {% endfor %}
		<!--input type="submit" value="Upload" style="margin-top: 20px;" onclick="$('#spinner').show(); $('#content').hide()"/-->
		  </form>
		  <div class="cufon" onclick="validate('image_up');" id="button">Kép feltöltése</div>
	
	  </div>
	  <div id="spinner">
	    <img src="/media/images/loading.gif">
	  </div>
	</body>
</html>
