{% load media %}
<form id="facebook_login" action="{% url facebook_connect %}?facebook_login=1" method="post">
    <a href="javascript:void(0);" onclick="F.connect(this.parentNode);">
      <img src="{% media_url 'fb_login_btn.png' %}">
    </a>
</form>

<b>Csak az általad engedélyezett tartalmakat posztoljuk!</b>