﻿{% extends "simplecontent.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Támogatóim{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	<script src="/media/js/nicEdit.js" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function () {$('#id_content').val(''); $('.nicEdit-main').html(''); });
	 function validate(form_id) {
		 resetForm(form_id);
		 var valami=$('.nicEdit-main').html();
		 $('#id_content').val(valami);
		 $(f(form_id)).submit();
  
  }
  
bkLib.onDomLoaded(function(){ var myInstance = new nicEditor().panelInstance('id_content');});
</script>
<style type="text/css" charset="utf-8">
		 <!--
		 #id_content{
			width:580px;
			height:300px;
		 }
		 td{padding-top:10px; max-width:160px;}
		 table, tr, td {word-wrap: break-word;}
		-->
		</style> 
	<div id="owner_proj">
	<a href="{% url creativeselector.views.get_project proj.link %}"style="float:right">Projekt nyílvános elérhetősége</a>
	<p class="cufon" >{{proj.short_title}} </p>
	<span style="font-weight:normal;float:right;"><a href="#send_update_form" style="color:#dd0000;">Új frissítés írása</a></span>
	<p>Összes támogató</p>
	<table width="640">
		<tr><th style="text-align:left;" class="cufon">Név</th><th style="text-align:left;" class="cufon">Támogatás</th><th style="text-align:left;" class="cufon">e-mail</th><th style="text-align:left;" class="cufon">Postai cím</th></tr>
		{% for sup in supps %}
		
		
		<tr>			
			<td>{% ifequal sup.visibility 3 %}{% if sup.name %}{{sup.name}}{% else %}{{sup.user.last_name}} {{sup.user.first_name}}{% endif %} (Anonymus){% else %}{% if sup.name %}{{sup.name}}{% else %}{{sup.user.last_name}} {{sup.user.first_name}}{% endif %}{% endifequal %}</td>
			<td>{% ifequal sup.visibility 1 %}{{sup.money}},-{% else %}<!--{{sup.money}},--->(Nem látható){% endifequal %}</td>			
			<td>{{sup.user.email}}</td>
			<td>{{sup.adress}}, {{sup.zipcode}}, {{sup.city}}</td>
		</tr>
		{% endfor %}
		</table>
		<hr>
		<p>Támogatók, akik ajándékot kértek </p>
		<table style="100%">
		<tr><th class="cufon">Elküldve</th><th class="cufon">Név</th><th class="cufon">Támogatás</th><th class="cufon">Ajándék</th><th class="cufon">e-mail</th><th class="cufon">Postai cím</th></tr>
		{% for cou, sup in supp_pres %}
		<script type="text/javascript" charset="utf-8">
		 $(document).ready(function() {
				addBubble('pres_{{sup.pres}}', '{{sup.pres.detail|safe}}')
			});
			
		</script>
		
		<tr>
			<td><input type="checkbox" id="sup_{{sup.trid}}" name="sp_{{forloop.counter}}" value="{{sup.trid}}" {% if sup.get_pres %} checked{% endif %}></td>
			<td>{% if sup.name %}{{sup.name}}{% else %}{{sup.user.last_name}} {{sup.user.first_name}}{% endif %}</td>
			<td>{{sup.money}},-</td>
			<td><label id="pres_{{sup.pres}}">{{cou}}</label></td>
			<td>{{sup.user.email}}</td>
			<td>{{sup.adress}}, {{sup.zipcode}}, {{sup.city}}</td>
		</tr>
		{% endfor %}
		</table>
		<hr>
		<span class="cufon"> Mit ígértem? <img src="/media/images/pres_box.png" width="30"> </span>
		<table style="border:1px solid; margin-left:35px; width:250px">
		<tr style="border:1px solid #000000;"><th style="border:1px solid;text-align:left;width:20px;">#</th><th style="border:1px solid #000000;text-align:left;">Ajándék</th></tr>
			{% for prs in presents %}
			<tr style="border:1px solid #000000;"><td style="border:1px solid #000000;width:20px;">{{forloop.counter}} </td><td style="border:1px solid #000000;"> {{prs.detail|safe}}</td></tr>
			{% endfor %}
		</table>
		
		<hr class="potty">
		<p class="cufon">Projektleírás frissítése</p>
		<span style="font-size:12px">A frissitéseid a projekt adatlapján kiemelve jelennek meg és minden támogatódnak e-mailben értesítést küldünk róla</span>
		<form id="send_update_form" name="send_update_form" method="post"  > 
		{{form.content}}
		<br/>
		<br/>
		{% call "widgets/button.html" with title="elküld" click="validate('send_update_form')" %}
		</form>
		{% if tdus %}
		<p>&nbsp;</p>
		<p id="update_title">Utolsó frissítésed</p>
			
			<div class="updates"><a href="{% url creativeselector.views.get_project_update proj.link %}" style="color:#F26522;" ><span style="font-weight:bold">{{tdus.created|date:"Y.m.d | H:i"}}</span> <br/>
			{{tdus.content|slice:":250"|striptags}}...
			</a>			
			</div>
		{% endif %}
	</div>
	    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
		
		
    {% endblock %}
  </div>


{% endblock %}