﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<script type="text/javascript" charset="utf-8">
  
  // Form validator
  function validate(form_id) {
	if($('#id_faceurl').val())
	{    
		var faceurl=$('#id_faceurl').val();
		if(faceurl.search('http://')<0 && faceurl.search('https://')<0){ $('#id_faceurl').val('http://'+faceurl);}
	}
	 resetForm(form_id);
	 var valid = max_length(form_id, 'short_title', 40);
	 valid &= max_length(form_id, 'tagss', 50);
	 
	if(valid)
     $(f(form_id)).submit();
 
  }
  

</script>
	<div id="form">
		<div id="lepteto"><span class="active">1.alapinfó</span>&nbsp;&nbsp;<a href="/projekt_szerk2/{{proj.link}}">2.bemutatkozás</a>&nbsp;&nbsp;<a href="/projekt_szerk3/{{proj.link}}">3.videó/kép</a>
		&nbsp;&nbsp;<a href="/projekt_szerk4/{{proj.link}}">4.pénz/időzítés</a>&nbsp;&nbsp;<a href="/projekt_szerk5/{{proj.link}}">5.ajándékok</a>
		&nbsp;&nbsp;<a href="/projekt_szerk6/{{proj.link}}">6.előnézet</a></div>
	
	<form id="send_projekt_form" name="send_projekt_form" action="/projekt_szerk/{{proj.link}}" method="post"  > 
	<input id="id_owner" name="owner" type="hidden" value="{{user.id}}">
	<input id="id_full_money" name="full_money" type="hidden" value="{{proj.full_money}}">
	<input id="id_introduce" name="introduce" type="hidden" value="{{proj.introduce}}">
	{% if proj.crowd_no %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="{{proj.crowd_no}}">{% else %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="0">{% endif %}
	{% if proj.introduce %}<input id="id_introduce" name="introduce" type="hidden" value="{{proj.introduce}}">{% endif %}
	{% if proj.for_what %}<input id="id_for_what" name="for_what" type="hidden" value="{{proj.for_what}}">{% endif %}
	{% if proj.budget %}<input id="id_budget" name="budget" type="hidden" value="{{proj.budget}}">{% endif %}
	{% if proj.why_sup %}<input id="id_why_sup" name="why_sup" type="hidden" value="{{proj.why_sup}}">{% endif %}
	{% if proj.video_url %}<input id="id_video_url" name="video_url" type="hidden" value="{{proj.video_url}}">{% endif %}
	{% if proj.from_when %}<div class="hidden">{{form.from_when}}</div>{% endif %}
	{% if proj.expiry %}<div class="hidden">{{form.expiry}}</div>{% endif %}
	<p> Projekt címe:</p>
	<span>&nbsp;</span>
	<p>{{form.short_title}}</p>
	
	<p> Tagek: </p><span>A projektedet leginkább meghatározó szavak, kifejezések</span>
	<p>{{form.tagss}}</p>
	
	<p> Kategória:</p>
	<p>{{form.category}}</p>
	
	<p> Telefonszámod: </p><span>Nem nyilvános adat</span>
	<p>{{form.tel_no}}</p>
	
	<p> Helyszín: <span>(Magyarországi település, vagy ország, város)</span></p>
	<span>Hol valósul meg a projekted? Több helyszín esetén is csak a legmeghatározóbbat add meg</span>
	<p>{{form.location}}</p>
	
	<p> Külső weboldalad elérhetősége: </p>
	<span>Itt megadhatod <u>egy</u> külső oldaladnak az elérhetőségét.(Facebook, twitter, blog, etc.)</span>
	<p>{{form.faceurl}}</p>
	
	
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if logged_in %}
		{% call "widgets/button.html" with title="mentés#és#tovább" click="validate('send_projekt_form')" %}
	{% endif %}
    {% endblock %}
  </div>


{% endblock %}