﻿{% extends "base.html" %}
{% load replace video call %}
{% load filetransfers fieldtag object_value_by_name call %}
{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	{% if proj.tenderimage_set.all %}<script type="text/javascript" src="/media/js/simplegallery.js"></script>	{% endif %}
	

	<script type="text/javascript" charset="utf-8">
  
  // Form validator
  function validate() {
   {% if publicable %}
   {% if is_admin %}
     jump('{% url creativeselector.views.projectpublic proj.link %}');
	{% else %}
     jump('{% url creativeselector.views.saveproject proj.link "True" %}');
	 {% endif %}
	{% else %}
	jump('{% url creativeselector.views.saveproject proj.link "False" %}');
	{% endif %}
  }

   $(document).ready(function () {
		var num1=$('#fullmoney_big').html();		
		var num2=$('#fullmoney_small').html();		
		var num3=$('#percent_now_big').html();		
		var num4=$('#percent_now_small').html();		
		$('#fullmoney_big').html(separateNum(num1));
		$('#fullmoney_small').html(separateNum(num2));
		$('#percent_now_big').html(separateNum(num3));
		$('#percent_now_small').html(separateNum(num4));
		{% if popup %}	
		$('#popup').dialog({modal:true, title: '', width: 450, height: 175});
		{% endif %}
			
	 });{% if not proj.video_url %}{% if proj.tenderimage_set.all %}
var mygallery=new simpleGallery({
	wrapperid: "simplegallery1", //ID of main gallery container,
	dimensions: [330, 254], //width/height of gallery in pixels. Should reflect dimensions of the images exactly
	imagearray: [
		
		
		{% for ideaimage in proj.tenderimage_set.all %}
		{% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
		{% if ideaimage.file|filename|is_image %}
		["{% firstof ideaimage.file|public_download_url fallback_url as download_url %}", "", "", ""],				
		{% endif %}
		{% endfor %}
	],
	autoplay: [false, 2500, 2], //[auto_play_boolean, delay_btw_slide_millisec, cycles_before_stopping_int]
	persist: false, //remember last viewed slide and recall within same session?
	fadeduration: 500, //transition duration (milliseconds)
	oninit:function(){ //event that fires when gallery has initialized/ ready to run
		//Keyword "this": references current gallery instance (ie: try this.navigate("play/pause"))
	},
	onslide:function(curslide, i){ //event that fires after each slide is shown
		//Keyword "this": references current gallery instance
		//curslide: returns DOM reference to current slide's DIV (ie: try alert(curslide.innerHTML)
		//i: integer reflecting current image within collection being shown (0=1st image, 1=2nd etc)
	}
}){% endif %}{% endif %}
	/*function changeimg(img){
		$('#largeImage').attr('src',$(img).attr('src'));
		};*/
  </script>
	{% if popup %}	
	<div id="popup" class="hidden">
		<span style="font-size:14px; font-weight:bold;">A projekted változásait elmentettük.<br/>
		A <a href="/profilom"><img src="/media/images/profilom.png"></a> menüpont alatt tudod folytatni a kitöltést.</span>
		</div>
	{% endif %}
	<div id="form">
		<div id="lepteto"><a href="/projekt_szerk/{{proj.link}}">1.alapinfó</a>&nbsp;&nbsp;<a href="/projekt_szerk2/{{proj.link}}">2.bemutatkozás</a>&nbsp;&nbsp;<a href="/projekt_szerk3/{{proj.link}}">3.videó/kép</a>
		&nbsp;&nbsp;<a href="/projekt_szerk4/{{proj.link}}">4.pénz/időzítés</a>&nbsp;&nbsp;<a href="/projekt_szerk5/{{proj.link}}">5.ajándékok</a>&nbsp;&nbsp;
		<span class="active">6.előnézet</span></div>
		<p style="color:red">Így fog kinézni a projekted! Miután nyílvánossá tetted, már nincs mód a módosítására. Ezért figyelmesen olvasd át újra, és csak akkor publikáld, ha mindent rendben találsz.</p>
	<div id="projekt_card">
				<div id="proj_video">
				<p id="projekt_title">{{proj.short_title|upper}}</p>
				<p class="kicsi">kategória: {{proj.category|upper}}</p>
					<p class="kicsi">projektgazda: <a href="{% url creativeselector.views.get_user_profile proj.owner.username %}" >{{proj.owner.last_name|upper}} {{proj.owner.first_name|upper}} </a></p>
					<p class="kicsi">helyszín: {{proj.location|upper}}</p>
				
				{% if proj.video_url %}{{proj.video_url|video|safe}}{% else %}
					{% if proj.tenderimage_set.all %}
					<div id="gallery">
						<div id="simplegallery1"></div>
						
					</div>
					{% else %}
					<p> A 3. pontban tudsz videót vagy képet csatolni a projektedhez </p>
					{% endif %}
				{% endif %}
				{% if proj.video_url %}{% if proj.tenderimage_set.all %}<p style="width:330px;margin:0px;text-align:center;">
			{% for ideaimage in proj.tenderimage_set.all %}
			{% url adminupload.views.download_handler pk=ideaimage.pk model_info='creativeselector.tenderimage' field_name='file' as fallback_url  %}
			{% if ideaimage.file|filename|is_image %}			
                        <a class="lightbox" href="{% firstof ideaimage.file.file|public_download_url fallback_url as download_url %}"{% if ideaimage.tit %} title="{{ ideaimage.tit|upper }}"{% endif %}>
                  <img src="{% firstof ideaimage.file|public_download_url fallback_url as download_url %}" height="75" style="max-width:330px;"  alt="{% if ideaimage.tit %}{{ ideaimage.tit }}{% else %}{{ ideaimage.file|filename }}{% endif %}" title="{% if ideaimage.tit %}{{ ideaimage.tit }}{% else %}{{ ideaimage.file|filename }}{% endif %}">
                </a>
              {% endif %}
			{% endfor %}</p>
		{% endif %}{% endif %}
					<div id="statusbar"><img src="/media/images/zold_statusbar_b.png" height="15"><img src="/media/images/zold_statusbar_c.png" width="0" height="15"><img src="/media/images/zold_statusbar_e.png" height="15"></div>
					<p class="percent">0%</p>
					<p>facebook like</p>
					<p align="right" style="margin-right:20px;"><img src="/media/images/support.png"></p>
					<div id="proj_supporters"><p>Támogatók:</p></div>
				</div>
				<div id="proj_infos">
					<div id="proj_info_card">
					<p class="huge_no" id="fullmoney_big">0,- Ft</p>
					<p class="normal" style="font-size:16px; font-weight:bold;" id="percent_now_big">0% (célösszeg: {{proj.full_money}},- Ft)</p>
					<p class="normal" style="font-size:16px; font-weight:bold;">támogatók száma: {{supporters}}</p>
					<hr>
					<p class="huge_no">{{daysleft}}</p>
					<p class="normal" >nap van még hátra</p>
					<hr>
					<p class="normal" >Mit kapok? <img src="/media/images/pres_box.png" width="38" valign="text-bottom"></p>
					
	<div id="presents_show" class="flexcroll">
				
	{% for pres in presents %}
	<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
		var num=$('#pres_sup_num_{{forloop.counter}}').html();
		$('#pres_sup_num_{{forloop.counter}}').html(separateNum(num));
		});
	 </script>
	<p class="kicsi" ><span id="pres_sup_num_{{forloop.counter}}" style="font-weight:bold;">{{forloop.counter}}. KATEGÓRIA ({{pres.min_prize}},- Ft felett):</span><br/>
	<span style="font-size:13px;">{{pres.detail|safe}}</span></p>	
	<hr>
	{% endfor %}</div>
					
					</div>
					<!--p class="proj_action"><img src="/media/images/envelope.png"> levél a projektgazdának</p-->
					{% if proj.faceurl %}<p class="proj_action">&nbsp;<a href="{{proj.faceurl}}" target="_blank">saját weboldal</a></p>{% endif %}
				</div>
			</div>
	<div style="display:inline-block; width:635px;">
	<hr style="border:none; height:2px; color:#C8C7C7; background:#C8C7C7;"/>
	<p id="projekt_title">PROJEKTLEÍRÁS</p>
	<style type="text/css" charset="utf-8">
<!--
	#form p {
	font-weight: normal;
	}
-->
</style>
	<!--p class="proj_desc"> Projekt rövid összefoglalója</p>
	<p>{{proj.introduce|safe}}</p-->
	<p class="proj_desc"> Célok</p>
	<p>{{proj.for_what|safe|linebreaks}}</p>
	<p class="proj_desc"> Megvalósítás</p>
	<p>{{proj.budget|safe|linebreaks}}</p>
	<p>{{proj.why_sup|safe|linebreaks}}</p>
	</div>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if logged_in %}
		{% url creativeselector.views.continue_project4 proj.link as back_url %}
		{% call "widgets/back_button.html" with url=back_url %}
		{% if publicable %}
		{% if is_admin %}
		{% call "widgets/button.html" with title="Élesíthető" click="validate()" %}
		{% else %}
		{% call "widgets/button.html" with title="publikálás" click="validate()" %}
		{% endif %}
		{% else %}
		{% call "widgets/button.html" with title="mentés" click="validate()" %}
		{% endif %}
	{% endif %}
    {% endblock %}
  </div>


{% endblock %}