﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<script type="text/javascript" charset="utf-8">
  
  // Form validator
  function validate(form_id) {
   
     $(f(form_id)).submit();
  
  }
  

</script>
	<div id="form">
		<div id="lepteto"><a href="/projekt_szerk/{{proj.link}}">1.alapinfó</a>&nbsp;&nbsp;<a href="/projekt_szerk2/{{proj.link}}">2.bemutatkozás</a>&nbsp;&nbsp;<a href="/projekt_szerk3/{{proj.link}}">3.videó/kép</a>
		&nbsp;&nbsp;<a href="/projekt_szerk4/{{proj.link}}">4.pénz/időzítés</a>&nbsp;&nbsp;<span class="active">5.ajándékok</span>&nbsp;&nbsp;
		<a href="/projekt_szerk6/{{proj.link}}">6.előnézet</a></div>
	
	<form id="send_projekt_form" name="send_projekt_form" action="/projekt_szerk5/{{proj.link}}" method="post"  > 
	
	<script type="text/javascript" charset="utf-8">
 $(document).ready(function() { 
 
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
 
  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
 
    if (formCount > 3) {
      // Delete the item/form
      $(btn).parents('.item').remove();
 
      var forms = $('.item'); // Get all the forms
 
      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
 
      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          if ( $(this).attr('type') == 'text' )
            updateElementIndex(this, prefix, i);
        });
      }
 
    } // End if
    else {
        alert("Minimum 3 ajándékot meg kell adni");
    }
    return false;
  }
 
  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
 
    // You can only submit a maximum of 10 todo items
    if (formCount < 10) {
      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(100);
 
      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass("error");
 
      // Relabel or rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        $(this).val("");
      });
	  $(row).find("#number").html(formCount+1);
 
      // Add an event handler for the delete item/form link
      $(row).find(".delete").click(function() {
        return deleteForm(this, prefix);
      });
 
      // Update the total form count
      $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1); 
 
    } // End if
    else {
      alert("Sajnos max 10 elemet lehet csak megadni");
    }
    return false;
  }
 
  // Register the click event handlers
  $("#add").click(function() {
    return addForm(this, "form");
  });
 
  $(".delete").click(function() {
    return deleteForm(this, "form");
  });
 
});
</script> 
<p>Itt tudod megadni, hogy milyen ajándékokat adsz a támogatásokért cserébe.
<br/> A legkisebb támogatás összege 500 Ft, ezt követően Te mondod meg az értékhatárokat.
<br/>A "további ajándék" gombra kattintva, bátran nyiss újabb ajándék kategóriákat.</p>
  {{ formset.management_form }}
  
    {% for form in formset.forms %}<div class="item">
 <p style="margin-left:15px;">{{form.id}}</p>
 <p style="margin-left:15px;" class="present"><span id="number"> {{forloop.counter}}</span>. támogatói kategória {{form.min_prize}} Ft vagy nagyobb értékben</p>
 <p style="margin-left:15px;" >leírás:<br/>
 {{form.detail}}
 <br/><span class="delete" style="cursor:pointer;">törlés</span></p></div>
 
 {% endfor %}
 <span id="add" style="cursor:pointer;">További ajándékok</span>
	
	
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if logged_in %}
		{% url creativeselector.views.continue_project3 proj.link as back_url %}
		{% call "widgets/back_button.html" with url=back_url %}
		{% call "widgets/button.html" with title="mentés#és#tovább" click="validate('send_projekt_form')" %}
    {% endif %}
	{% endblock %}
  </div>


{% endblock %}