{% extends "base.html" %}
{% load replace video call %}


{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<script src="/media/js/nicEdit.js" type="text/javascript"></script>
	<script type="text/javascript" charset="utf-8">
	var left_chars=0;
	var title_size={{proj.short_title|length}};
	if(title_size<=20) left_chars=140;
	else left_chars=100;
	var intr_size=left_chars-{{proj.introduce|length}};
	
	
	$(document).ready(function() {
	$('#left_chars').html(intr_size);
		$('#id_introduce').keyup(function(){
			var ln=$(this).val().length;
			var left=left_chars-ln;
			$('#left_chars').html(left);
		});
	});
   function validate(form_id) {
	 resetForm(form_id);
	 var valid = max_length(form_id, 'introduce', left_chars);
	 if(valid)
	 $(f(form_id)).submit();
  
  }
  

</script>
<style type="text/css" charset="utf-8">
 <!--
 #id_for_what, #id_budget,  #id_why_sup{
	width:580px;
	height:200px;
 }
 #id_introduce{
	width:580px;
	height:120px;
 }
-->
</style> 
<div id="pics_of_youtube" class="hidden">
	<p>Válaszd ki melyik kép jelenjen meg</p>
	<table>
	<tr>
	<td><a href="javascript:chosepick(1);"><img src="" id="youtube_pic1"></a></td>
	<td><a href="javascript:chosepick(2);"><img src="" id="youtube_pic2"></a></td>
	<td><a href="javascript:chosepick(3);"><img src="" id="youtube_pic3"></a></td>
	</tr>
	</table>
	
</div>
	<div id="form">
		<div id="lepteto"><a href="/projekt_szerk/{{proj.link}}">1.alapinfó</a>&nbsp;&nbsp;<span class="active">2.bemutatkozás</span>&nbsp;&nbsp;<a href="/projekt_szerk3/{{proj.link}}">3.videó/kép</a>
		&nbsp;&nbsp;<a href="/projekt_szerk4/{{proj.link}}">4.pénz/időzítés</a>&nbsp;&nbsp;<a href="/projekt_szerk5/{{proj.link}}">5.ajándékok</a>
		&nbsp;&nbsp;<a href="/projekt_szerk6/{{proj.link}}">6.előnézet</a></div>
	
	<form id="send_projekt_form" name="send_projekt_form" action="/projekt_szerk2/{{proj.link}}" method="post"  > 
	<input id="id_owner" name="owner" type="hidden" value="{{user.id}}">
	<input id="id_full_money" name="full_money" type="hidden" value="{{proj.full_money}}">
	<input id="id_short_title" name="short_title" type="hidden" value="{{proj.short_title}}">
	{% if proj.tagss %}<div class="hidden">{{form.tagss}}</div>{% endif %}
	<input id="id_category" name="category" type="hidden" value="{{proj.category.id}}">
	{% if proj.tel_no %}<input id="id_tel_no" name="tel_no" type="hidden" value="{{proj.tel_no}}">{% endif %}
	{% if proj.location %}<input id="id_location" name="location" type="hidden" value="{{proj.location}}">{% endif %}
	{% if proj.from_when %}<div class="hidden">{{form.from_when}}</div>{% endif %}
	{% if proj.expiry %}<div class="hidden">{{form.expiry}}</div>{% endif %}
	{% if proj.crowd_no %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="{{proj.crowd_no}}">{% else %}<input id="id_crowd_no" name="crowd_no" type="hidden" value="0">{% endif %}
	{% if proj.video_url %}<input id="id_video_url" name="video_url" type="hidden" value="{{proj.video_url}}">{% endif %}
	{% if proj.faceurl %}<input id="id_faceurl" name="faceurl" type="hidden" value="{{proj.faceurl}}">{% endif %}
	<p> A projekt rövid összefoglalója</p>
	<span>Határozd meg röviden a projekted. Ez a szöveg kerül majd az összefoglalóba a kép vagy videód alá.</span>
	<p>{{form.introduce}}</p>
	<span style="color:#0f0; font-weight:bold;">Hátralévő karakterek: <span id="left_chars">140</span></span>
	
	<p> Mi a projekted célja?</p>
	<span>Mit akarsz elérni?</span>
	<p>{{form.for_what}}</p>
	
	<p> A projekt megvalósításának menete, költségvetés</p>
	<span>Mik a projekt megvalósításának főbb lépései?<br/>Konkrétan mire fogod költeni a támogatást (promócióra, helyiségbérletre , eszközök vásárlására stb.)</span>
	<p>{{form.budget}}</p>
	
	<p> Miért érdemes támogatni a projekted létrejöttét?</p>
	<span>Az ajándékok újbóli felsorolása helyett érdemes elmondani, hogy mi közöm lehet a projektedhez mint támogatónak.<br/> Mit tudunk együtt csinálni? Hogyan járulok hozzá a világ jobbátételéhez, ha támogatlak? :)</span>
	<p>{{form.why_sup}}</p>
	
	<input id="id_faceurl" name="faceurl" type="hidden" value="{{proj.faceurl}}">
	
	<input id="id_crowd_no" name="crowd_no" type="hidden" value="{{proj.crowd_no}}">
	

	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	{% if logged_in %}
		{% url creativeselector.views.continue_project proj.link as back_url %}
		{% call "widgets/back_button.html" with url=back_url %}
		{% call "widgets/button.html" with title="mentés#és#tovább" click="validate('send_projekt_form')" %}
    {% endif %}
	{% endblock %}
  </div>


{% endblock %}