﻿{% extends "base.html" %}
{% block content %}
{% load replace video call %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projektindítás{% endblock %}</div>
  <div id="content2"> 
    
    {% block content_text %}
	{% if logged_in %}
	<script type="text/javascript" charset="utf-8">
    function Validate_this() {
       var val=0;
	   if(document.getElementById("felt_1").checked) val++;
	   if(document.getElementById("felt_2").checked) val++;
	   if(document.getElementById("felt_3").checked) val++;
	   if(document.getElementById("felt_4").checked) val++;
	   if(document.getElementById("felt_5").checked) val++;
	   if(document.getElementById("felt_6").checked) val++;
	   
	   if(val<6) alert("Kérlek minden feltételt jelölj ki!");
	   else jump('/projektbekuldes3');
    }
	function underline(){$(this).css('text-decoration', 'underline');}
	function noneline(){$(this).css('text-decoration', 'none');}
	$(document).ready(function() {
	$('#cs_tos').bind('mouseover', underline)
	$('#cs_tos').bind('mouseout', noneline)
    $('#cs_tos').click(function() {
      $('#tos').dialog({modal:true, title: 'Felhasználási Feltételek', width: 800, height: 600});
    })
  });
  </script>
  <div id="tos" class="hidden">{{tos.content|video|safe}}</div>
	<p style="font-size:16px; font-weight:bold;" class="cufon">2/3 Irányelvek és Szempontok</p>
	<p style="margin-top:0px;padding-top:0px;text-align:justify; width:560px;"><span>A Creative Selector annál érdekesebb, minél sokszínűbbek az oldalon megjelenő projektek. Szeretnénk, ha az irányelveinket elfogadnátok és szem előtt tartanátok a projektek megtervezésekor. Azokat a projekteket, amelyek nem felelnek meg az alábbi szempontoknak, kizárjuk!</span></p><br/>
	<div id="send_projekt_2">
	<form method="post" name="feltetelek">
	<p><input type="checkbox" id="felt_1" name="felt_1">  1. A projektem illeszkedik a Creative Selector egyik kategóriájába</p>
	<span>Ha nincs még olyan kategória amibe be tudsz illeszkedni, nyitunk neked egy újat!</span>
	<p><input type="checkbox" id="felt_2" name="felt_2">  2. A projektemmel nem jótékonysági célra gyűjtök</p>
	<span>A projekted célja nem lehet például az, hogy a Vörös Keresztnek gyűjts pénzt. És politikai indíttatású sem lehet!</span>
	<p><input type="checkbox" id="felt_3" name="felt_3">  3. A projekt nem a saját életem finanszírozásáról szól</p>
	<span>Nálunk a kreatív projektek nem a számlák befizetéséről, külföldi nyelvtanfolyamokróll vagy például egy telefon megvásárlásáról szólnak.</span>
	<p><input type="checkbox" id="felt_4" name="felt_4">  4. A projektem támogatásáért cserébe nem ajánlok fel pénzügyi ösztönzőket</p>
	<span>A támogatásokért cserébe jutalmakat ajánlhatsz fel, az elkészült munka másolatát, belépőjegyeket a premierre vagy, megvalósult termékeket. A projekted tulajdonrésze a gyűjtés lezárultával is 100%-ban a Tied marad!</span>
	<p><input type="checkbox" id="felt_5" name="felt_5">  5. Elmúltam 18 éves</p>
	<hr style="color:#ffffff; height:1px; border:none; background-color:#ffffff;">
	<p><input type="checkbox" id="felt_6" name="felt_6">  <span id="cs_tos" style="font-size:16px;" target="_blank">Elfogadom a Creative Selector és az online fizetés feltételeit.</span></p>
	<div style="margin-left:380px;margin-top:65px;margin-bottom:25px;"><a href="javascript:Validate_this()"><img src="/media/images/next_proj.png"></a></div>
	</form>
	</div><br/><br/>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	
    {% endblock %}
  </div>


{% endblock %}