﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}{% if success %}Congratulations, succesful support!{% else %}Support is failed!{% endif %}{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}{% if success %}
	<p style="font-weight:bold; font-size:21px;" class="cufon">Now you are an offical supporter of the {{projekt.short_title}} project!</p>
	{% else %}
	<p style="font-weight:bold; font-size:21px;" class="cufon">Error</p>
	{% endif %}
	<p style="font-weight:bold;">Transaction confirmation:</p>
	<table>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Transaction id <span style="font-szie:8px;">(TRID)</span>:</td><td>{{trid}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Response code <span style="font-szie:8px;">(RC)</span>:</td><td>{{rc}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Response text <span style="font-szie:8px;">(RT)</span>:</td><td>{{rt}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Authorisation number <span style="font-szie:8px;">(ANUM)</span>:</td><td>{{anum}}</td></tr>
	<tr><td style="text-alig:right;font-weight:bold; padding-right:5px;">Amount <span style="font-szie:8px;">(AMO)</span>:</td><td>{{amo}}</td></tr>
	</table>
	{% if not success %}{% if is_admin %}<p>{{answer}}</p>{% endif %}{% else %}
	<br/>
	<p style="margin-top:5px; font-size:16px; padding-top:10px; background:url('/media/images/potty_vizszintes_tit.jpg') repeat-x top left">
	<b>Let your friend know about the project you supported.</b><br/>
	The amount of your contribution will not be shown.
	<p style="text-align:center;"><span><a name="fb_share" type="button" share_url="{{pageurl|urlencode}}"></a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></span>	
	</p></p>	
	{% endif %}
	
	{% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
	<p style="font-weight:bold;">What's next?</p>
	{% if success %}
	<p><a href="{% url creativeselector.views.get_project projekt.link %}">Back to project</a>, <a href="/">or look around in the other projects.</a></p>	
    {% else %}
	<p><a href="{% url creativeselector.views.present_form projekt.link %}">Try to support agian.</a></p>
	{% endif %}
	<br/>
	<p>If you have questions with the payments, please contact us in <a href="mailto:fizetes@creativeselector.hu" >fizetes@creativeselector.hu</a></p>
	{% endblock %}
  </div>


{% endblock %}