﻿ <script type="text/javascript" charset="utf-8">
 var iterator=0;
 $(document).ready(function() {

	$('#id_form-0-min_prize').val('500');
	$('#id_form-0-detail').val('Azokra is gondolj, akik kisebb összeggel támogatnak. Nekik érdemes valami jelképes felajánlást tenned, pl. egy köszönő email küldése. ');
	$('#id_form-0-detail').focus(function() { if(iterator==0){ $(this).val('');} iterator=iterator+1;});
 
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
 replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
 
  function deleteForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
 
    if (formCount > 3) {
      // Delete the item/form
      $(btn).parents('.item').remove();
 
      var forms = $('.item'); // Get all the forms
 
      // Update the total number of forms (1 less than before)
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
 
      var i = 0;
      // Go through the forms and set their indices, names and IDs
      for (formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).children().children().each(function() {
          if ( $(this).attr('type') == 'text' )
            updateElementIndex(this, prefix, i);
        });
      }
 
    } // End if
    else {
        alert("Minimum 3 ajándékot meg kell adni");
    }
    return false;
  }
 
  function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
 
    // You can only submit a maximum of 10 todo items
    if (formCount < 10) {
      // Clone a form (without event handlers) from the first form
      var row = $(".item:first").clone(false).get(0);
      // Insert it after the last form
      $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(100);
 
      // Remove the bits we don't want in the new row/form
      // e.g. error messages
      $(".errorlist", row).remove();
      $(row).children().removeClass("error");
 
      // Relabel or rename all the relevant bits
      $(row).children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        //$(this).val("");
      });
	  $(row).find("#number").html(formCount+1);
 
      // Add an event handler for the delete item/form link
      $(row).find(".delete").click(function() {
        return deleteForm(this, prefix);
      });
 
      // Update the total form count
      $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1); 
 
    } // End if
    else {
      alert("Sajnos max 10 elemet lehet csak megadni");
    }
    return false;
  }
 
  // Register the click event handlers
  $("#add").click(function() {
    return addForm(this, "form");
  });
 
  $(".delete").click(function() {
    return deleteForm(this, "form");
  });
 
});
</script> 
  {{ formset.management_form }}
  
    {% for form in formset.forms %}<div class="item">
 <p style="margin-left:15px;"><span class="present"><span id="number"> {{forloop.counter}}</span>. támogatói kategória {{form.min_prize}} Ft vagy nagyobb értékben</br></span>
 {{form.detail}}<br/><span class="delete" style="cursor:pointer;">törlés</span></p></div>
 
 {% endfor %}
 <span id="add" style="cursor:pointer;">új elem hozzá adás</span>