﻿{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projekt Support{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<p style="font-weight:bold;">You are just a few steps away to be a honoured supporter.</p>
	<script type="text/javascript" charset="utf-8">
	var prize=0;
	
	function clicked(pri){
		prize=pri;
		//document.getElementById('id_money').value=pri;
		
	}
	
  // Form validator
  function validate(form_id) {
   resetForm(form_id);
   //var prestype= gv(form_id,'pres_type');  
     
	 var valid = min_supp(form_id, 'money', 500);
	 valid &= is_lower_prize(form_id, 'money', prize);
	
     if (valid) {
       $(f(form_id)).submit();
     }
     
  }
  

</script>
	<form id="send_present_form" name="send_present_form" action="{% url creativeselector.views.present_form proj.link %}" method="post"  >
	<input id="id_user" name="user" type="hidden" value="{{user.id}}">
	<div id="presents_shows" >
	<p>1. Choose your gift</p>
	<div class="presents_shows">
	<p class="normal" >What will I get?&nbsp;<img src="/media/images/pres_box.png"></p>
	<hr style="border:none; border-top:3px dotted #ffffff; height:1px;">
	<table><tr><td><input type="radio" name="pres_type" value="0" checked></td><td>
	<p class="normal">Thanks, but I don't need gifts</p><hr style="border:none; height:4px; background:#ffffff;"></td></tr>
					{% for pres, no in presents %}
	<tr><td><input type="radio" name="pres_type" value="{{pres.id}}" onclick="clicked('{{pres.min_prize}}')"></td><td>
	<p class="normal" >{{pres.min_prize}},- Ft or more</p>
	<p class="kicsi">{{no}} supporters</p>
	<hr style="border:none; height:1px; background:#ffffff;">
	{{pres.detail|safe}}
	<hr style="border:none; height:4px; background:#ffffff;"></td></tr>
	{% endfor %}</table>
	</div>
	</div>
	<div id="present_pay_form">
	
	<div class="present_pay_forms">
	<p>2. Amount (Ft)</p>
	<p>{{form.money}}</p><span style="font-size:10px;">	Minimum amount: 500 Ft, no maximum.<br/>Average contribution to this campaign is {{avg}},- HUF</span>	
	</div>
	<div class="present_pay_forms">
	<p>3. Visibility</p>
	<p><input type="radio" name="visb" id="id_visb" value="1" checked>Everything is visible</p>
	<span>I would like both my name and the sum to appear.</span>
	<p><input type="radio" name="visb" id="id_visb" value="2">Only identity is visible</p>
	<span>I would like only my name to appear without the sum.</span>
	<p><input type="radio" name="visb" id="id_visb" value="3">Anonymus</p>
	<span>I wish to remain anonymous. (No information appears about the supporter.)</span>
	</div>
	<div class="present_pay_forms">
	<p>4. Please send my gift here</p>
	<span style="font-weight:bold;">The following data should only be given if the gift involves a parcel.</span><span> Shipping is possible only to addresses within Hungary.</span><br/><br/>
	<table>
	<tr><td>Name</td><td><input type="text" name="name" id="id_name" /></td></tr>
	<tr><td>City/Town</td><td>{{form.city}}</td></tr>
	<tr><td>Address</td><td>{{form.adress}}</td></tr>
	<tr><td>Postal Code</td><td>{{form.zipcode}}</td></tr>
	<tr><td>Phone number</td><td>{{form.tellno}}</td></tr>
	</table>	
	</div>
	<div class="present_pay_forms">
	<p>5. Note </p>
	 <span>Any personal message you wish to send with your donation.</span>
	<p>{{form.comment}}</p>
	</div>
	<div class="present_pay_forms">
	<p>6. Payment</p>
	<span>For making the actual payment you will be directed to the secure webpage of CIB Bank, and will come back at the end of the process to us.</span>
	<p><a href="javascript:validate('send_present_form')"><img src="/media/images/kartyalogok.gif"></a></p>
	</div>
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
		
    {% endblock %}
  </div>


{% endblock %}