{% extends "base.html" %}
{% load replace video call %}

{% block content %}


  {% block content_top %}
  {% endblock %}

<div id="center_title" class="cufon">{% block content_tab %}Projekt Támogatás{% endblock %}</div>
  <div id="content2"> 
      
    {% block content_text %}
	{% if logged_in %}
	<p style="font-weight:bold;">Már csak néhány apró lépés, hogy megbecsült támogatóvá válj</p>
	<script type="text/javascript" charset="utf-8">
	var prize=0;
	$(document).ready(function() {
	$('#cards_con').hover(
		function(){
		$(this).attr("src","/media/images/kartyalogok_o.png");
		},
		function(){
		$(this).attr("src","/media/images/kartyalogok.gif");
		});
	});
	
	function clicked(pri){
		prize=pri;
		//document.getElementById('id_money').value=pri;
		
	}
	
  // Form validator
  function validate(form_id) {
   resetForm(form_id);
   //var prestype= gv(form_id,'pres_type');  
     
	 var valid = min_supp(form_id, 'money', 500);
	 valid &= is_lower_prize(form_id, 'money', prize);
	 valid &= is_not_num(form_id, 'money', true);
	
     if (valid) {
       $(f(form_id)).submit();
     }else{
		document.getElementById('id_money').scrollIntoView();
	 }
     
  }
  

</script>
	<form id="send_present_form" name="send_present_form" action="{% url creativeselector.views.present_form proj.link %}" method="post"  >
	<input id="id_user" name="user" type="hidden" value="{{user.id}}">
	<div id="presents_shows" >
	<p>1. Válaszd ki jutalmad</p>
	<div class="presents_shows">
	<p class="normal" >Mit kapok?&nbsp;<img src="/media/images/pres_box.png"></p>
	<hr style="border:none; border-top:3px dotted #ffffff; height:1px;">
	<table><tr><td><input type="radio" name="pres_type" value="0" checked></td><td>
	<p class="normal">kösz nem kérek ajándékot</p><p class="kicsi">{{non_pres}} támogató</p><hr style="border:none; height:4px; background:#ffffff;"></td></tr>
					{% for pres, no in presents %}
					<script type="text/javascript" charset="utf-8">
	 $(document).ready(function () {
		var num=$('#money_{{forloop.counter}}').html();
		$('#money_{{forloop.counter}}').html(separateNum(num));
		});
	 </script>
	<tr><td><input type="radio" name="pres_type" value="{{pres.id}}" onclick="clicked('{{pres.min_prize}}')"></td><td>
	<p class="normal" id="money_{{forloop.counter}}" >{{pres.min_prize}},- Ft vagy több</p>
	<p class="kicsi">{{no}} támogató</p>
	<hr style="border:none; height:1px; background:#ffffff;">
	{{pres.detail|safe}}
	<hr style="border:none; height:4px; background:#ffffff;"></td></tr>
	{% endfor %}</table>
	</div>
	</div>
	<div id="present_pay_form">
	
	<div class="present_pay_forms">
	<p>2. Támogatás összege (Ft)</p>
	<p>{{form.money}}</p>
    <p id="support-1500-warning" style="display: none; font-weight: bold; color: #900">A támogatás összege minimum 1500 forint, és 1500 forintos lépcsőkben növelhető!</p>
    <span style="font-size:10px;">Minimum támogatás <span id="support-money-amount">500</span>,-Ft, maximum nincs<br/>Ezt a projektet átlagosan {{avg}},- Ft-tal támogatták.<br/>
        <script type="text/javascript">
        function roundup(amount) {
            if (!amount) { amount = 0; }
            
            amount = parseInt(amount);
            
            if (amount == 0 || isNaN(amount)) return 1500;
            if (amount % 1500 != 0) {
                return Math.ceil(amount / 1500) * 1500;
            } else {
                return amount;
            }
        }

        var path = window.location.pathname;
        if (path.indexOf("magyar_hangya_69033_ai_weiwei") > -1) {
            $("#support-money-amount").text("1500");
            $("#support-1500-warning").show();
            $("#id_money").val(roundup($("#id_money").val()));
            $("#id_money").change(function() {
                $(this).val(roundup($(this).val()));
            });
        }
        </script>
	</div>
	<div class="present_pay_forms">
	<p>3. Megjelenés</p>
	<p><input type="radio" name="visb" id="id_visb" value="1" checked>Minden látható</p>
	<span>a nevem és a támogatás összege is megjelenik</span>
	<p><input type="radio" name="visb" id="id_visb" value="2">Csak az identitás</p>
	<span>a nevem igen, de a támogatás összege nem jelenik meg</span>
	<p><input type="radio" name="visb" id="id_visb" value="3"> Anonymus</p>
	<span>nem látszik, hogy ki a támogató</span>
	</div>
	<div class="present_pay_forms">
	<p>4. Ide kérem az ajándékot</p>
	<span style="font-weight:bold;">Az adatokat akkor kell megadni, amennyiben az ajándék postai küldeményt tartalmaz.</span><span> A postai küldemények kézbesítésére Magyarországon belül van mód.</span><br/><br/>
	<table>
	<tr><td>Név</td><td><input type="text" name="name" id="id_name" /></td></tr>
	<tr><td>Település</td><td>{{form.city}}</td></tr>
	<tr><td>Cím</td><td>{{form.adress}}</td></tr>
	<tr><td>Irányítószám</td><td>{{form.zipcode}}</td></tr>
	<tr><td>Telefonszám</td><td>{{form.tellno}}</td></tr>
	</table>	
	</div>
	<div class="present_pay_forms">
	<p>5. Megjegyzés </p>
	 <span>Bíztató üzenet a támogatás mellé</span>
	<p>{{form.comment}}</p>
	</div>
	<div class="present_pay_forms">
	<p><a href="javascript:validate('send_present_form')" style="color:#000;">6. Fizetés</a></p>
	<span><a href="javascript:validate('send_present_form')" style="color:#000;">A fizetés a CIB bank biztonságos felületén történik, majd a folyamat végén visszatérsz hozzánk</a></span>
	<p><a href="javascript:validate('send_present_form')"><img id="cards_con" src="/media/images/kartyalogok.gif"></a></p>
	</div>
	</form>
	</div>
	{% else %}
	{% call "widgets/login_popup.html" %}
	{% endif %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
		
    {% endblock %}
  </div>


{% endblock %}
