{% extends "base.html" %}

{% load paginator2 get_setting replace video call expr %}

{% block first_side %}
  {% include 'facebook_like.html' %}
{% endblock %}


{% block third_side %}
  {% include 'tagcloud.html' %}
{% endblock %}


{% block content %}



  {% block content_top %}
  {% endblock %}
  <div id="center_title" class="cufon">{% block content_tab %}Blogfolyam{% endblock %}</div>
<style type="text/css" charset="utf-8">
 <!--
 .blog img{padding-top:10px; padding-right:10px; padding-bottom:10px;}
 .blog embed{padding-top:10px; padding-bottom:10px;}
 .blog iframe{padding-top:10px; padding-bottom:10px;}
 .blog strong, .blog b{ font-weight:normal;}
-->
</style>   
  
  
  <div id="content2">
    
    {% block content_text %}
      {% for img,blog in blogs %}
	  
	
       <p class="blog_date cufon">{{ blog.created|date:"Y.m.d" }}</p>
        <div class="blog">
          <div class="title" style="position:relative;"><a href="{% url creativeselector.views.blogentry blog.link %}">{{blog.title}}</a></div>
          <div class="text" style="line-height: 1.5em; position:relative; display:inline; width:598px;">
			<table style="width:598px;"><tr>
			{% if img %}<td style="display:inline; position:relative; width:150px; float:left; padding-right:10px;"><a href="{% url creativeselector.views.blogentry blog.link %}"><img src="{{img}}" style="max-width:150px;"></a></td>{% endif %}
			<td id="{{blog.link}}" style="display:inline; position:relative;">
					{% if blog.content %}{{blog.content|safe}}{% endif %}
					
			</td></tr></table>
			 {% comment %}{% if blog.tagss %}
			{% load tagging_tags expr %}
				{% for tag in blog.tag_splited %} 
				<!--a href="{% url creativeselector.views.blog_tag tag %}" style="font-size: 11px">{{tag}}</a-->
				{% endfor %}
		{% endif %} {% endcomment %}
			<p style="text-align:right;"><a href="{% url creativeselector.views.blogentry blog.link %}"> tov&#225;bb >> </a></p>
			<p style="background:url('/media/images/potty_vizszintes.jpg'); height:1px; width:598px;"></p>
			
          </div>
        </div>
            
      {% endfor %}
    {% endblock %}
  </div>
  <div id="content_bottom">
    {% block content_bottom %}
      {% if page %}
      <div id="pager">
        {% get_setting BLOG_PAGING %}
        {% paginator 'blog' BLOG_PAGING %}
      </div>
      {% endif %}
    {% endblock %}
  </div>

    {% endblock %}