{% load facebook_tags %}
{% if comments %}
	{% for fb, comm in comments %}
		<div id="comment_box">
		<div class="profile_image">{% show_facebook_photo comm.user "45" "q" %}</div>
		<div class="comment">
		{% if is_admin %}<p style="float:right;"><span style="border: 1px solid;"><a href="{% url creativeselector.views.comment_del comm.slug %}">X</a></span></p>{% endif %}	
		<div class="blogcomment_user">{{comm.user.last_name}} {{comm.user.first_name}}</div>
		<div class="blogcomment_date">{{comm.created|date:"Y.m.d H:i"  }}</div>
		<div class="blogcomment_text">
			{{comm.comment|safe}}
		</div></div></div>
	{% endfor %}

{% endif %}	
