{% extends "blog/blogs.html" %}

{% load replace video call facebook_tags %}
<div id="center_title" class="cufon">{% block content_tab %} {% call "widgets/tab.html" with title=blog.title|striptags %} {% endblock %}</div>
{% block content_text %}
    {% initialize_facebook_connect %}
    <script type="text/javascript" charset="utf-8">
 

     // Form validator
     function validate(form_id) {
      resetForm(form_id);

      var valid = is_empty(form_id, 'content', false);

      if (valid) {
        $(f(form_id)).submit();
      }
     }
     
var max_width=400; 
var max_parag=6;
 
function videowidth(thisdiv){
	that_iframe=thisdiv.getElementsByTagName('iframe');
	if(typeof(that_iframe)!== 'undefined' && that_iframe != null){
		for(var i=0; i<that_iframe.length;i++){
			if(that_iframe[i].width>max_width){
				if(typeof(that_iframe[i].height)!== 'undefined' && that_iframe[i].height!= null){
					var per = that_iframe[i].height/that_iframe[i].width
					that_iframe[i].width=max_width;
					that_iframe[i].height=max_width*per;
				}else{
				that_iframe[i].width=max_width;
				}
			}
		}
	}
	that_object=thisdiv.getElementsByTagName('object');
	if(typeof(that_object)!== 'undefined' && that_object != null){
		for(var i=0; i<that_object.length;i++){
			if(that_object[i].width>max_width){
				if(typeof(that_object[i].height)!== 'undefined' && that_object[i].height!= null){
					var per = that_object[i].height/that_object[i].width
					that_object[i].width=max_width;
					that_object[i].height=max_width*per;
				}else{
				that_object[i].width=max_width;
				}
			}
		}
	}
	that_embed=thisdiv.getElementsByTagName('embed');
	if(typeof(that_embed)!== 'undefined' && that_embed != null){
		for(var i=0; i<that_embed.length;i++){
			if(that_embed[i].width>max_width) {
				if(typeof(that_embed[i].height)!== 'undefined' && that_embed[i].height!= null){
					var per = that_embed[i].height/that_embed[i].width
					that_embed[i].width=max_width;
					that_embed[i].height=max_width*per;
				}else{
				that_embed[i].width=max_width;
				}
			}
		}
	}
} 
 
 function imgwidth(thisdiv){
	that_img=thisdiv.getElementsByTagName('img');
	if(typeof(that_img)!== 'undefined' && that_img != null){
		for(var i=0; i<that_img.length;i++){
			if(that_img[i].width>max_width){
				if(typeof(that_img[i].height)!== 'undefined' && that_img[i].height!= null){
					var per = that_img[i].height/that_img[i].width
					that_img[i].width=max_width;
					that_img[i].height=max_width*per;
				}else{
				that_img[i].width=max_width;
				}
			}
		}
	}
}
 
 function listBlog(id)
 {
	var thatdiv = document.getElementById(id);
	imgwidth(thatdiv);
	videowidth(thatdiv);
	//var txt = thatdiv.innerHTML;
	//var splited = txt.split(/<\/p.*?>/gi);
	//var cnt = splited.length - 1;
	//var show='';
	
	/*if (cnt>=max_parag)
	{
		for(var i=0; i<max_parag; i++){
			show+=splited[i];
		}*/
		document.getElementById(id).innerHTML=thatdiv.innerHTML;
	//}
	
 }
 
 
 </script>
 <style type="text/css" charset="utf-8">
 <!--
 .one_blog img{padding-top:10px; padding-bottom:10px;}
 .one_blog embed{padding-top:10px; padding-bottom:10px;}
 .one_blog iframe{padding-top:10px; padding-bottom:10px;}
 .one_blog .title{color:#00ff00;}
-->
</style> 

    <div class="one_blog">
	 <b>{{blog.created|date:"Y.m.d | H:m"}}</b>
	 
      <div class="text" style="line-height: 1.5em;">
	  <div id="{{blog.link}}">
        {{blog.content|safe}}
		</div>
		<script>listBlog("{{blog.link}}");</script>
      </div>
      {% comment %}
      {% if blog.tagss %}
        <b>Címkék:&nbsp;&nbsp;</b>{% load tagging_tags expr %}
		
		{% for tag in blog.tag_splited %} 
		<a href="{% url creativeselector.views.blog_tag tag %}" style="font-size: 11px">{{tag}}</a>
		{% endfor %}
	{% endif %}
	{% endcomment %}
      <script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=145204418841370";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<fb:like href="{{url}}" send="false" width="330" show_faces="false"></fb:like>
    </div>
    {% include 'clear.html' %}
    <br/>
	
	<div id="comments">
		{% call "blog/comments.html" with comments=comment and is_admin=is_admin %}
		{% if logged_in %}
	<form id="send_blog_comment_form" name="send_blog_comment_form" action="/egyblog/{{ blog.link }}" method="post"  >
	{% if is_badword %}
	<p>
		<label id="labelbad word" style="color:#bb0000" >Kérjük fogalmazza meg szebben! :)</label>
	</p>
	{% endif %}
	<p>
		<label id="label_id_new_comment" >Új komment</label>
	</p>
	<p>
		{{form.comment}}
	</p>
    <input type="submit" id="submit" value="Beküldés">
  </form> 
		{% endif %}
	</div>
   
    <br/><br/>
     
    
{% endblock %}

{% block content_bottom %}

{% endblock %}