<div id="back_button" class="back_button button" onclick="{% if url %}jump('{{url}}'){% else %}history.go(-1){% endif %}">
  <span class="cufon">{% if title %}{{title}}{% else %}Vissza{% endif %}</span>
</div>

