﻿{% load facebook_tags %}
<script type="text/javascript" charset="utf-8">	
	$(document).ready(function() {$('#login_please').dialog({modal:true, width:450, height:160, dialogClass:"login_box", title: ' A folytatáshoz jelentkez be!'});});
	//$('#close_this').click(function(){ $('#login_please').close();});
	 </script>{% initialize_facebook_connect %}
	 <div id="login_please" class="hidden">
	
		<span style="font-weight:bold;"><a href="#" rel="login_box" class="simpledialog">{% if is_english %}Login{% else %}Belépés{% endif %}</a> | <a href="/user_reg">{% if is_english %}Register{% else %}Regisztráció{% endif %}</a></span>
		<hr style="border:none; height:2px; background:#ffffff;">
		
		<form id="facebook_login" action="{% url facebook_connect %}?facebook_login=1" method="post">
			<a href="javascript:void(0);" onclick="F.connect(this.parentNode);">
			  <img src="/media/images/fbicon.png"> {% if is_english %}Login with Facebook account{% else %}Belépés facebookos azonosítóval{% endif %}
			</a> <!--a href="#" id="close_this">Nem kösz</a-->
		</form>
		
	</div>
	<p>{% if is_english %}Please Login!{% else %} A folytatáshoz jelentkez be!{% endif %}  </p>