body{
	background: #3bcc6f url('/media/images/bcg.png') repeat-y left;
	*background-color: #31c664;
	font-family: Arial,Helvetica,Arial,sans-serif;
	/*margin-left:105px;*/
}
a{color:#8B9090; text-decoration:none;}
a:hover,a.active{color:#00BB00;}
img{border:0px; }

#main_logo{
	margin: 0 auto;
	margin-top:40px;
	color: #ffffff;
	font-size: 18px;
	font-style: italic;
	height: 45px;	
	width:1000px;
	background: url('/media/images/white_potty.png') repeat-x bottom left;
}
#main_logo img:hover{
	 opacity: .6; filter:Alpha(Opacity=60);
}

#main_title{
	display:inline;
	margin-top:15px;
	margin-left:21px;
	letter-spacing: 0.1em;
}
#main_page{
	margin-left: auto;
	margin-right:auto;
	width:972px;
	*width:1000px;
	background-color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
	padding:11px 14px;
	min-height:900px;
	height:auto;
	position:relative;
	display:block;
}
.menu_btn{ margin: 2px 10px; cursor:pointer; height:53px;}
#menu{
	position:relative;
	width:100%;
	zoom:1;
}
#menu_btn{
	margin-top:5px;
	display:inline;
	vertical-align:100%;
	position:relative;
	*float:left;
	*width:627px;
	*height:53px;
	zoom:1;
}


#main_login .login{
	background: transparent url('/media/images/input.jpg') no-repeat;
	width:128px;
	height:21px;
	padding:0px 15px;
}
#main_login  input{
	border: none;
	width:128px;
	height:21px;
	padding:0px 15px;
	color:#ffffff;
	font-weight:bold;
}
#login{background: url('/media/images/potty_vizszintes.jpg') repeat-x bottom; padding-bottom:10px;}
#login_text{
	*float:left;
	font-size:10px;
	display:inline-block;	
	*display:inline;	
	*position:relative;
	width:144px;
	*width:158px;
	background: url('/media/images/potty_fuggoleges.jpg') repeat-y right;
	padding-bottom:10px;
}


.login_box{
	background:url('/media/images/belepes_bcg.png') repeat-y;
	width: 420px;
	padding:15px;
}
.login_box form{display:inline-block;}
.login_box .login{ background:url('/media/images/login.png') no-repeat; width:146px; height:21px; }
.login_box input[type="text"]{ color:#4FEA2C; font-weight:bold; border:none; padding-left:10px; }
.login_box input[type="password"]{ color:#4FEA2C; font-weight:bold; border:none; padding-left:10px; }
.login_box input[type="image"]{vertical-align:middle;}
.login_box p{
	background:#ffffff;
	padding:7px;
	color:#4FEA2C;
	font-weight:bold;
}


#projekt_in{
	*float:right;
	display:inline-block;
	*display:inline;
	position:relative;
	margin-left:25px;
	*margin-left:0px;	
	zoom:1;
	*top:-50px;
}
#right{
	position:relative;	
	display:inline;
	background: #ffffff url('/media/images/potty_fuggoleges.jpg') repeat-y left;
	margin-top:-118px;
	*top:25px;
	left:-1px;
	padding-left:5px;
	float:right;
	width:135px;
	*width:140px;
}
#supporters{
	background:  url('/media/images/potty_vizszintes.jpg') repeat-x top;
	color:#4bd039;
	padding-top:5px;
	margin-top:15px;
	font-size:14px;
	font-weight:bold;
	width:140px;
}
#bank_logo{
	background:  url('/media/images/potty_vizszintes.jpg') repeat-x top;
	color:#4bd039;
	padding-top:5px;
	margin-top:28px;
	font-size:14px;
	font-weight:bold;
	width:140px;
}
#left{
	position:relative;	
	display:inline;
	background: #ffffff url('/media/images/potty_fuggoleges.jpg') repeat-y right;	
	margin-left:-14px;
	padding-left:14px;
	float:left;
	width:144px;
	*width:158px;
	height:auto;
}
#center{
	position:relative;	
	display:inline-block;
	*display:inline;
	background: #ffffff url('/media/images/potty_fuggoleges.jpg') repeat-y right;	
	padding-left:5px;
	/*float:left;*/
	width:683px;
	*width:693px;
	z-index:5;
	/*margin-top:-42px;*/
}
#valaszto{
	font-weight:bold;
	background:  url('/media/images/potty_vizszintes.jpg') repeat-x bottom;
	color:#4bd039;
	padding-bottom:5px;
	margin-bottom:8px;
	font-size:12px;
	width:140px;
	letter-spacing:0.05em;
}
#valaszto a{
	color:#4bd039;
} #valaszto a:hover{color:#8B9090;}
#category{
	font-weight:bold;
	letter-spacing:0.05em;
	color:#000000;
	padding-bottom:5px;
	margin-bottom:8px;
	font-size:12px;
}
#faqs, #faqss{
	background:  url('/media/images/potty_vizszintes.jpg') repeat-x top;
	color:#8B9090;
	padding-top:5px;
	margin-bottom:8px;
	width:140px;
}
#faqss{font-size:11px;}
#faqs{font-size:12px;}
#center_title{
	background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left;
	margin-left:8px;
	width:645px;
	*width:660px;
	*padding-left:8px;
	font-weight: bold;
	padding-bottom:8px;
	margin-bottom:5px;
	letter-spacing:0.05em;
	font-size:20px;
}
#projects{
margin-left:5px;
}
#projects .search{
	background: transparent url('/media/images/input2.jpg') no-repeat;
	width:207px;
	height:21px;
	padding:0px 15px;
	float:right;
	margin-right:10px;
}
#projects input[type="text"]{
	border:none;
	font-size:11px;
	font-weight:bold;
}
.blog_date{
	font-size:16px;
	font-weight:bold;
	color:#8B9090;
	margin-top:0px;
}
#content{
	*width:692px;
	margin-left:-6px;
	margin-top:45px;
	*padding-top:45px;
	background: transparent url('/media/images/potty_fuggoleges.jpg') repeat-y left;
	padding-left: 5px;
	padding-bottom: 15px;
	
}
#content2{
	width:645px;
	*width:692px;
	margin-left:-6px;
	margin-top:40px;
	*padding-top:40px;
	background: transparent url('/media/images/potty_fuggoleges.jpg') repeat-y left;
	padding-left: 15px;
	padding-bottom: 15px;
	
}
#content_bottom{
	display:inline-block;
	float:right;
	background: transparent url('/media/images/potty_fuggoleges.jpg') repeat-y left;
	margin-right:20px;
	margin-left:-6px;
	width:654px;
	padding-left:15px;
}

.blog, .one_blog{
	font-size:14px;
	width:598px;
	position: relative;
	display:inline-block;
}
.blog .title, .one_blog .title{
	font-size:26px;
	font-weight:bold;
}
#pager{
	text-align:right;
}
ul.submenu, ul.submenu_lang{
	position:relative;	
	float:left;		
	font-size:11px;
	display: block;
	text-align:left;
	list-style-type: none;	
	width:170px;
	margin-right:5px;
	padding-left:0px;
	overflow:hidden;
}
ul.submenu_lang{width:50px;}
ul.submenu li, ul.submenu_lang li{
	padding:4px 5px;
	border:1px solid #cccccc;	
	display:none;
	background:#ffffff;
}
ul.submenu li.active{display:list-item; background:#ffffff url('/media/images/arrow_down.gif') no-repeat 155px 7px;}
ul.submenu_lang li.active{display:list-item; background:#ffffff url('/media/images/arrow_down.gif') no-repeat 35px 7px;}
#active_bcg{background:#ffffff url('/media/images/arrow_down.gif') no-repeat 155px 7px;}
#active_bcg_lang{background:#ffffff url('/media/images/arrow_down.gif') no-repeat 35px 7px;}
#choose_option{	
	position:absolute;
	z-index:99;
	padding-left:8px;
}
#category_title{
	background:url('/media/images/categ_bcg.png') no-repeat;
	width:582px;
	height:28px;
	font-weight: bold;
	color:#ffffff;
	padding-left:25px;
	text-align:left;
	padding-top:5px;
}
.next_button{
	background:url('/media/images/button.png') no-repeat;
	width:164px;
	height:31px;
	padding-top:6px;
	padding-left:0px;
	color:#ffffff;
	cursor:pointer;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	float:right;
}
#back_button{
	background:url('/media/images/button_back.png') no-repeat;
	width:142px;
	height:32px;
	padding-top:4px;
	padding-left:2px;
	color:#000000;
	cursor:pointer;
	font-weight:bold;
	text-align:center;
	display:inline-block;
}
#necc_register_label{font-size:20px;}
.registration_form{
	background:url('/media/images/projektin_bcg.png') repeat-y;
	width:530px;
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:20px;
	color:#ffffff;
	margin-left:20px;
	font-size:16px;
	text-align:left
}
.registration_form th{font-weight:normal; width:210px;}
.registration_form input{ width:100%;*width:266px; color:#4FEA2C; font-weight:bold; border:none; background:#ffffff;}
.registration_form input[type="image"]{background:transparent;}

#send_projekt_2{
	background:url('/media/images/projektin_bcg.png') repeat-y;
	width:530px;
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:20px;
	color:#ffffff;
}
#send_projekt_2 p{
	font-size:16px;
	font-weight:bold;	
}
#send_projekt_2 span{
	font-size:12px;	
}
#cs_tos{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  } 
.hidden{
	display:none;
}
#form p{
	font-weight:bold;
	font-size:15px;
}
#form span{
	font-size:12px;
	font-weight:normal;
}
#form input,
#form textarea{
	border:#78EB6B 1px solid;
}
#form input[type="text"]{
	width:450px;
	
}
#form .present input[type="text"]{
	width:100px;
}
#form .datefields{font-size:12px; font-weight:normal;}
#form .datefields input[type="text"]{
	width:80px;
}
#form .timepicker input[type="text"]{
	width:20px;
}

#lepteto{
	background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left;
	margin-left:5px;
	width:645px;
	font-weight: bold;
	padding-bottom:8px;
	margin-bottom:5px;
	font-size:14px;
	text-align:justify;
}
#lepteto span.active{
	color:#00bb00;
	font-size:14px;
	font-weight: bold;
}
#lepteto a{ color:#000;}
#lepteto a:hover{ color:#00bb00;}

#projekt_card{
	display:inline;
	font-size:14px;
	margin:10px 0;
	width:607px;
}
#proj_video{
	display:inline;
	float:left;
	width:330px;
}
#proj_video .kicsi {
	color:#00ff00;
	font-size:14px;
	margin:0px;
}
#proj_video a,#proj_video a:hover{ color:#00ff00;}
#proj_video iframe,#gallery{ margin-top:14px;}

#thumbs { padding-top: 10px; overflow: hidden; }
#thumbs img{
 border: 1px solid gray;
 padding: 4px;
 background-color: white;
 cursor: pointer;
}
#thumbs img {
 float: left;
 margin-right: 6px;
}
#projekt_title{
	font-size:22px;
	font-weight:bold;
	letter-spacing:0.05em;
	margin-top:0px;
	margin-bottom: 14px;
}
#proj_video .percent{
	margin:5px 0px;
	padding:0px;
	color:#3CB878;
	font-size:18px;
	font-weight:bold;
}
#proj_supporters p{
	color:#54D21C;
	margin:5px 0px;
	padding:0px;
}
#statusbar{
	margin-top:10px;
	width:330px;
	height:14px;
	background:url('/media/images/statusbar_bcg.png') no-repeat;
}
#proj_infos{
	display:inline;
	float:left;
	width:292px;
	margin-left:15px;
}
#proj_infos .proj_action{color:#00FF00; font-weight:600; }
#proj_infos .proj_action img{vertical-align:middle; }
#proj_infos .proj_action a, #proj_infos .proj_action a:hover{color:#00FF00; font-weight:600;}
#proj_info_card{
	background:url('/media/images/proj_card_inf_bcg.png') repeat-y;
	width:256px;
	padding:10px 18px;
	color:#ffffff;
}
#presents_show{
	margin-top:14px;
	width:254px;
	height:250px;
	overflow:auto;
	color:#ffffff;
	text-align:justify;
	position:relative;
	padding-right:4px;
}
.presents_shows{
	background:url('/media/images/proj_card_inf_bcg.png') repeat-y;
	width:220px;
	padding:10px 18px;
	color:#ffffff;
	text-align:justify;
}
#presents_shows{
	width:256px;
	display:inline;
	float:left;
}
#presents_shows p{font-size:16px; font-weight:bold;}
#present_pay_form{
	width:369px;
	padding-left:20px;
	display:inline;
	float:left;
}
#present_pay_form .present_pay_forms{
	background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left;
	padding-bottom:8px;
	margin-bottom:10px;
}
#present_pay_form .present_pay_forms p{font-size:16px; font-weight:bold;}
#present_pay_form .present_pay_forms input[type="text"], #present_pay_form .present_pay_forms textarea{border:#78EB6B 1px solid; width:90%;}
.present_pay_forms #id_money {height:50px; width:200px; font-size:30px;}

.presents_show .normal{font-size:16px; font-weight:600; margin:5px 0px; }
.presents_show .kicsi{font-size:14px;  margin:2px 0px;}
.presents_shows .normal{font-size:16px; font-weight:600; margin:5px 0px; }
.presents_shows .kicsi{font-size:12px;  margin:2px 0px;}
#proj_info_card .huge_no{ font-weight:bold; font-size:40px; margin:5px 0px; }
#proj_info_card .normal{ font-size:18px; margin:5px 0px; }
#proj_info_card .kicsi{ font-size:14px;  margin:2px 0px; }
#proj_info_card p{
	margin:0;
	padding:0;
}
#proj_info_card hr{
	border:0px;
	height:1px;
	color:#ffffff;
	background:#ffffff;
}
#update_title{
	font-size:12px;
	margin:5px 0px;
	color:#FC850D;
	font-weight:bold;
}
.updates{
	font-size:11px;
	color:#F26522;
	padding-bottom:8px;
}
#content2 .proj_desc{color:#00FF00; font-weight:600; font-size:18px;}

#projekt_card_little{
	background:url('/media/images/porjekt_card_bcg.png') no-repeat;
	width:195px;
	height:382px;
	padding-left:15px;
	padding-right:13px;
	padding-top:26px;
	padding-bottom:30px;
}
#project_content_litle{
	height:315px;
	overflow:hidden;
	font-size:14px; 
}

#projekt_card_little .projekt_littl_categ{
	background:#BEC0C2;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	margin:5 0px;
	padding-left:8px;
	letter-spacing:0.05em;
}
#projekt_card_little .projekt_introduce{
	height:103px;
	width:195px;
	margin:10px 0px;
	overflow:hidden;
}
#projekt_card_little .projekt_littl_categ a, #projekt_card_little .projekt_littl_categ a:hover{ color:#fff;}
#projekt_title_little{
	font-size:16px;
	font-weight:bold;
	letter-spacing:0.05em;
	margin-top:6px;
	margin-bottom:0px;
}
#projekt_title_little a{ color:#000}
#projekt_auth_little{
	font-size:10px;
	font-weight:900;
	margin:0px;
	color:#00ff00;
}
#projekt_auth_little a{ color:#00ff00; }
#statusbar_little{
	width:195px;
	height:15px;
	background:url('/media/images/statusbar_bcg_pr_card.png') no-repeat bottom;
}
#project_status_little .projekt_sup_little{margin-top:15px; width:195px;}
#project_status_little .projekt_sup_little th{
	font-size:9px;
	color:#707070;
	font-weight:bold;
	text-align:left;
}
#project_status_little .projekt_sup_little tr{font-size:11px; font-weight:bold}
#project_status_little .proj_little_days {text-align:center;}



.statikus_table td{
	width:215px;
	height:31px;
	text-align:center;
	background:url('/media/images/button.png') no-repeat center;
	font-weight:bold;
}
.statikus_table a{ color:#ffffff;}


#user_profil{padding-left:10px; width:630px;}
#user_profil hr, #owner_proj hr.potty {background:  url('/media/images/potty_vizszintes_tit.jpg') repeat-x bottom left; height:4px; border:none;}
#user_name{
	font-weight:bold;
	font-size:20px;
	color:#4bd039;
	margin-top:0px;
}
#user_info{color:#4bd039;}
#owner_proj{padding-left:10px;}
#owner_proj p{font-weight:bold; font-size:20px;}
#owner_proj span{font-weight:bold;}
#owner_proj th{ font-size:14px;}
#owner_proj td{ font-size:12px;}
#owner_proj textarea{ width:90%; border:#78EB6B 1px solid;}
#comment_box{
	border-bottom: #4bd039 2px dotted; 
	margin-bottom: 5px;
	padding-left:5px;
	margin-top:10px;
	width:510px;
	}
#comment_box .profile_image{float:left; display:inline; padding:5px; height:45px; max-width:65px; overflow:hidden;}
#comment_box  .comment{ padding:5px; padding-left:75px; width:435px;}
#comment_box  .blogcomment_user{ color:#4bd039; font-size:14px; font-weight:bold; padding-bottom:5px;}
#comment_box  .blogcomment_date{ color:#444444; font-size:11px; }
#comment_box  .blogcomment_text{ padding:10px 0px; text-align:justify; font-size:12px;}
#admin_menu{
	background:  url('/media/images/admin_menu_b.png') repeat-x bottom left; 
	height:71px;
	font-size:14px;
	display:inline-block;
	padding-left:23px;
	width:1000px;
	}
	
#admin_menu .activ{
	background:  url('/media/images/admin_menu_a.png') no-repeat;	
	padding-top:25px;	
	height:46px;
	width:150px;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	float:left;
	}
#admin_menu .passiv{
	background:  url('/media/images/admin_menu_d.png') no-repeat; 
	padding-top:25px;	
	height:46px;
	width:150px;
	display:inline-block;
	font-weight:bold;
	text-align:center;
	float:left;
	}
#simplegallery1{ 
position: relative; /*keep this intact*/
visibility: hidden; /*keep this intact*/
border: 3px solid black;
}

#simplegallery1 .gallerydesctext{ 
text-align: left;
padding: 2px 5px;
}
/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS,%20Tahoma,%20Verdana,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=12_gloss_wave.png&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=03_highlight_soft.png&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=02_glass.png&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=02_glass.png&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=03_highlight_soft.png&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=08_diagonals_thick.png&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=08_diagonals_thick.png&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=01_flat.png&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_ffffff_256x240.png); }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_ef8c08_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_228ef1_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_ffd27a_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*
 * jQuery UI Datepicker 1.8.16
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/**
 * jQuery Simple Dialog 
 */
.sd_container{
 font-family: arial,helvetica,sans-serif;
 margin:0;
 padding: 10px;
 position: absolute;
 background-color: #fff;
 border: solid 1px #ccc;
 text-align:center;
}
.sd_header{
 font-size: 125%;
 font-weight:bold;
 margin-bottom: 10px;
}
.sd_content{}
.sd_footer{
 color: #a0a0a0;
 margin-top: 10px;
}
.sd_overlay{
 position: absolute;
 margin:0;
 padding: 0;
 top: 0;
 left: 0;
 background-color: #222;
}
.sd_loading{
 background: url('indicator.gif') center no-repeat;
 background-color: #fff;
 height: 60px;
 width: 60px;
}
.sd_closelabel{
 position:absolute;
 width:50px;
 height:22px;
 line-height:22px;
 top:0;
 left:0;
 padding:5px;
 text-align:center;
 background-color:#ccc;
}
.sd_closelabel a {
 text-decoration:none;
 color: #222;
 font-size: 12px;
 font-weight:bold;
}

.msg{display:none;position:absolute;z-index:20000;background:url(/media/images/msg_arrow.gif) left center no-repeat;padding-left:7px;}.msgcontent{display:block;color:#002b55;background:#f3e6e6;border:2px solid #924949;border-left:none;padding:5px;min-width:150px;max-width:250px;} 
#jquery-overlay{position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;}#jquery-lightbox{position:absolute;top:0;left:0;width:100%;z-index:100;text-align:center;line-height:0;}#jquery-lightbox a img{border:none;} #lightbox-image{ max-height:800px; max-width:800px;}#lightbox-container-image-box{position:relative;background-color:white;width:250px;height:250px;margin:0 auto;}#lightbox-container-image{padding:10px;}#lightbox-loading{position:absolute;top:40%;left:0;height:25%;width:100%;text-align:center;line-height:0;}#lightbox-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}#lightbox-container-image-box>#lightbox-nav{left:0;}#lightbox-nav a{outline:none;}#lightbox-nav-btnPrev,#lightbox-nav-btnNext{width:49%;height:100%;zoom:1;display:block;}#lightbox-nav-btnPrev{left:0;float:left;}#lightbox-nav-btnNext{right:0;float:right;}#lightbox-container-image-data-box{font:10px Verdana,Helvetica,sans-serif;background-color:white;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0;}#lightbox-container-image-data{padding:0 10px;color:#000;}#lightbox-container-image-data #lightbox-image-details{width:70%;float:left;text-align:left;}#lightbox-image-details-caption{font-weight:bold;}#lightbox-image-details-currentNumber{display:block;clear:left;padding-bottom:1em;}#lightbox-secNav-btnClose{width:66px;float:right;padding-bottom:.7em;} 
.ui-helper-hidden{display:none;}.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none;}.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.ui-helper-clearfix{display:inline-block;}/* required comment for clearfix to work in Opera \*/ * html .ui-helper-clearfix{height:1%;}.ui-helper-clearfix{display:block;}/* end clearfix */ .ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0);}.ui-state-disabled{cursor:default!important;}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%;}.ui-widget{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1.1em;}.ui-widget .ui-widget{font-size:1em;}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1em;}.ui-widget-content{border:1px solid #ddd;background:#fff;color:#333;}.ui-widget-content a{color:#333;}.ui-widget-header{border:none;background:#ffffff;color:#000000;font-weight:bold;}.ui-widget-header a{color:#000000;}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:none;background:#f6f6f6 url(/media/images/jquery_ui/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;font-weight:bold;color:#1c94c4;}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#1c94c4;text-decoration:none;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #fbcb09;background:#fdf5ce url(/media/images/jquery_ui/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;font-weight:bold;color:#c77405;}.ui-state-hover a,.ui-state-hover a:hover{color:#c77405;text-decoration:none;}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #fbd850;background:#fff url(/media/images/jquery_ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:bold;color:#eb8f00;}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#eb8f00;text-decoration:none;}.ui-widget :active{outline:none;}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c url(/media/images/jquery_ui/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;color:#363636;}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636;}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url(/media/images/jquery_ui/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;color:#fff;}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#fff;}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#fff;}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold;}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal;}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none;}.ui-icon{width:16px;height:16px;background-image:url(/media/images/jquery_ui/ui-icons_222222_256x240.png);}.ui-widget-content .ui-icon{background-image:url(/media/images/jquery_ui/ui-icons_222222_256x240.png);}.ui-widget-header .ui-icon{/*background-image:url(/media/images/jquery_ui/ui-icons_ffffff_256x240.png);*/}.ui-state-default .ui-icon{background-image:url(/media/images/jquery_ui/ui-icons_ef8c08_256x240.png);}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(/media/images/jquery_ui/ui-icons_ef8c08_256x240.png);}.ui-state-active .ui-icon{background-image:url(/media/images/jquery_ui/ui-icons_ef8c08_256x240.png);}.ui-state-highlight .ui-icon{background-image:url(/media/images/jquery_ui/ui-icons_228ef1_256x240.png);}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(/media/images/jquery_ui/ui-icons_ffd27a_256x240.png);}.ui-icon-carat-1-n{background-position:0 0;}.ui-icon-carat-1-ne{background-position:-16px 0;}.ui-icon-carat-1-e{background-position:-32px 0;}.ui-icon-carat-1-se{background-position:-48px 0;}.ui-icon-carat-1-s{background-position:-64px 0;}.ui-icon-carat-1-sw{background-position:-80px 0;}.ui-icon-carat-1-w{background-position:-96px 0;}.ui-icon-carat-1-nw{background-position:-112px 0;}.ui-icon-carat-2-n-s{background-position:-128px 0;}.ui-icon-carat-2-e-w{background-position:-144px 0;}.ui-icon-triangle-1-n{background-position:0 -16px;}.ui-icon-triangle-1-ne{background-position:-16px -16px;}.ui-icon-triangle-1-e{background-position:-32px -16px;}.ui-icon-triangle-1-se{background-position:-48px -16px;}.ui-icon-triangle-1-s{background-position:-64px -16px;}.ui-icon-triangle-1-sw{background-position:-80px -16px;}.ui-icon-triangle-1-w{background-position:-96px -16px;}.ui-icon-triangle-1-nw{background-position:-112px -16px;}.ui-icon-triangle-2-n-s{background-position:-128px -16px;}.ui-icon-triangle-2-e-w{background-position:-144px -16px;}.ui-icon-arrow-1-n{background-position:0 -32px;}.ui-icon-arrow-1-ne{background-position:-16px -32px;}.ui-icon-arrow-1-e{background-position:-32px -32px;}.ui-icon-arrow-1-se{background-position:-48px -32px;}.ui-icon-arrow-1-s{background-position:-64px -32px;}.ui-icon-arrow-1-sw{background-position:-80px -32px;}.ui-icon-arrow-1-w{background-position:-96px -32px;}.ui-icon-arrow-1-nw{background-position:-112px -32px;}.ui-icon-arrow-2-n-s{background-position:-128px -32px;}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}.ui-icon-arrow-2-e-w{background-position:-160px -32px;}.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}.ui-icon-arrowstop-1-n{background-position:-192px -32px;}.ui-icon-arrowstop-1-e{background-position:-208px -32px;}.ui-icon-arrowstop-1-s{background-position:-224px -32px;}.ui-icon-arrowstop-1-w{background-position:-240px -32px;}.ui-icon-arrowthick-1-n{background-position:0 -48px;}.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}.ui-icon-arrowthick-1-e{background-position:-32px -48px;}.ui-icon-arrowthick-1-se{background-position:-48px -48px;}.ui-icon-arrowthick-1-s{background-position:-64px -48px;}.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}.ui-icon-arrowthick-1-w{background-position:-96px -48px;}.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}.ui-icon-arrow-4{background-position:0 -80px;}.ui-icon-arrow-4-diag{background-position:-16px -80px;}.ui-icon-extlink{background-position:-32px -80px;}.ui-icon-newwin{background-position:-48px -80px;}.ui-icon-refresh{background-position:-64px -80px;}.ui-icon-shuffle{background-position:-80px -80px;}.ui-icon-transfer-e-w{background-position:-96px -80px;}.ui-icon-transferthick-e-w{background-position:-112px -80px;}.ui-icon-folder-collapsed{background-position:0 -96px;}.ui-icon-folder-open{background-position:-16px -96px;}.ui-icon-document{background-position:-32px -96px;}.ui-icon-document-b{background-position:-48px -96px;}.ui-icon-note{background-position:-64px -96px;}.ui-icon-mail-closed{background-position:-80px -96px;}.ui-icon-mail-open{background-position:-96px -96px;}.ui-icon-suitcase{background-position:-112px -96px;}.ui-icon-comment{background-position:-128px -96px;}.ui-icon-person{background-position:-144px -96px;}.ui-icon-print{background-position:-160px -96px;}.ui-icon-trash{background-position:-176px -96px;}.ui-icon-locked{background-position:-192px -96px;}.ui-icon-unlocked{background-position:-208px -96px;}.ui-icon-bookmark{background-position:-224px -96px;}.ui-icon-tag{background-position:-240px -96px;}.ui-icon-home{background-position:0 -112px;}.ui-icon-flag{background-position:-16px -112px;}.ui-icon-calendar{background-position:-32px -112px;}.ui-icon-cart{background-position:-48px -112px;}.ui-icon-pencil{background-position:-64px -112px;}.ui-icon-clock{background-position:-80px -112px;}.ui-icon-disk{background-position:-96px -112px;}.ui-icon-calculator{background-position:-112px -112px;}.ui-icon-zoomin{background-position:-128px -112px;}.ui-icon-zoomout{background-position:-144px -112px;}.ui-icon-search{background-position:-160px -112px;}.ui-icon-wrench{background-position:-176px -112px;}.ui-icon-gear{background-position:-192px -112px;}.ui-icon-heart{background-position:-208px -112px;}.ui-icon-star{background-position:-224px -112px;}.ui-icon-link{background-position:-240px -112px;}.ui-icon-cancel{background-position:0 -128px;}.ui-icon-plus{background-position:-16px -128px;}.ui-icon-plusthick{background-position:-32px -128px;}.ui-icon-minus{background-position:-48px -128px;}.ui-icon-minusthick{background-position:-64px -128px;}.ui-icon-close{background-position:-80px -128px;}.ui-icon-closethick{background-position:-96px -128px;}.ui-icon-key{background-position:-112px -128px;}.ui-icon-lightbulb{background-position:-128px -128px;}.ui-icon-scissors{background-position:-144px -128px;}.ui-icon-clipboard{background-position:-160px -128px;}.ui-icon-copy{background-position:-176px -128px;}.ui-icon-contact{background-position:-192px -128px;}.ui-icon-image{background-position:-208px -128px;}.ui-icon-video{background-position:-224px -128px;}.ui-icon-script{background-position:-240px -128px;}.ui-icon-alert{background-position:0 -144px;}.ui-icon-info{background-position:-16px -144px;}.ui-icon-notice{background-position:-32px -144px;}.ui-icon-help{background-position:-48px -144px;}.ui-icon-check{background-position:-64px -144px;}.ui-icon-bullet{background-position:-80px -144px;}.ui-icon-radio-off{background-position:-96px -144px;}.ui-icon-radio-on{background-position:-112px -144px;}.ui-icon-pin-w{background-position:-128px -144px;}.ui-icon-pin-s{background-position:-144px -144px;}.ui-icon-play{background-position:0 -160px;}.ui-icon-pause{background-position:-16px -160px;}.ui-icon-seek-next{background-position:-32px -160px;}.ui-icon-seek-prev{background-position:-48px -160px;}.ui-icon-seek-end{background-position:-64px -160px;}.ui-icon-seek-start{background-position:-80px -160px;}.ui-icon-seek-first{background-position:-80px -160px;}.ui-icon-stop{background-position:-96px -160px;}.ui-icon-eject{background-position:-112px -160px;}.ui-icon-volume-off{background-position:-128px -160px;}.ui-icon-volume-on{background-position:-144px -160px;}.ui-icon-power{background-position:0 -176px;}.ui-icon-signal-diag{background-position:-16px -176px;}.ui-icon-signal{background-position:-32px -176px;}.ui-icon-battery-0{background-position:-48px -176px;}.ui-icon-battery-1{background-position:-64px -176px;}.ui-icon-battery-2{background-position:-80px -176px;}.ui-icon-battery-3{background-position:-96px -176px;}.ui-icon-circle-plus{background-position:0 -192px;}.ui-icon-circle-minus{background-position:-16px -192px;}.ui-icon-circle-close{background-position:-32px -192px;}.ui-icon-circle-triangle-e{background-position:-48px -192px;}.ui-icon-circle-triangle-s{background-position:-64px -192px;}.ui-icon-circle-triangle-w{background-position:-80px -192px;}.ui-icon-circle-triangle-n{background-position:-96px -192px;}.ui-icon-circle-arrow-e{background-position:-112px -192px;}.ui-icon-circle-arrow-s{background-position:-128px -192px;}.ui-icon-circle-arrow-w{background-position:-144px -192px;}.ui-icon-circle-arrow-n{background-position:-160px -192px;}.ui-icon-circle-zoomin{background-position:-176px -192px;}.ui-icon-circle-zoomout{background-position:-192px -192px;}.ui-icon-circle-check{background-position:-208px -192px;}.ui-icon-circlesmall-plus{background-position:0 -208px;}.ui-icon-circlesmall-minus{background-position:-16px -208px;}.ui-icon-circlesmall-close{background-position:-32px -208px;}.ui-icon-squaresmall-plus{background-position:-48px -208px;}.ui-icon-squaresmall-minus{background-position:-64px -208px;}.ui-icon-squaresmall-close{background-position:-80px -208px;}.ui-icon-grip-dotted-vertical{background-position:0 -224px;}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}.ui-icon-grip-solid-vertical{background-position:-32px -224px;}.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}.ui-icon-grip-diagonal-se{background-position:-80px -224px;}.ui-corner-tl{-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;}.ui-corner-tr{-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;}.ui-corner-bl{-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;}.ui-corner-br{-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;}.ui-corner-top{-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;}.ui-corner-bottom{-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;}.ui-corner-right{-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;border-top-right-radius:0px;-moz-border-radius-bottomright:0px;-webkit-border-bottom-right-radius:0px;border-bottom-right-radius:0px;}.ui-corner-left{-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;-moz-border-radius-bottomleft:0px;-webkit-border-bottom-left-radius:0px;border-bottom-left-radius:0px;}.ui-corner-all{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;}.ui-widget-overlay{background:#666 url(/media/images/jquery_ui/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;opacity:.50;filter:Alpha(Opacity=50);}.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000 url(/media/images/jquery_ui/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;opacity:.20;filter:Alpha(Opacity=20);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}.ui-resizable{position:relative;}.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block;}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0;}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0;}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%;}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%;}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px;}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px;}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px;}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px;}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black;}.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none!important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}.ui-button-icon-only{width:2.2em;}button.ui-button-icon-only{width:2.4em;}.ui-button-icons-only{width:3.4em;}button.ui-button-icons-only{width:3.7em;}.ui-button .ui-button-text{display:block;line-height:1.4;}.ui-button-text-only .ui-button-text{padding:.4em 1em;}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}input.ui-button{padding:.4em 1em;}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px;}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em;}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}.ui-buttonset{margin-right:7px;}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}button.ui-button::-moz-focus-inner{border:0;padding:0;}.ui-dialog{position:absolute;background: #3bcc6f url('/media/images/bcg.png') repeat-y left;padding:1em;width:300px;overflow:hidden;}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative;}.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:19px;margin:-10px 0 0 0;padding:1px;height:18px;}.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:#ffffff;overflow:auto;zoom:1;}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer;}.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px;}.ui-draggable .ui-dialog-titlebar{cursor:move;} 
/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbase {
width: 8px;
}
.vscrollerbar {
width: 8px;
background-color: white;
cursor:pointer;
}
.hscrollerbase {
height: 8px;
}
.hscrollerbar {
height: 8px;
background-color: white;
cursor:pointer;
}

.scrollerjogbox {
width: 8px;
height: 10px;
top: auto; left: auto;
bottom: 0px; right: 0px;
}